<section id="everythingAboutAnalysis" style="margin-top:-60px;">
    <div class="container my-4">
      <div class="row analize-container">

      <!-- flask sve o bihemijskim analizama -->
        <div class="d-none d-md-block col-12 col-md-6 col-lg-4">
            <img data-lazy="images/flask.svg" class="functionalityIcons flaskFunc imgLazy">
        </div>
        <div class="col-12 col-md-6 col-lg-8 py-4 d-flex flex-column justify-content-center textLazy">
            <h2 class="functionalitiesTitle">"Al' ja znam ključ, ja poznajem tu bravu!"</h2>
            <small>Udružili smo snage sa našim kolegama iz laboratorija i profesorima sa Farmaceutskog fakulteta, zajedno smo pametniji i jači!</small>
        </div>

      <!--  najbolje mesta u gradu-->
        <div class="col-12 col-md-6 col-lg-8 py-4 d-flex flex-column justify-content-center textLazy">
            <h2 class="functionalitiesTitle">"Kada misliš da si sam, mi smo ovde, ima nas gomila!"</h2>
            <small>Naša baza privatnih laboratorija se redovno ažurira.</small>
        </div>
        <div class="d-none d-md-block col-12 col-md-6 col-lg-4">
            <img data-lazy="/images/map.svg" class="functionalityIcons imgLazy">
        </div>

      <!-- tumacenje rezultata -->
        <div class="d-none d-md-block col-md-6 col-lg-5">
            <img data-lazy="/images/microscope.svg" class="functionalityIcons microscopeFunc imgLazy">
        </div>
        <div class="col-12 col-md-6 col-lg-7 py-4 d-flex flex-column justify-content-center textLazy">
            <h2 class="functionalitiesTitle">"A šta sam ja, ne’am šamana?"</h2>
            <small>Naš tim sačinjavaju biohemičari sa višegodišnjim iskustvom iz državnih ili privatnih laboratorija, pa Vam šamani neće biti potrebni. Savetovanje pre uzorkovanja ili nakon dobijanja rezultata prepustite nama.
</small>
        </div>

        <!--  dashboard -->
          <div class="col-12 col-md-6 col-lg-8 py-4 d-flex flex-column justify-content-center textLazy" >
              <h2 class="functionalitiesTitle">"Stavi pravu stvar na pravo mjesto, čini to često!"</h2>
              <small>Prilika da jednostavno, sigurno, brzo, detaljno i u bilo kom trenutku dobijete uvid u Vašu istoriju laboratorijskih rezultata.</small>
          </div>
          <div class="d-none d-md-block col-12 col-md-6 col-lg-4">
              <img data-lazy="/images/folder.svg" class="functionalityIcons folderFunc imgLazy">
          </div>

          <!-- signup -->
            <div class="d-none d-md-block col-12 col-md-6 col-lg-4">
                <img data-lazy="/images/signUp.svg" class=" signUpFunc imgLazy">
            </div>
            <div class="col-12 col-md-6 col-lg-8 py-4 d-flex flex-column justify-content-center textLazy">
                <h2 class="functionalitiesTitle">“Hello, I love you, won't you tell me your name?”</h2>
                <small>Napravite nalog i odškrinite “vrata” online laboratorijskog univerzuma. Pronađite najbližu, najbolju, najjeftiniju laboratoriju, posavetujte se sa nama pre zakazivanja, ili nakon dobijanja rezultata. Zakažite posetu ili dolazak na Vašu adresu, pogledajte svoje rezultate, pratite istoriju svojih rezultata i podelite ih sa svojim izabranim lekarom.</small>
                <div class="">
                  <a href='/registracija' class="btn btn-success text-uppercase mt-4">registruj se</a>
                </div>
            </div>


    </div><!-- container end -->
  </section><!-- analize-wrapper end -->
