<section id="everythingAboutAnalysis">
    <div class="container my-4">
      <div class="row analize-container">

      <!-- flask sve o bihemijskim analizama -->
        <div class="col-12 col-md-6 col-lg-4">
            <img src="images/flask.svg" class="functionalityIcons flaskFunc">
        </div>
        <div class="col-12 col-md-6 col-lg-8 py-4 d-flex flex-column justify-content-center">
            <h2 class="functionalitiesTitle">Znamo baš sve o biohemijskim analizama.</h2>
            <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</small>
        </div>

      <!--  najbolje mesta u gradu-->
        <div class="col-12 col-md-6 col-lg-8 py-4 d-flex flex-column justify-content-center">
            <h2 class="functionalitiesTitle">Možemo ti reći gde i koliko košta.</h2>
            <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</small>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <img src="/images/map.svg" class="functionalityIcons">
        </div>

      <!-- tumacenje rezultata -->
        <div class="d-none d-md-block col-md-6 col-lg-5">
            <img src="/images/microscope.svg" class="functionalityIcons microscopeFunc">
        </div>
        <div class="col-12 col-md-6 col-lg-7 py-4 d-flex flex-column justify-content-center">
            <h2 class="functionalitiesTitle">Mi ćemo protumačiti rezultate.</h2>
            <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</small>
        </div>

        <!--  dashboard -->
          <div class="col-12 col-md-6 col-lg-8 py-4 d-flex flex-column justify-content-center" >
              <h2 class="functionalitiesTitle">Svi tvoji rezultati na jednom mestu.</h2>
              <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</small>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
              <img src="/images/folder.svg" class="functionalityIcons folderFunc">
          </div>

          <!-- signup -->
            <div class="col-12 col-md-6 col-lg-4">
                <img src="/images/signUp.svg" class=" signUpFunc">
            </div>
            <div class="col-12 col-md-6 col-lg-8 py-4 d-flex flex-column justify-content-center">
                <h2 class="functionalitiesTitle">Sviđa ti se ideja? Hajde da se upoznamo.</h2>
                <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</small>
                <div class="">
                  <a href='/registracija' class="btn btn-success text-uppercase mt-4">registruj se</a>
                </div>

            </div>


    </div><!-- container end -->
  </section><!-- analize-wrapper end -->
