<section id="everythingAboutAnalysis" style="margin-top:-60px;">
    <div class="container my-4">
      <div class="row analize-container">

      <!-- flask sve o bihemijskim analizama -->
        <div class="d-none d-md-block col-12 col-md-6 col-lg-4">
            <img data-lazy="images/flask.svg" class="functionalityIcons flaskFunc imgLazy">
        </div>
        <div class="col-12 col-md-6 col-lg-8 py-4 d-flex flex-column justify-content-center textLazy">
            <h2 class="functionalitiesTitle">Razumljivi opisi biohemijskih analiza.</h2>
            <p>Pretražite našu bazu sa opisima biohemijskih analiza i saznajte zašto se neke analize traže, s kojim stanjima u organizmu su povezane i na koje promene nam povišene ili snižene vrednosti ukazuju. Odaberite filter analiza i ukucajte najmanje 2 karaktera, ostalo će uraditi LabCube</p>
        </div>

      <!--  najbolje mesta u gradu-->
        <div class="col-12 col-md-6 col-lg-8 py-4 d-flex flex-column justify-content-center textLazy">
            <h2 class="functionalitiesTitle">Adresa, telefon, radno vreme, svi detalji su tu.</h2>
            <p>Sve bitne informacije o privatnim laboratorijama u Srbiji su ovde. Odaberite filter "laboratorija" i pronađite laboratoriju po imenu. Ukoliko Vam više odgovara pretraga po mapi skrolujte dole i pogledajte mapu laboratorija.</p>
        </div>
        <div class="d-none d-md-block col-12 col-md-6 col-lg-4">
            <img data-lazy="/images/map.svg" class="functionalityIcons imgLazy">
        </div>

      <!-- tumacenje rezultata -->
        <div class="d-none d-md-block col-md-6 col-lg-5">
            <img data-lazy="/images/microscope.svg" class="functionalityIcons microscopeFunc imgLazy">
        </div>
        <div class="col-12 col-md-6 col-lg-7 py-4 d-flex flex-column justify-content-center textLazy">
            <h2 class="functionalitiesTitle">Mi smo biohemičari i možemo da pogledamo.</h2>
            <p>Ne morate više da pitate google šta znači povišen CRP, koji od ona dva je "dobar" holesterol itd..napravili smo servis za tumačenje rezultata iza koga stoje iskusni biohemičari i lekari. Napravite nalog i pošaljite rezultate, platite online direktno na stranici. Protumačene rezultate<sup>*</sup> dobijate u roku od 24h. Pogledajte <a href="tumacenje-laboratorijskih-analiza/#demoAccount" target="_blank">ovde</a> kako mi to radimo</p> 
        </div>

        <!--  dashboard -->
          <div class="col-12 col-md-6 col-lg-8 py-4 d-flex flex-column justify-content-center textLazy" >
              <h2 class="functionalitiesTitle">Nema više traženja rezultata po inboxu.</h2>
              <p>Ne morate više da pretražujete inbox kako biste našli Vaše rezultate biohemijskih analiza. Vaši rezultati su na jednom mestu, hronološki sortirani. Lako dostupni. Vaše rezultate smatramo strogo pov. Pročitajte više o tome kako brinemo o Vašim podacima. </p>
          </div>
          <div class="d-none d-md-block col-12 col-md-6 col-lg-4">
              <img data-lazy="/images/folder.svg" class="functionalityIcons folderFunc imgLazy">
          </div>

          <!-- signup -->
            <div class="d-none d-md-block col-12 col-md-6 col-lg-4">
                <img data-lazy="/images/signUp.svg" class=" signUpFunc imgLazy">
            </div>
            <div class="col-12 col-md-6 col-lg-8 py-4 d-flex flex-column justify-content-center textLazy">
                <h2 class="functionalitiesTitle">Ne zvuči loše? Još je bolje kada napravite nalog.</h2>
                <p>Mislimo da uvek može bolje i stalno imamo nove ideje, svakodnevno radimo na novim funkcionalnostima koje su dostupne registrovanim korisnicima. <a href="/registracija">Registrujte se</a> za 10 sekundi. Najbolji trenutak da napravite nalog bio je pre 10 sekundi, sledeći najbolji trenutak je sada.</p>
                <!-- <p>Napravite nalog i odškrinite “vrata” online laboratorijskog univerzuma. Pronađite najbližu, najbolju, najjeftiniju laboratoriju, posavetujte se sa nama pre zakazivanja, ili nakon dobijanja rezultata. Zakažite posetu ili dolazak na Vašu adresu, pogledajte svoje rezultate, pratite istoriju svojih rezultata i podelite ih sa svojim izabranim lekarom.</p> -->
                <div class="">
                  <a href='/registracija' class="btn btn-success text-uppercase mt-4">napravite nalog</a>
                </div>
            </div>


    </div><!-- container end -->
  </section><!-- analize-wrapper end -->
