<section id="everythingAboutAnalysis" style="margin-top:-60px;">
    <div class="container my-4">
      <div class="row analize-container">

      <!-- flask sve o bihemijskim analizama -->
        <div class="d-none d-md-block col-12 col-md-6 col-lg-4">
            <img data-lazy="images/flask.svg" class="functionalityIcons flaskFunc imgLazy">
        </div>
        <div class="col-12 col-md-6 col-lg-8 py-4 d-flex flex-column justify-content-center textLazy">
            <h2 class="functionalitiesTitle">Razumljivi opisi biohemijskih analiza</h2>
            <p>Pretražite našu bazu sa opsima biohemijskih analiza i saznajte zašto se neke analize traže, s kojim stanjima u organizmu su povezane i na koje promene nam povišene ili snižene vrednosti ukazuju. Odaberite filter analiza i ukucajte najmanje 2 karaktera, ostalo će uraditi LabCube</p>
        </div>

      <!--  najbolje mesta u gradu-->
        <div class="col-12 col-md-6 col-lg-8 py-4 d-flex flex-column justify-content-center textLazy">
            <h2 class="functionalitiesTitle">Lokacije svih laboratorija u Srbiji su tu</h2>
            <p>Sve što vas zanima o privatnim laboratorijama u Srbiji je ovde. Odaberite filter "laboratorija" i pronađite laboratoriju po imenu. Ukoliko Vam više odgovara pretrga po mapi skrolujte dole i pogledajte mapu laboratorija.</p>
        </div>
        <div class="d-none d-md-block col-12 col-md-6 col-lg-4">
            <img data-lazy="/images/map.svg" class="functionalityIcons imgLazy">
        </div>

      <!-- tumacenje rezultata -->
        <div class="d-none d-md-block col-md-6 col-lg-5">
            <img data-lazy="/images/microscope.svg" class="functionalityIcons microscopeFunc imgLazy">
        </div>
        <div class="col-12 col-md-6 col-lg-7 py-4 d-flex flex-column justify-content-center textLazy">
            <h2 class="functionalitiesTitle">Mi možemo da pogledamo</h2>
            <p>Naš tim čine biohemičari sa višegodišnjim iskustvom iz državnih i privatnih laboratorija. Savetovanje pre uzorkovanja ili nakon dobijanja rezultata prepustite nama. Mi možemo pogledati Vaše rezultate i možemo da odgovorimo na sva Vaša pitanja kao i da Vam damo savet za sledeći korak. Ukoliko Vam je potrebno tumačenje rezultata, <a href="tumacenje-laboratorijskih-analiza" target="_blank">kliknite ovde</a>. Ukoliko Vam je potreban savet pre odlaska u laboratoriju pokrenite chat sa našim kolegama biohemičarima koji će vas posavetovati i to potpuno besplatno.

</p>
        </div>

        <!--  dashboard -->
          <div class="col-12 col-md-6 col-lg-8 py-4 d-flex flex-column justify-content-center textLazy" >
              <h2 class="functionalitiesTitle">I rezultati analiza su u oblaku</h2>
              <p>Prilika da jednostavno, sigurno, brzo, detaljno i u bilo kom trenutku dobijete uvid u Vašu istoriju laboratorijskih rezultata.</p>
          </div>
          <div class="d-none d-md-block col-12 col-md-6 col-lg-4">
              <img data-lazy="/images/folder.svg" class="functionalityIcons folderFunc imgLazy">
          </div>

          <!-- signup -->
            <div class="d-none d-md-block col-12 col-md-6 col-lg-4">
                <img data-lazy="/images/signUp.svg" class=" signUpFunc imgLazy">
            </div>
            <div class="col-12 col-md-6 col-lg-8 py-4 d-flex flex-column justify-content-center textLazy">
                <h2 class="functionalitiesTitle">“Hello, I love you, won't you tell me your name?”</h2>
                <p>Napravite nalog i odškrinite “vrata” online laboratorijskog univerzuma. Pronađite najbližu, najbolju, najjeftiniju laboratoriju, posavetujte se sa nama pre zakazivanja, ili nakon dobijanja rezultata. Zakažite posetu ili dolazak na Vašu adresu, pogledajte svoje rezultate, pratite istoriju svojih rezultata i podelite ih sa svojim izabranim lekarom.</p>
                <div class="">
                  <a href='/registracija' class="btn btn-success text-uppercase mt-4">registruj se</a>
                </div>
            </div>


    </div><!-- container end -->
  </section><!-- analize-wrapper end -->
