<section id="everythingAboutAnalysis">


    <div class="container my-4">
        <div class="row analize-container">

          {{!-- <div class="col-12 col-md-12 col-lg-6 py-4 textLazy">
              <h2 class="functionalitiesTitle">Šta mogu da uradim za minut na ovoj stranici?</h2>
              <p class="generalInformation">Možete odabrati analize koje su Vam potrebne i opštinu u kojoj želite da ih uradite. LabCube će pronaći najpovoljniju/najbližu laboratoriju i omogućiti Vam da odaberete najbolju ponudu. Osim uštede, možete saznati više o svakoj od analiza koje su Vam potrebne ili nam možete poslati rezultate laboratorije za koje Vam je potrebno tumačenje.  </p>
          </div>
          <div class="d-none d-sm-block col-lg-6 mb-5">
            <div class="mobile-wrapper">
              <iframe  src="https://www.youtube.com/embed/jMaOnv6l-ko" title="YouTube video player" class="functionalityIcons" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <div class="ml-3 d-sm-none">
            <a href="https://www.youtube.com/embed/jMaOnv6l-ko" target="_blank" class="btn btn-success text-uppercase mt-4 float-right">pogledajte kako</a>
          </div> --}}



        <!-- tumacenje rezultata -->
          <div class="d-none d-md-block col-md-6 col-lg-5 mt-3">
              <img data-lazy="/images/microscope.svg" class="functionalityIcons microscopeFunc imgLazy">
          </div>
          <div class="col-12 col-md-6 col-lg-7 py-4 d-flex flex-column justify-content-center textLazy">
              <h2 class="functionalitiesTitle">Imaš dilemu? Mi smo biohemičari i možemo da pogledamo</h2>
              <p class="generalInformation">Umesto da pitaš Google šta znači povišen CRP, koji od ona dva je "dobar" holesterol itd, napravili smo servis za interpretaciju rezultata iza koga stoje iskusni biohemičari i lekari. </p>
              <div class="">
                <a href="/tumacenje-laboratorijskih-analiza" target="_blank" class="btn btn-success text-uppercase mt-4 float-right">protumači rezultate</a>
              </div>
          </div>

          <!--  dashboard -->
            <div class="col-12 col-md-6 col-lg-8 py-4 d-flex flex-column justify-content-center textLazy" >
                <h2 class="functionalitiesTitle">Nema više traženja rezultata po inboxu.</h2>
                <p class="generalInformation">Ne moraš više da pretražuješ inbox kako bi pronašao/pronašla laboratorijske rezultate. Tvoji rezultati su na jednom mestu, hronološki sortirani i bezbedni. Lako dostupni. Smatramo ih strogo poverljivim.<a href="/politika-privatnosti" target="_blank"> Pročitaj više</a> o tome kako brinemo o tvojim podacima.</p>
            </div>
            <div class="d-none d-md-block col-12 col-md-6 col-lg-4">
                <img data-lazy="/images/folder.svg" class="functionalityIcons folderFunc imgLazy">
            </div>

      <!-- flask sve o bihemijskim analizama -->
        <div class="d-none d-md-block col-12 col-md-6 col-lg-4">
            <img data-lazy="images/flask.svg" class="functionalityIcons flaskFunc imgLazy">
        </div>
        <div class="col-12 col-md-6 col-lg-8 py-4 d-flex flex-column justify-content-center textLazy">
            <h2 class="functionalitiesTitle">Sada razumem šta laboratorijski rezultat znači</h2>
            <p class="generalInformation">Pretraži našu bazu opisa biohemijskih analiza i saznaj zašto lekari neke analize traže, s kojim stanjima organizma su povezane i na šta mogu povišene ili snižene vrednosti da nam ukažu. Odaberi filter analiza i u polje za pretragu unesi najmanje 2 karaktera, LabCube će uraditi pretragu za tebe.</p>
        </div>

      <!--  najbolje mesta u gradu-->
        <div class="col-12 col-md-6 col-lg-8 py-4 d-flex flex-column justify-content-center textLazy">
            <h2 class="functionalitiesTitle">Sve bitne informacije o privatnim laboratorijama u Srbiji</h2>
            <p class="generalInformation">Adresa, telefon, radno vreme, svi detalji su tu. Izaberi filter "laboratorija" i pronađi laboratoriju po imenu. Ukoliko ti više odgovara grafički prikaz, niže na stranici se nalazi mapa sa lokacijama svih laboratorija.</p>
        </div>
        <div class="d-none d-md-block col-12 col-md-6 col-lg-4">
            <img data-lazy="/images/map.svg" class="functionalityIcons imgLazy">
        </div>


          <!-- signup -->
            <div class="d-none d-md-block col-12 py-4 col-md-6 col-lg-4">
                <img data-lazy="/images/signUp.svg" class=" signUpFunc functionalityIcons p-2 imgLazy">
            </div>
            <div class="col-12 col-md-6 col-lg-8 py-4 d-flex flex-column justify-content-center textLazy">
                <h2 class="functionalitiesTitle">Ne zvuči loše? Još je bolje kada imaš nalog</h2>
                <p class="generalInformation">Mislimo da uvek može bolje i stalno imamo nove ideje, svakodnevno radimo na novim funkcionalnostima koje su dostupne registrovanim korisnicima. <a href="/registracija" target="_blank">Registruj se</a> za 10 sekundi. Najbolji trenutak da napraviš nalog bio je pre 10 sekundi, sledeći najbolji trenutak je sada.</p>
                <!-- <p>Napravite nalog i odškrinite “vrata” online laboratorijskog univerzuma. Pronađite najbližu, najbolju, najjeftiniju laboratoriju, posavetujte se sa nama pre zakazivanja, ili nakon dobijanja rezultata. Zakažite posetu ili dolazak na Vašu adresu, pogledajte svoje rezultate, pratite istoriju svojih rezultata i podelite ih sa svojim izabranim lekarom.</p> -->
                <div class="">
                  <a href="/registracija" target="_blank" class="btn btn-success text-uppercase mt-4">napravi nalog</a>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-8 py-4 d-flex flex-column justify-content-center textLazy">
                <h2 class="functionalitiesTitle">Mislili smo i na najmlađe :-)</h2>
                <p class="generalInformation">Kako da od odlaska u laboratoriju, umesto traume, svom detetu upriličiš avanturu? Nama je uspelo, a sada <a href="https://youtu.be/3F08ilmXu9o" target="_blank" class="noLink">klik <i class="far fa-hand-point-right"></i></a></p>
            </div>
            <div class="d-none d-md-block col-12 col-md-6 col-lg-4">
              <a href="https://youtu.be/3F08ilmXu9o" target="_blank">
                <img data-lazy="/images/YT_icon.svg" class="functionalityIcons ytIcon imgLazy">
                </a>
            </div>


    </div><!-- container end -->
  </section><!-- analize-wrapper end -->
