<section id="everythingAboutAnalysis" style="margin-top:-60px;">


    <div class="container my-4">
        <div class="row analize-container">

          <div class="col-12 col-md-12 col-lg-6 py-4 textLazy">
              <h2 class="functionalitiesTitle">Šta mogu da uradim za minut na ovoj stranici?</h2>
              <p class="generalInformation">Možete odabrati analize koje su Vam potrebne i opštinu na kojoj želite da ih uradite. LabCube će pronaći najpovoljniju/najbližu laboratoriju i omogućiti Vam da odaberete najbolju ponudu. Osim uštede, možete saznati više o svakoj od analiza koje su Vam potrebne.  </p>
          </div>
          <div class="d-none d-sm-block col-lg-6 mb-5">
            <div class="mobile-wrapper">
              <iframe  src="https://www.youtube.com/embed/jMaOnv6l-ko" title="YouTube video player" class="functionalityIcons" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <div class="ml-3 d-sm-none">
            <a href="https://www.youtube.com/embed/jMaOnv6l-ko" target="_blank" class="btn btn-success text-uppercase mt-4 float-right">pogledajte kako</a>
          </div>



        <!-- tumacenje rezultata -->
          <div class="d-none d-md-block col-md-6 col-lg-5 mt-3">
              <img data-lazy="/images/microscope.svg" class="functionalityIcons microscopeFunc imgLazy">
          </div>
          <div class="col-12 col-md-6 col-lg-7 py-4 d-flex flex-column justify-content-center textLazy">
              <h2 class="functionalitiesTitle">Imate dilemu? Mi smo biohemičari i možemo da pogledamo</h2>
              <p class="generalInformation">Umesto da pitate Google šta znači povišen CRP, koji od ona dva je "dobar" holesterol itd, napravili smo servis za interpretaciju rezultata iza koga stoje iskusni biohemičari i lekari. </p>
              <div class="">
                <a href="/tumacenje-laboratorijskih-analiza" target="_blank" class="btn btn-success text-uppercase mt-4 float-right">protumači rezultate</a>
              </div>
          </div>

          <!--  dashboard -->
            <div class="col-12 col-md-6 col-lg-8 py-4 d-flex flex-column justify-content-center textLazy" >
                <h2 class="functionalitiesTitle">Nema više traženja rezultata po inboxu. Dashboard je tu</h2>
                <p class="generalInformation">Ne morate više da pretražujete inbox kako biste pronašli laboratorijske rezultate. Vaši rezultati su na jednom mestu, hronološki sortirani i grafički prikazani. Lako dostupni. Smatramo ih strogo poverljivim.<a href="/politika-privatnosti" target="_blank"> Pročitajte više</a> o tome kako brinemo o Vašim podacima</p>
            </div>
            <div class="d-none d-md-block col-12 col-md-6 col-lg-4">
                <img data-lazy="/images/folder.svg" class="functionalityIcons folderFunc imgLazy">
            </div>

      <!-- flask sve o bihemijskim analizama -->
        <div class="d-none d-md-block col-12 col-md-6 col-lg-4">
            <img data-lazy="images/flask.svg" class="functionalityIcons flaskFunc imgLazy">
        </div>
        <div class="col-12 col-md-6 col-lg-8 py-4 d-flex flex-column justify-content-center textLazy">
            <h2 class="functionalitiesTitle">Sada razumem šta laboratorijski rezultat znači</h2>
            <p class="generalInformation">Pretražite našu bazu opisa biohemijskih analiza i saznajte zašto lekari neke analize traže, s kojim stanjima organizma su povezane i na šta mogu povišene ili snižene vrednosti da nam ukažu. Odaberite filter analiza i u polje za pretragu ukucajte najmanje 2 karaktera, LabCube će uraditi pretragu za Vas.</p>
        </div>

      <!--  najbolje mesta u gradu-->
        <div class="col-12 col-md-6 col-lg-8 py-4 d-flex flex-column justify-content-center textLazy">
            <h2 class="functionalitiesTitle">Sve bitne informacije o privatnim laboratorijama u Srbiji</h2>
            <p class="generalInformation">Adresa, telefon, radno vreme, svi detalji su tu. Izaberite filter "laboratorija" i pronađite laboratoriju po imenu. Ukoliko Vam više odgovara grafički prikaz, niže na stranici se nalazi mapa sa lokacijama svih laboratorija.</p>
        </div>
        <div class="d-none d-md-block col-12 col-md-6 col-lg-4">
            <img data-lazy="/images/map.svg" class="functionalityIcons imgLazy">
        </div>


          <!-- signup -->
            <div class="d-none d-md-block col-12 py-4 col-md-6 col-lg-4">
                <img data-lazy="/images/signUp.svg" class=" signUpFunc functionalityIcons p-2 imgLazy">
            </div>
            <div class="col-12 col-md-6 col-lg-8 py-4 d-flex flex-column justify-content-center textLazy">
                <h2 class="functionalitiesTitle">Ne zvuči loše? Još je bolje kada kreirate nalog</h2>
                <p class="generalInformation">Mislimo da uvek može bolje i stalno imamo nove ideje, svakodnevno radimo na novim funkcionalnostima koje su dostupne registrovanim korisnicima. <a href="/registracija" target="_blank">Registrujte se</a> za 10 sekundi. Najbolji trenutak da napravite nalog bio je pre 10 sekundi, sledeći najbolji trenutak je sada.</p>
                <!-- <p>Napravite nalog i odškrinite “vrata” online laboratorijskog univerzuma. Pronađite najbližu, najbolju, najjeftiniju laboratoriju, posavetujte se sa nama pre zakazivanja, ili nakon dobijanja rezultata. Zakažite posetu ili dolazak na Vašu adresu, pogledajte svoje rezultate, pratite istoriju svojih rezultata i podelite ih sa svojim izabranim lekarom.</p> -->
                <div class="">
                  <a href="/registracija" target="_blank" class="btn btn-success text-uppercase mt-4">napravite nalog</a>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-8 py-4 d-flex flex-column justify-content-center textLazy">
                <h2 class="functionalitiesTitle">Mislili smo i na najmlađe :-)</h2>
                <p class="generalInformation">Kako da od odlaska u laboratoriju, umesto traume, Vašem detetu upriličite avanturu? Nama je uspelo, a sada <a href="https://youtu.be/3F08ilmXu9o" target="_blank" class="noLink">klik <i class="far fa-hand-point-right"></i></a></p>
            </div>
            <div class="d-none d-md-block col-12 col-md-6 col-lg-4">
              <a href="https://youtu.be/3F08ilmXu9o" target="_blank">
                <img data-lazy="/images/YT_icon.svg" class="functionalityIcons ytIcon imgLazy">
                </a>
            </div>


    </div><!-- container end -->
  </section><!-- analize-wrapper end -->
