<section id="everythingAboutAnalysis" style="margin-top:-60px;">
    <div class="container my-4">
      <div class="row analize-container">

      <!-- flask sve o bihemijskim analizama -->
        <div class="d-none d-md-block col-12 col-md-6 col-lg-4">
            <img data-lazy="images/flask.svg" class="functionalityIcons flaskFunc imgLazy">
        </div>
        <div class="col-12 col-md-6 col-lg-8 py-4 d-flex flex-column justify-content-center textLazy">
            <h2 class="functionalitiesTitle">Sada razumem šta laboratorijski rezultat znači</h2>
            <p>Pretražite našu bazu opisa biohemijskih analiza i saznajte zašto lekari neke analize traže, s kojim stanjima organizma su povezane i na šta mogu povišene ili snižene vrednosti da nam ukažu. Odaberite filter analiza i u polje za pretragu ukucajte najmanje 2 karaktera, labcube će uraditi pretragu za Vas.</p>
        </div>

      <!--  najbolje mesta u gradu-->
        <div class="col-12 col-md-6 col-lg-8 py-4 d-flex flex-column justify-content-center textLazy">
            <h2 class="functionalitiesTitle">Sve bitne informacije o privatnim laboratorijama u Srbiji</h2>
            <p>Adresa, telefon, radno vreme, svi detalji su tu. Izaberite filter "laboratorija" i pronađite laboratoriju po imenu. Ukoliko Vam više odgovara grafički prikaz, niže na stranici se nalazi mapa sa lokacijama svih laboratorija.</p>
        </div>
        <div class="d-none d-md-block col-12 col-md-6 col-lg-4">
            <img data-lazy="/images/map.svg" class="functionalityIcons imgLazy">
        </div>

      <!-- tumacenje rezultata -->
        <div class="d-none d-md-block col-md-6 col-lg-5">
            <img data-lazy="/images/microscope.svg" class="functionalityIcons microscopeFunc imgLazy">
        </div>
        <div class="col-12 col-md-6 col-lg-7 py-4 d-flex flex-column justify-content-center textLazy">
            <h2 class="functionalitiesTitle">Imate dilemu? Mi smo biohemičari i možemo da pogledamo</h2>
            <p>Umesto da pitate Google šta znači povišen CRP, koji od ona dva je "dobar" holesterol itd, napravili smo servis za interpretaciju rezultata iza koga stoje iskusni biohemičari i lekari. Pogledajte <a href="" target="_blank">ovde</a> kako mi to radimo.</p>
        </div>

        <!--  dashboard -->
          <div class="col-12 col-md-6 col-lg-8 py-4 d-flex flex-column justify-content-center textLazy" >
              <h2 class="functionalitiesTitle">Nema više traženja rezultata po inboxu. Dashboard je tu</h2>
              <p>Ne morate više da pretražujete inbox kako biste pronašli laboratorijske rezultate. Vaši rezultati su na jednom mestu, hronološki sortirani i grafički prikazani. Lako dostupni. Smatramo ih strogo poverljivim.<a href=""> Pročitajte više</a> o tome kako brinemo i Vašim podacima</p>
          </div>
          <div class="d-none d-md-block col-12 col-md-6 col-lg-4">
              <img data-lazy="/images/folder.svg" class="functionalityIcons folderFunc imgLazy">
          </div>

          <!-- signup -->
            <div class="d-none d-md-block col-12 col-md-6 col-lg-4">
                <img data-lazy="/images/signUp.svg" class=" signUpFunc imgLazy">
            </div>
            <div class="col-12 col-md-6 col-lg-8 py-4 d-flex flex-column justify-content-center textLazy">
                <h2 class="functionalitiesTitle">Ne zvuči loše? Još je bolje kada napravite nalog</h2>
                <p>Mislimo da uvek može bolje i stalno imamo nove ideje, svakodnevno radimo na novim funkcionalnostima koje su dostupne registrovanim korisnicima. <a href="">Registrujte se</a> za 10 sekundi. Najbolji trenutak da napravite nalog bio je pre 10 sekundi, sledeći najbolji trenutak je sada.</p>
                <!-- <p>Napravite nalog i odškrinite “vrata” online laboratorijskog univerzuma. Pronađite najbližu, najbolju, najjeftiniju laboratoriju, posavetujte se sa nama pre zakazivanja, ili nakon dobijanja rezultata. Zakažite posetu ili dolazak na Vašu adresu, pogledajte svoje rezultate, pratite istoriju svojih rezultata i podelite ih sa svojim izabranim lekarom.</p> -->
                <div class="">
                  <a href='' class="btn btn-success text-uppercase mt-4">napravite nalog</a>
                </div>
            </div>


    </div><!-- container end -->
  </section><!-- analize-wrapper end -->
