<div id="analysisBox">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center">{{faqtitle}}</h2>
      <input type="button" name="krvnaSlika" class="btn btn-success" id="krvnaSlika" data-analysis='[{"name":"Eritropoetin", "id":"5dd472010ff72723501417e1", "logo":"antiTela.svg-1614470867740.svg"},
      {"name":"Feritin", "id":"5f96c43d25366dae5652e85d", "logo":"antiTela.svg-1614470867740.svg"}]' value="set analiza krvne slike"/>
      </div><!-- col-12 -->
    </div> <!-- row -->
  </div> <!-- container -->
</div><!-- faq end -->
