<div id="bodyOverlay"></div>
<!-- sidebar -->
<div class="position-fixed h-100 hidePriceList" id="priceList">
  <div class="sidebar">
    <div class="odabraneAnalize">
      <div class="card">
        <div class="card-header" id="basketTitle"><span>Odabrane analize</span><span id="numOfAnalysis"></span><span class="float-right" id="closePriceList"><i class="far fa-times-circle closePriceList"></i></span></div>
          <ul class="list-group list-group-flush" id="selectedAnalysis">
          <li class="list-group-item city">
            <span class="d-block mb-2">Gde radite analize?</span>
              <select class="form-control" id="municipality">
                <option selected>odaberite opštinu</option>
                <option value="Beograd - Novi Beograd">Novi Beograd</option>
                <option value="Beograd - Stari grad">Beograd - Stari grad</option>
                <option value="Beograd - Savski venac">Beograd - Savski venac</option>
                <option value="Beograd - Zvezdara">Beograd - Zvezdara</option>
                <option value="Novi Sad">Novi Sad</option>
                <option value="Kragujevac">Kragujevac</option>
                <option value="Bačla Palanka">Bačka Palanka</option>
                <option value="Niš">Nis</option>
                <option value="Subotica">Subotica</option>
              </select>
              <!-- <span><img src="/images/gradMarker.svg" alt="" class="cityMarker"></span> -->
            <a href="" class="btn btn-success btn-lg btn-block text-uppercase showPrice">nađi najbolju cenu</a>
          </li>
        </ul><!-- selected analysis end -->
      </div><!-- card end -->
    </div><!-- odabrane analize end -->
  </div><!-- sidebar end -->
</div><!-- pricelist end -->

<header id="header">

  <nav class="navbar navbar-expand-md navbar-dark mb-auto">
    <div class="container">
      <a href="/" class="navbar-brand">
        <img src="/images/logoSmallSlice.svg" alt="labcube"></a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse mt-2" id="navbarCollapse">
        <ul class="navbar-nav ml-auto ">
          <li class="nav-item">
            <a href="tumacenje-laboratorijskih-analiza" class="nav-link"><span class="icon iconSvgTumacenje">Tumačenje rezultata</span></a>
          </li>
          <li class="nav-item">
            <a href="#google-map" class="nav-link"><span class="icon iconSvgLokacije">Sve laboratorije</span></a>
          </li>

          {{#if user.id}}
            <li class="nav-item">
              <a href="/profile" class="nav-link">{{user.username}}</a>
            </li>
            <li class="nav-item">
              <a href="/logout" class="nav-link"><span class="icon iconSvgLogout" title="izlaz"></span></a>
            </li>
          {{else}}
            <li class="nav-item">
              <a href="/prijava" class="nav-link"><span class="icon iconSvgPrijava">Prijava</span></a>
            </li>
            <li class="nav-item">
              <a href="/registracija" class="nav-link"><span class="icon iconSvgRegister">Registracija</span></a>
            </li>
          {{/if}}

          <li class="nav-item">
            <button class="nav-link checkout" title="broj odabranih analiza" id="analysisBasket">0</button>
          </li>
        </ul>

      </div><!-- collapse -->

    </div><!-- container end -->
  </nav><!-- nav end -->

  <div class="container" >
    <div class="row">
      <div class="col-12">
        <div class="sectionParallax">
          <img src="images/ikonica_2.svg" data-speed="12" alt="" class="layer layer2">
          <img src="images/ikonica_3.svg" data-speed="6" alt="" class="layer layer3">
          <img src="images/ikonica_4.svg" data-speed="5" alt="" class="layer layer4">
          <img src="images/ikonica_5.svg" data-speed="7" alt="" class="layer  layer5">
          <img src="images/ikonica_6.svg" data-speed="9" alt="" class="layer layer6">
          <img src="images/ikonica_7.svg" data-speed="13" alt="" class="layer layer7">
          <img src="images/ikonica_8.svg" data-speed="2" alt="" class="layer layer8">
          <img src="images/ikonica_9.svg" data-speed="5" alt="" class="layer layer9">
          <img src="images/ikonica_10.svg" data-speed="4" alt="" class="layer layer10">
          <img src="images/ikonica_11.svg" data-speed="2" alt="" class="layer layer11">
          <img src="images/ikonica_12.svg" data-speed="3" alt="" class="layer layer12">
          <img src="images/ikonica_13.svg" data-speed="5" alt="" class="layer layer13">
          <img src="images/ikonica_14.svg" data-speed="4" alt="" class="layer layer14">
          <img src="images/ikonica_15.svg" data-speed="3" alt="" class="layer layer15">
          <img src="images/ikonica_16.svg" data-speed="7" alt="" class="layer layer16">
          <img src="images/ikonica_17.svg" data-speed="8" alt="" class="layer layer17">
          <img src="images/ikonica_18.svg" data-speed="10" alt="" class="layer layer18">
          <img src="images/ikonica_19.svg" data-speed="3" alt="" class="layer layer19">
        </div>
      </div>

    </div>
  </div>



    <!-- logo  -->
    <img src="/images/logoFullSlice.svg" alt="labcube logo" class="logoFull">

    <div class="container searchFieldContainer">
      <form>
        <div class="row">
          <div class="col-sm-12 col-lg-8 mx-auto" data-toggle="tooltip" data-placement="bottom" data-html="true" title="Odaberite filter <strong>analiza</strong> ukoliko pretražujete analize odnosno <strong>laboratorija</strong> ukoliko pretražujete laboratorije.">
            <input type="text" class="form-control search data-hj-allow" id="searchAnalysis" name="searchAnalysis" data-hj-allow autocomplete="off" placeholder="Unesite ime analize ili laboratorije" >
            <input type="radio" name="searchFilter" id="analizeRadioButton" value="analiza" checked>
            <label for="analizeRadioButton" class="analizeSearchFilter" >analiza</label>
            <input type="radio" name="searchFilter" id="laboratorijeRadioButton" value="laboratorija" >
            <label for="laboratorijeRadioButton" class="laboratorijeSearchFilter" title="ukoliko tražite analize kliknite ovde">laboratorija</label>
          </div> <!-- searchField -->
          <div class="col-sm-12 text-center">
            <button type="button" class="btn btn-lg btn-outline-warning labCubeDemoBtn">Kako radi labcube?<i class="far fa-play-circle"></i></button>
          </div>

        </div><!-- row -->
      </form><!-- form end -->
    </div><!-- container -->


  </header><!-- header end -->

  <script type="text/javascript">

    // document.querySelectorAll('.layer').forEach(item => {

    //   let baseX = Math.ceil(Math.random()*1000)
    //   let baseY = Math.ceil(Math.random()*500)
    //   let positionX = 'top'
    //   let positionY = 'left'
    //   if(baseX%2) {
    //     item.style.top = baseX*2+"px";
    //     item.style.right = baseX*7/4+"px";
    //   } else {
    //     item.style.bottom = baseX+"px";
    //     item.style.left = baseX*3+"px";
    //   }
    //   if (baseY%3) {
    //     item.style.top = baseX*2/3+"px";
    //     item.style.right = baseX*2+"px";
    //   } else {
    //     item.style.top = baseX*2+"px";
    //     item.style.left = baseX/2+"px";
    //   }
    // })

    document.addEventListener('mousemove', parallax )
    function parallax(e) {
      document.querySelectorAll('.layer').forEach(move => {
        let movingValue = move.getAttribute("data-speed")
        let x = (e.clientX * movingValue)/400
        let y = (e.clientY * movingValue)/400
        move.style.transform = "translateX("+x+"px) translateY("+y+"px)"

      })
    }

  </script>
