<div id="bodyOverlay"></div>
<header id="header">
  <div class="sectionParallax">
    <img src="images/ikonica_1.svg" data-speed="12" alt="" class="layer">
    <img src="images/ikonica_2.svg" data-speed="10" alt="" class="layer">
    <img src="images/ikonica_3.svg" data-speed="6" alt="" class="layer">
    <img src="images/ikonica_4.svg" data-speed="5" alt="" class="layer">
    <img src="images/ikonica_5.svg" data-speed="7" alt="" class="layer">
    <img src="images/ikonica_6.svg" data-speed="9" alt="" class="layer">
    <img src="images/ikonica_7.svg" data-speed="13" alt="" class="layer">
    <img src="images/ikonica_8.svg" data-speed="2" alt="" class="layer">
    <img src="images/ikonica_9.svg" data-speed="5" alt="" class="layer">
    <img src="images/ikonica_10.svg" data-speed="4" alt="" class="layer">
    <img src="images/ikonica_11.svg" data-speed="2" alt="" class="layer">
    <img src="images/ikonica_12.svg" data-speed="3" alt="" class="layer">
    <img src="images/ikonica_13.svg" data-speed="5" alt="" class="layer">
    <img src="images/ikonica_14.svg" data-speed="4" alt="" class="layer">
    <img src="images/ikonica_15.svg" data-speed="3" alt="" class="layer">
    <img src="images/ikonica_16.svg" data-speed="7" alt="" class="layer">
    <img src="images/ikonica_17.svg" data-speed="8" alt="" class="layer">
    <img src="images/ikonica_18.svg" data-speed="10" alt="" class="layer">
    <img src="images/ikonica_19.svg" data-speed="3" alt="" class="layer">
  </div>
  <nav class="navbar navbar-expand-md navbar-dark mb-auto">
    <div class="container">
      <a href="/" class="navbar-brand">
        <img src="/images/logoSmallSlice.svg" alt="labcube"></a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse my-1" id="navbarCollapse">
        <ul class="navbar-nav ml-auto ">
          <!-- <li class="nav-item">
            <a href="tumacanje-laboratorijskih-analiza" class="nav-link"><i class="fa fa-comments"></i>Tumačenje rezultata</a>
          </li> -->
          <li class="nav-item">
            <a href="tumacanje-laboratorijskih-analiza" class="nav-link"><span class="icon iconSvgTumacenje">Tumačenje rezultata</span></a>
          </li>
          <!-- <li class="nav-item">
            <a href="#" class="nav-link"><i class="fa fa-map-marker-alt"></i>Sve laboratorije</a>
          </li> -->
          <li class="nav-item">
            <a href="#" class="nav-link"><span class="icon iconSvgLokacije">Sve laboratorije</span></a>
          </li>

          {{#if user.id}}
          <li class="nav-item">
            <a href="/profile" class="nav-link">{{user.username}}</a>
          </li>
          <li class="nav-item">
            <a href="/logout" class="nav-link"><span class="icon iconSvgLogout" title="izlaz"></span></a>
          </li>
          {{else}}
          <!-- <li class="nav-item">
            <a href="/prijava" class="nav-link"><i class="fa fa-user"></i>Prijava</a>
          </li> -->
          <li class="nav-item">
            <a href="/prijava" class="nav-link"><span class="icon iconSvgPrijava">Prijava</span></a>
          </li>
          <li class="nav-item">
            <a href="/registracija" class="nav-link"><span class="icon iconSvgRegister">Registracija</span></a>
          </li>

          {{/if}}
          <!-- <li class="nav-item">
            <a href="/registracija" class="nav-link"><i class="fas fa-plus"></i> Registracija</a>
          </li> -->
          {{#if user.admin}}
          <!-- <li class="nav-item">
            <a href="/admindashboard" class="nav-link"> admin</a>
          </li> -->
          <!-- <li class="nav-item ">
            <div class="dropdown nav-link" >
              <a class="dropdown-toggle"  data-toggle="dropdown">
                Admin
              </a>
              <div class="dropdown-menu" style="z-index:2000;">
                <a href="/addGroup" class="dropdown-item py-1">Nova grupa</a>
                <a href="/allGroupsList" class="dropdown-item py-1">Sve grupe</a>
                <a href="/addLab" class="dropdown-item py-1">Novi lab</a>
                <a href="/allLabs" class="dropdown-item py-1">Sve laboratorije</a>
                <a href="/addAnalysis" class="dropdown-item py-1">Nova analiza</a>
                <a href="/allAnalysis" class="dropdown-item py-1">Sve analize</a>
                <a href="/addDisease" class="dropdown-item py-1">Novo oboljenje</a>
                <a href="/allDiseases" class="dropdown-item py-1">Sva oboljenja</a>
                <a href="/addEditor" class="dropdown-item py-1">Novi urednik</a>
                <a href="/allEditors" class="dropdown-item py-1">Svi urednici</a>
                <a href="/addReference" class="dropdown-item py-1">Nova referenca</a>
                <a href="/allReferences" class="dropdown-item py-1">Sve reference</a>
                <a href="/addFaq" class="dropdown-item py-1">Dodaj faq</a>
                <a href="/allFaqs" class="dropdown-item py-1">All faq</a>
                <a href="/addPrice" class="dropdown-item py-1">Novi cenovnik</a>
                <a href="/allPrices" class="dropdown-item py-1">Svi cenovnici</a>
              </div>
            </div>
          </li> -->
      {{/if}}
          <li class="nav-item">
            <button class="nav-link checkout d-none"></button>
          </li>
        </ul>

      </div><!-- collapse -->
    </div><!-- container end -->
  </nav><!-- nav end -->


    <!-- logo  -->
    <img src="/images/logoFullSlice.svg" alt="labcube logo" class="logoFull">

    <div class="container searchFieldContainer">
      <form>
        <div class="row">
          <div class="col-sm-12 col-lg-8 mx-auto">
            <input type="text" class="form-control search" id="searchAnalysis" name="searchAnalysis" placeholder="Unesite naziv analize/laboratorije">
            <input type="radio" name="searchFilter" id="analizeRadioButton" value="analiza" checked>
            <label for="analizeRadioButton" class="analizeSearchFilter">analiza</label>
            <input type="radio" name="searchFilter" id="laboratorijeRadioButton" value="laboratorija" >
            <label for="laboratorijeRadioButton" class="laboratorijeSearchFilter">laboratorija</label>
          </div> <!-- searchField -->
          <div class="col-sm-12 text-center">
            <button type="button" class="btn btn-lg btn-outline-warning labCubeDemoBtn">Kako radi labcube?<i class="far fa-play-circle"></i></button>
          </div>
        </div><!-- row -->
      </form><!-- form end -->
    </div><!-- container -->
  </header><!-- header end -->

  <script type="text/javascript">

    document.querySelectorAll('.layer').forEach(item => {

      let baseX = Math.ceil(Math.random()*1000)
      let baseY = Math.ceil(Math.random()*500)
      let positionX = 'top'
      let positionY = 'left'
      if(baseX%2) {
        item.style.top = baseX*2+"px";
        item.style.right = baseX*7/4+"px";
      } else {
        item.style.bottom = baseX+"px";
        item.style.left = baseX*3+"px";
      }
      if (baseY%3) {
        item.style.top = baseX*2/3+"px";
        item.style.right = baseX*2+"px";
      } else {
        item.style.top = baseX*2+"px";
        item.style.left = baseX/2+"px";
      }
    })

    document.addEventListener('mousemove', parallax )
    function parallax(e) {
      document.querySelectorAll('.layer').forEach(move => {
        let movingValue = move.getAttribute("data-speed")
        let x = (e.clientX * movingValue)/180
        let y = (e.clientY * movingValue)/180
        move.style.transform = "translateX("+x+"px) translateY("+y+"px)"

      })
    }

  </script>
