<div id="bodyOverlay"></div>
<header id="header">
  <nav class="navbar navbar-expand-md navbar-dark mb-auto">
    <div class="container">
      <a href="/" class="navbar-brand">
        <img src="/images/logoSmallSlice.svg" alt="labcube"></a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse my-1" id="navbarCollapse">
        <ul class="navbar-nav ml-auto ">
          <li class="nav-item">
            <a href="#" class="nav-link"><i class="fa fa-comments"></i>Tumačenje rezultata</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"><i class="fa fa-map-marker-alt"></i>Sve laboratorije</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"><i class="fa fa-user"></i>Prijava</a>
          </li>
          <li class="nav-item ">
          <div class="dropdown nav-link" >
            <a class="dropdown-toggle"  data-toggle="dropdown">
              Admin
            </a>
            <div class="dropdown-menu" style="z-index:2000;">
              <a href="/addGroup" class="dropdown-item py-1">Nova grupa</a>
              <a href="/allGroupsList" class="dropdown-item py-1">Sve grupe</a>
              <a href="/addLab" class="dropdown-item py-1">Novi lab</a>
              <a href="/allLabs" class="dropdown-item py-1">Sve laboratorije</a>
              <a href="/addAnalysis" class="dropdown-item py-1">Nova analiza</a>
              <a href="/allAnalysis" class="dropdown-item py-1">Sve analize</a>
              <a href="/addDisease" class="dropdown-item py-1">Novo oboljenje</a>
              <a href="/allDiseases" class="dropdown-item py-1">Sva oboljenja</a>
              <a href="/addEditor" class="dropdown-item py-1">Novi urednik</a>
              <a href="/allEditors" class="dropdown-item py-1">Svi urednici</a>
              <a href="/addReference" class="dropdown-item py-1">Nova referenca</a>
              <a href="/allReferences" class="dropdown-item py-1">Sve reference</a>
              <a href="/addFaq" class="dropdown-item py-1">Dodaj faq</a>
              <a href="/allFaqs" class="dropdown-item py-1">All faq</a>
              <a href="/addPrice" class="dropdown-item py-1">Novi cenovnik</a>
              <a href="/allPrices" class="dropdown-item py-1">Svi cenovnici</a>
            </div>
        </div>
      </li>


          <li class="nav-item">
            <button class="nav-link checkout d-none"></button>
          </li>
        </ul>
      </div><!-- collapse -->
    </div><!-- container end -->

  </nav><!-- nav end -->


    <!-- logo  -->
    <img src="/images/logoFullSlice.svg" alt="labcube logo" class="logoFull">

    <div class="container searchFieldContainer">
      <form>
        <div class="row">
          <div class="col-sm-12 col-lg-8 mx-auto">
            <input type="text" class="form-control search" id="searchAnalysis" name="searchAnalysis" placeholder="Unesite naziv analize/laboratorije">
            <input type="radio" name="searchFilter" id="analizeRadioButton" value="analiza" checked>
            <label for="analizeRadioButton" class="analizeSearchFilter">analiza</label>
            <input type="radio" name="searchFilter" id="laboratorijeRadioButton" value="laboratorija" >
            <label for="laboratorijeRadioButton" class="laboratorijeSearchFilter">laboratorija</label>
          </div> <!-- searchField -->
          <div class="col-sm-12 text-center">
            <button type="button" class="btn btn-lg btn-outline-warning labCubeDemoBtn">Kako radi labcube?<i class="far fa-play-circle"></i></button>
          </div>
        </div><!-- row -->
      </form><!-- form end -->
    </div><!-- container -->
  </header><!-- header end -->
