<section id="analize-wrapper">
    <div class="container">
      <div class="row analize-container">
          <div class="col-12 text-center mb-4">
           <h2 class="mb-4 functionalitiesTitle">Kako ovo radi?</h2>
           </div>

        <div class="d-flex flex-wrap" style="align-items:center;">
            

           <div class="col-md-7">
           <div style="width:40px; height:40px; border-radius:50px; background-color:#FF6F6F; color:white; margin-right:20px;" class="float-left"><p style="text-align:center;line-height:40px; font-size:24px;">1</p></div>
            <h3 class="pt-1" style="color:#4B4B4B">Pronađi analize koje su ti potrebne</h3>
           <p class="explainerText mt-4 clearfix">U polje za pretragu upiši najmanje 2 slova analize koju tražiš. Odmah ćeš dobiti raspon cene za tu analizu u privatnim laboratorijama kao i mogućnost da saznaš više o njoj. Dodaj je u korpu kako bi mogao da uporediš cene. Ukoliko ti treba više analiza samo ponovi ovaj korak.</p></div>
           <div class="col-md-5 coltext-center">
               <div class="explainerVideo2">
                <video loop autoplay muted playsinline>
                    <source src="../images/step1.mov" type="video/mp4">
                  </video>
                </div>
            </div>
        </div>
                    
            <div class="d-flex flex-wrap" style="align-items:center;">
                <div class="col-md-5 order-2 order-md-1 text-center mt-3">
                    <div class="explainerVideo2 mt-3">
                    <video loop autoplay muted playsinline>
                        <source src="../images/step2.mov" type="video/mp4">
                    </video>
                    </div>
                </div>
                <div class="col-md-7 order-1 order-md-2 mt-3"> 
                <div style="width:40px; height:40px; border-radius:50px; background-color:#FF6F6F; color:white; margin-right:20px;" class="float-left"><p style="text-align:center;line-height:40px; font-size:24px;">2</p></div>
                <h3 class="pt-1">Odaberi opštinu i dobićeš mapu sa cenama</h3>
                <p class="explainerText mt-4 clearfix">Kada odabereš opštinu na kojoj stanuješ ili radiš prikazaćemo ti mapu sa lokacijama laboratorija i ukupnom cenom odabranih analiza u svakoj od njih. Zeleni pin znači da je laboratorija trenutno otvorena, crveni da je zatvorena. Unutar pina je ukupna cena za analize koje su ti potrebne.</p>
                </div>            
            </div>
               
        <div class="d-flex flex-wrap" style="align-items:center;">
             <div class="col-md-7 mt-5">
              <div style="width:40px; height:40px; border-radius:50px; background-color:#FF6F6F; color:white; margin-right:20px;" class="float-left"><p style="text-align:center;line-height:40px; font-size:24px;">3</p></div>
               <h3 class="pt-1">A sada nešto malo drugačije</h3>
               <p class="explainerText mt-4 clearfix">Klikni na pin laboratorije čija ti cena i lokacija odgovaraju. Ukoliko je laboratorija koju si odabrao naš partner<sup>*</sup> dobijaš mogućnost da joj proslediš potrebne analize, tako ostvaruješ popust i dobijaš kod za besplatno tumačenje tvojih rezultata. Kada proslediš analize laboratoriji šaljemo ti mejl sa kodom za besplatno tumačenje rezultata.</p>
            </div>
            <div class="col-md-5 text-center mt-4">
                 <div class="explainerVideo2">
                <video loop autoplay muted playsinline>
                    <source src="../images/step3.mov" type="video/mp4">
                  </video>
                </div>
            </div>               
        </div>

            <div class="col-md-12 mt-5">
                <div style="width:40px; height:40px; border-radius:50px; background-color:#FF6F6F; color:white; margin-right:20px;" class="float-left"><p style="text-align:center;line-height:40px; font-size:24px;">4</p></div>
               <h3 class="pt-1">I odlazak u laboratoriju se menja</h3>
               <p class="explainerText mt-4 clearfixs">Kada dođeš u laboratoriju napomeni da si odabrao/la analize preko labcuba. Ne moraš više naglas govoriti šta ti treba od analiza. Dok čekaš da ti laboratorija pošalje rezultate možeš popuniti svoj <a href="/profile" target="_blank" class="noLink">zdravstveni profil</a> na labcubu, to će nam pomoći da ti damo što preciznije tumačenje tvojih rezultata.</p>
            </div>

            <div class="d-flex flex-wrap" style="align-items:center;">
           
                 <div class="col-md-7 order-1 order-md-2">
                <div style="width:40px; height:40px; border-radius:50px; background-color:#FF6F6F; color:white; margin-right:20px;" class="float-left"><p style="text-align:center;line-height:40px; font-size:24px;">5</p></div>
               <h3 class="pt-1">Stigli su mi rezultati, šta sad?</h3>
               <p class="explainerText mt-4 clearfix">Uloguj se na labcube.rs i klikni na <a href="https://labcube.rs/tumacenje-laboratorijskih-analiza" target="_blank">tumačenje rezultata</a>, unesi kod za besplatno tumačenje koji smo ti poslali na mejl. Uradi upload rezultata i to je to. Sada samo sačekaj da ti stigne mejl kojim te obaveštavamo da su tvoji rezultati protumačeni. Tvoji rezultati su na jednom mestu, hronološki sortirani, uvek ih možeš lako pronaći, odštampati i pročitati njihovo tumačenje.</p>
               </div>
                 <div class="col-md-5 order-2 order-md-1 text-center mt-3">
                    <div class="explainerVideo2 mt-3">
                    <video loop autoplay muted playsinline>
                        <source src="../images/step04.mov" type="video/mp4">
                    </video>
                    </div>
                </div>
        </div>

            <div class="col-md-12 my-5">
                <div style="width:40px; height:40px; border-radius:50px; background-color:#FF6F6F; color:white; margin-right:20px;" class="float-left"><p style="text-align:center;line-height:40px; font-size:24px;">6</p></div>
               <h3 class="pt-1">Oceni tumačenje i uslugu laboratorije</h3>
               <p class="explainerText mt-4 clearfix">Ako postoji nešto što ti se nije dopalo želeli bismo da znamo za to i da ga promenimo, zato bi nam značilo da oceniš tumačenje koje smo uradili, takođe, možeš oceniti i svoje iskustvo sa laboratorijom i time <img src="" alt="">im pomoći da postanu još bolji.</p>
            </div>
            <div class="col-md-12 mb-3">
                <small class="font-italic"><sup>*</sup>Partnerske laboratorije: uskoro...</small>
            </div>

    </div><!-- container end -->
  </section><!-- analize-wrapper end -->

{{!-- <div id="smallHeader" style="">
    <div class="container">
        <div class="row">
            <div class="col-md-12"> <h3 class="text-white text-center">Ko tumači rezultate?</h3></div>
       
    </div></div>
</div> --}}