<footer>
      <div class="overlay">
        <div class="container">
          <div class="row">
            <div class="col-6">
              <img src="/images/logoFullSlice.svg" alt="labcube logo" class="logoFooter">
            </div>

            <div class="col-6 d-flex social">
              <a href="https://twitter.com/labcube_rs" class="align-items-end d-flex ml-auto" target="_blank"><i class="fab fa-twitter"></i></a>
              <a href="https://www.instagram.com/labcube.rs/" class="align-items-end d-flex" target="_blank"><i class="fab fa-instagram"></i></a>
              <a href="https://www.facebook.com/lab.cube.16/" class="align-items-end d-flex" target="_blank"><i class="fab fa-facebook-f"></i></a>
              <a href="https://www.youtube.com/channel/UCMVDA63ag6cFyfwzTE2posA/featured" class="align-items-end d-flex" target="_blank"><i class="fab fa-youtube"></i></a>
            </div><!-- social col-md-4 end -->

            <div class="d-none d-sm-none col-sm-10 d-lg-block">
              <ul class="list-unstyled  linksFooter analizeFooter" >
                {{#each groupNames}}
                  <li><a href="/group/{{this.slug}}" class="text-white">{{this.name}}</a></li>
                {{/each}}
              </ul><!-- analize footer list end -->
            </div> <!-- col-md-6 end -->

            <div class="col-sm-12 col-lg-2">
              <ul class="list-unstyled linksFooter">
                <li><a href="#" class="text-white">politika privatnosti</a></li>
                <li><a href="#" class="text-white">uslovi korišćenja</a></li>
                <li><a href="#" class="text-white">kontakt</a></li>
                <li><a href="#" class="text-white">o nama</a></li>
                <li><a href="#" class="text-white">faq</a></li>
              </ul><!-- ul footer menu end -->
            </div><!-- col-sm-12 col-lg-2 -->
            <div class="col-12">
              <p class="disclaimer">Sadržaj stranice labcube.rs kao što su tekst, grafika, slike i drugi dokumenti su isključivo informativne prirode. Sadržaj ovog sajta nije namenjen zameni stručnog lekarskog mišljenja, terapije ili lečenja. Uvek tražite savet svog lekara ili drugog kvalifikovanog zdravstvenog radnika. Nikada nemojte zanemariti savet vašeg lekara zbog nečega što ste pročitali na ovom sajtu. Ukoliko Vam je potrebna hitna medicinska pomoć pozovite <strong>194</strong>.</p>
            </div><!-- col-sm-12 end -->
          </div><!-- row end -->
        </div><!-- container end -->
      </div> <!-- overlay div -->
    </footer><!-- footer end -->
