<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="alert text-center cookiealert" role="alert">
          <b>Prvo nešto slatko.</b> &#x1F36A; Koristimo kolačiće da biste dobili najbolje iskustvo na ovim stranicama.<a href="/kolacici" target="_blank" class="noLink text-warning"> Saznajte više<a/>
          <button type="button" class="btn btn-sm acceptcookies btn-primary">
              Slažem se
          </button>
      </div>
    </div>
  </div>
</div>



<button id="backToTopBtn" title="Povratak na vrh" class="text-center"><i class="fas fa-arrow-circle-up"></i></button>

<!-- <div class="text-center form-group" style="background-color:#5B8EE8; padding:20px 5px; margin:0 auto; width:400px; border-radius:20px;">
  <p class="text-white">Prijavite se na newsletter. Nikad spamom!</p>
  <input type="text" name="" value="" class="profilePersonalData form-control d-inline">
  <button type="button" class="ml-3 btn btn-light d-inline" name="button" style="margin-bottom:5px;">Prijava</button>
</div> -->

<footer>
      <div class="overlay">
        <div class="container">
          <div class="row">
            <div class="d-none d-sm-none d-md-block col-3 col-lg-3 col-sm-3  col-md-4 ">
              <img src="/images/logoFullSlice.svg" alt="labcube logo" class="logoFooter">
            </div>

            <div class="d-none d-md-block d-xs-none d-sm-none col-lg-9 col-sm-8 col-md-8 text-right social">
              <a href="https://twitter.com/labcube_rs" class="d-inline ml-auto" target="_blank"><i class="fab fa-twitter"></i></a>
              <a href="https://www.instagram.com/labcube.rs/" class="d-inline" target="_blank"><i class="fab fa-instagram"></i></a>
              <a href="https://www.facebook.com/labcube.rs/" class="d-inline" target="_blank"><i class="fab fa-facebook-f"></i></a>
              <a href="https://www.youtube.com/channel/UCMVDA63ag6cFyfwzTE2posA/featured" class="d-inline" target="_blank"><i class="fab fa-youtube"></i></a>
            </div><!-- social col-md-4 end -->

            <div class="d-none d-sm-none col-sm-10 d-lg-block">
              <ul class="list-unstyled linksFooter analizeFooter d-block" >
                {{#each groupNames}}
                  <li><a href="/group/{{this.slug}}" class="text-white">{{this.name}}</a></li>
                {{/each}}
              </ul>
            </div>

            <div class="col-sm-12 col-lg-2 pl-5">
              <ul class="list-unstyled linksFooter">
                <li><a href="/politika-privatnosti" class="text-white" target="_blank">Politika privatnosti</a></li>
                <li><a href="/uslovi-koriscenja" class="text-white" target="_blank">Uslovi korišćenja</a></li>
                <li><a href="/uslovi-placanja" class="text-white" target="_blank">Uslovi plaćanja</a></li>
                <li><a href="/kolacici" class="text-white" target="_blank">Naši kolačići</a></li>
                <li><a href="/o-nama" class="text-white" target="_blank">O nama</a></li>
                <li><a href="/kontakt" class="text-white" target="_blank">Kontakt</a></li>
              </ul><!-- ul footer menu end -->
            </div><!-- col-sm-12 col-lg-2 -->

            <div class="col-12">
              <p class="disclaimer">Sadržaj stranice labcube.rs kao što su tekst, grafika, slike i drugi dokumenti su isključivo informativne prirode. Sadržaj ovog sajta nije namenjen zameni stručnog lekarskog mišljenja, terapije ili lečenja. Uvek tražite savet svog lekara ili drugog kvalifikovanog zdravstvenog radnika. Nikada nemojte zanemariti savet vašeg lekara zbog nečega što ste pročitali na ovom sajtu. Ukoliko Vam je potrebna hitna medicinska pomoć pozovite <strong>194</strong>.</p>
            </div><!-- col-sm-12 end -->

            <div class="col-12 text-center" style="position:relative;">
              <div class="">
                <p>
                  <span class="noLink" target="_blank"><img src="/images/master.png" style="width:80px;" class="py-2 pr-4"> </span>
                  <span class="noLink" target="_blank"><img src="/images/visa.png" style="width:110px;" class="py-2 pr-4"> </span>
                  <span class="noLink" target="_blank"><img src="/images/maestro.png" style="width:80px;" class="py-2 pr-4"> </span>
                  <a href="https://www.allsecure.rs/" class="nolink" target="_blank"><img src="/images/allsecure.svg" alt="" style="width:120px;" class="py-2 pr-4"></a>
                  <a href="https://www.unicreditbank.rs/" class="noLink" target="_blank"><img src="/images/unicredit-white.png" style="width:180px;" class="py-2 pr-4" > </a>
                  <span class="noLink" target="_blank"><img src="/images/mastercard-idcheck.svg" style="height:60px;" class="py-2 pr-4"> </span>
                  <span class="noLink" target="_blank"><img src="/images/visa_secure.png" style="width:80px;" class="py-2 pr-4"> </span>
                </p>
              </div>
                  <p class="text-white text-center founderInfo">Sva autorska prava zadržavaju Informacione tehnologije Nouvelle d.o.o. 16. Oktobar 19, 11000 Beograd, PIB 106310784, MB 20575719, <span class="nolink text-white" style="color:white; pointer-events:none;">064/2612813</span>, email:zdravo[at]labcube.rs u čijem vlasništvu je stranica labcube.rs. &copy 2021</p>

            </div>
          </div><!-- row end -->
        </div><!-- container end -->
      </div> <!-- overlay div -->
    </footer><!-- footer end -->
