<footer>
      <div class="overlay">
        <div class="container">
          <div class="row">
            <div class="col-6">
              <img src="/images/logoFullSlice.svg" alt="labcube logo" class="logoFooter">
            </div>

            <div class="col-6 d-flex social">
              <a href="#" class="align-items-end d-flex ml-auto"><i class="fab fa-twitter"></i></a>
              <a href="#" class="align-items-end d-flex "><i class="fab fa-instagram"></i></a>
              <a href="#" class="align-items-end d-flex "><i class="fab fa-facebook-f"></i></a>
              <a href="#" class="align-items-end d-flex "><i class="fab fa-youtube"></i></a>
            </div><!-- social col-md-4 end -->

            <div class="d-none d-sm-none col-sm-10 d-lg-block">
              <ul class="list-unstyled  linksFooter analizeFooter" >
                <li><a href="" class="text-white">alergije</a></li>
                <li><a href="" class="text-white">aminikosiline</a></li>
                <li><a href="" class="text-white">anemije</a></li>
                <li><a href="" class="text-white">antitela</a></li>
                <li><a href="" class="text-white">bakterije</a></li>
                <li><a href="" class="text-white">biohemija</a></li>
                <li><a href="" class="text-white">bris</a></li>
                <li><a href="" class="text-white">brzi testovi</a></li>
                <li><a href="" class="text-white">celijakija</a></li>
                <li><a href="" class="text-white">dermatologija</a></li>
                <li><a href="" class="text-white">dijabetes</a></li>
                <li><a href="" class="text-white">droge</a></li>
                <li><a href="" class="text-white">elektroforeza</a></li>
                <li><a href="" class="text-white">enzimi</a></li>
                <li><a href="" class="text-white">feces</a></li>
                <li><a href="" class="text-white">helicobacter pylori</a></li>
                <li><a href="" class="text-white">hematologija</a></li>
                <li><a href="" class="text-white">hepatitisi</a></li>
                <li><a href="" class="text-white">hipofiza</a></li>
                <li><a href="" class="text-white">interleukini</a></li>
                <li><a href="" class="text-white">kamen</a></li>
                <li><a href="" class="text-white">koagulacija</a></li>
                <li><a href="" class="text-white">kontrola sterilnosti</a></li>
                <li><a href="" class="text-white">koštani markeri</a></li>
                <li><a href="" class="text-white">lekovi</a></li>
                <li><a href="" class="text-white">likvor</a></li>
                <li><a href="" class="text-white">lipidni status</a></li>
                <li><a href="" class="text-white">markeri zapaljenja</a></li>
                <li><a href="" class="text-white">mikroelementi</a></li>
                <li><a href="" class="text-white">nadbubrežna žlezda</a></li>
                <li><a href="" class="text-white">netolerancija na hranu</a></li>
                <li><a href="" class="text-white">ostali hormoni</a></li>
                <li><a href="" class="text-white">ostali materijali</a></li>
                <li><a href="" class="text-white">paraziti</a></li>
                <li><a href="" class="text-white">patohistologija</a></li>
                <li><a href="" class="text-white">PCR</a></li>
                <li><a href="" class="text-white">pljuvačka</a></li>
                <li><a href="" class="text-white">polni hormoni</a></li>
                <li><a href="" class="text-white">praćenje trudnoće</a></li>
                <li><a href="" class="text-white">reumatoidni artritis</a></li>
                <li><a href="" class="text-white">specifični proteini</a></li>
                <li><a href="" class="text-white">sperma</a></li>
                <li><a href="" class="text-white">srčani markeri</a></li>
                <li><a href="" class="text-white">tiroidna žlezda</a></li>
                <li><a href="" class="text-white">TORCH</a></li>
                <li><a href="" class="text-white">transfuziološke analize</a></li>
                <li><a href="" class="text-white">tumor markeri</a></li>
                <li><a href="" class="text-white">urin</a></li>
                <li><a href="" class="text-white">usluge</a></li>
                <li><a href="" class="text-white">virusi</a></li>
                <li><a href="" class="text-white">vitamini</a></li>
              </ul><!-- analize footer list end -->
            </div> <!-- col-md-6 end -->

            <div class="col-sm-12 col-lg-2">
              <ul class="list-unstyled linksFooter">
                <li><a href="" class="text-white">politika privatnosti</a></li>
                <li><a href="" class="text-white">uslovi korišćenja</a></li>
                <li><a href="" class="text-white">kontakt</a></li>
                <li><a href="" class="text-white">o nama</a></li>
                <li><a href="" class="text-white">faq</a></li>
              </ul><!-- ul footer menu end -->
            </div><!-- col-sm-12 col-lg-2 -->
            <div class="col-12">
              <p class="disclaimer">Sadržaj stranice labcube.rs kao što su tekst, grafika, slike i drugi dokumenti su isključivo informativne prirode. Sadržaj ovog sajta nije namenjen zameni stručnog lekarskog mišljenja, terapije ili lečenja. Uvek tražite savet svog lekara ili drugog kvalifikovanog zdravstvenog radnika. Nikada nemojte zanemariti savet vašeg lekara zbog nečega što ste pročitali na ovom sajtu. Ukoliko Vam je potrebna hitna medicinska pomoć pozovite <strong>194</strong>.</p>
            </div><!-- col-sm-12 end -->
          </div><!-- row end -->
        </div><!-- container end -->
      </div> <!-- overlay div -->
    </footer><!-- footer end -->
