<header id="smallHeader3">
  <nav class="navbar navbar-expand-md navbar-dark mb-auto">
    <div class="container">
      <a href="/" class="navbar-brand"><img src="/images/logoSmallSlice.svg" alt="labcube"></a>
      {{!-- <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>   --}}
    </div><!-- container end -->
  </nav><!-- nav end -->
  <div class="container">
      <div class="row text-center">
          <h1 class="mb-5 text-white mx-auto">Postanite LabCube partner i otkljuÄajte pristup hiljadama potencijalnih pacijenata</h1>
      </div>
  </div>
  
</header><!-- header end -->
