<header id="smallHeader">
  <nav class="navbar navbar-expand-md navbar-dark mb-auto">
    <div class="container">
      <!-- <a href="/" class="navbar-brand"><img src="/images/logoSmallSlice.svg" alt="labcube"></a> -->
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse my-1" id="navbarCollapse">
      </div><!-- collapse -->
    </div><!-- container end -->
  </nav><!-- nav end -->

  <!-- logo  -->
  <img src="/images/logoFullSlice.svg" alt="labcube logo" class="logoFull">


</header><!-- header end -->
