<!-- <header id="smallHeaderTumacenje"> -->
<header id="smallHeaderThanks" class="py-5">
  <nav class="navbar navbar-expand-md navbar-dark" style="position:relative;" >
    <div class="container">
      <a href="/admindashboard" class="navbar-brand">
        <img src="/images/logoSmallSlice.svg" alt="labcube" class=""></a>
      </div><!-- collapse -->
    </div><!-- container end -->
  </nav><!-- nav end -->
    <div class="container">
      <div class="labDashDetails mb-5" style="position:absolute; top:33px; width:40%;">
          <form>
            <div class="row d-flex align-items-end">
              <div class="col-sm-12 col-lg-8 mx-auto ">
                <input type="text" class="form-control searchForUser z" name="innerSearch" id="searchForUserEmailLabCube" placeholder="Unesite email pacijenta">
              </div> <!-- searchField -->
            </div><!-- row -->
          </form><!-- form end -->
      </div>
    </div>
</header>
