<header id="smallHeader">
  <nav class="navbar navbar-expand-md navbar-dark mb-auto">
    <div class="container">
      <a href="/" class="navbar-brand"><img src="/images/logoSmallSlice.svg" alt="labcube"></a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse my-1" id="navbarCollapse">
        <ul class="navbar-nav ml-auto ">
          <li class="nav-item">
            <a href="/addGroup" class="nav-link"><i class="far fa-comments"></i>add group</a>
          </li>
          <li class="nav-item">
            <a href="/allGroupsList" class="nav-link"><i class="far fa-user"></i>all groups</a>
          </li>
          <li class="nav-item">
            <a href="/allLabs" class="nav-link"><i class="far fa-user"></i>all labs</a>
          </li>
          <li class="nav-item">
            <a href="/addLab" class="nav-link"><i class="fas fa-map-marker-alt"></i>add lab</a>
          </li>
          <li class="nav-item">
            <a href="/allDiseases" class="nav-link"><i class="fas fa-map-marker-alt"></i>sva oboljenja</a>
          </li>
          <li class="nav-item">
            <a href="/addDisease" class="nav-link"><i class="far fa-user"></i>dodaj oboljenje</a>
          </li>
        </ul>
      </div><!-- collapse -->
    </div><!-- container end -->
  </nav><!-- nav end -->

  <!-- logo  -->
  <!-- <img src="images/logoFullSlice.svg" alt="labcube logo" class="logoFull"> -->

  <div class="container">
    <!-- <div class="row"> -->
      <h1 class="text-center text-white">{{title}}</h1>
    <!-- </div> -->
  </div><!-- container -->
</header><!-- header end -->
