<header id="smallHeader">
  {{!-- <div class="overlay"> --}}
  <nav class="navbar navbar-expand-md navbar-dark mb-auto">
    <div class="container">
      <a href="/" class="navbar-brand"><img src="/images/logoSmallSlice.svg" alt="labcube"></a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse my-1" id="navbarCollapse">
        <ul class="navbar-nav ml-auto ">
          <!-- <li class="nav-item">
            <a href="/addAnalysis" class="nav-link">dodaj analizu</a>
          </li>
          <li class="nav-item">
            <a href="/allAnalysis" class="nav-link">sve analize</a>
          </li>

          <li class="nav-item">
            <a href="/addLab" class="nav-link">novi lab</a>
          </li>
          <li class="nav-item">
            <a href="/allLabs" class="nav-link">sve lab</a>
          </li>
          <li class="nav-item">
            <a href="/addPrice" class="nav-link">dodaj cenu</a>
          </li>
          <li class="nav-item">
            <a href="/allPrices" class="nav-link">sve cene</a>
          </li>
          <li class="nav-item">
            <a href="/allComments" class="nav-link">komentari</a>
          </li> -->
          <li class="nav-item">
            <a href="/" class="nav-link" target="_blank"><i class="fas fa-flask"></i></a>
          </li>
          <li class="nav-item">
            <a href="/allComments" class="nav-link">{{user.username}}</a>
          </li>

          <li class="nav-item">
            <a href="/logout" class="nav-link"><i class="fa fa-sign-out-alt"></i></a>
          </li>
        </ul>
      </div><!-- collapse -->
    </div><!-- container end -->
  </nav><!-- nav end -->
{{!-- </div> --}}
  <!-- logo  -->
  {{!-- <img src="/images/logoFullSlice.svg" alt="labcube logo" class="logoFull"> --}}
  <h1 class="logoFullAdmin text-white">Control panel</h1>

</header><!-- header end -->
