<div class="col-md-4 col-lg-3 sidebar mt-5">
  <div class="odabraneAnalize">
    {{#if sidebarNav}}
    <div id="sideMenu" class="">
      {{#if analysisDetails.banner}}
      <a href="{{analysisDetails.bannerUrl}}" target="_blank" id="sideBanner"><img src="/images/banners/{{analysisDetails.banner}}" class="mb-4" style="width:200px; height:500px;"><a/>
        {{/if}}
      <ul class="textList d-none d-lg-block">
        <li><a class="list-group-item" href="#oAnalizi">O Analizi</a></li>
        <li><a class="list-group-item" href="#uzorak">Uzorak</a></li>
        <li><a class="list-group-item" href="#kadaSeIspituje">Kada se ispituje?</a></li>
        <li><a class="list-group-item" href="#priprema">Priprema</a></li>
        <li><a class="list-group-item" href="#detaljanOpis">Detaljan opis</a></li>
        <li><a class="list-group-item" href="#rezultati">Rezultati</a></li>
        <li><a class="list-group-item" href="#napomena">Napomena</a></li>
        <li><a class="list-group-item" href="#literatura">Literatura</a></li>
        <li><a class="list-group-item" href="#povezaneAnalize">Povezane analize</a></li>
      </ul>
    </div>

    {{/if}}


    <!-- da li vam je potrebno tumacenje laboratorijskih rezultata banner -->
    <!-- <div class="banner">
      <img src="/images/banner.jpg" class="bannerTumacenjeAnaliza" alt="tumačenje rezultata laboratorijskih analiza" title="tumačenje rezultata laboratorijskih analiza">
      <div class="bannerOverlay">Da li Vam je potrebno tumačenje rezultata laboratorijskih analiza?</div>
      <button class="btn btn-success btnBanner text-uppercase">saznajte više</button>
    </div> -->
    <!-- banner end -->
  </div><!-- odabrane analize end -->
</div>
<!-- sidebar end -->
