<div class="basket">
  <div class="odabraneAnalizeBasket">
    <div class="card">
      <div class="card-header-basket">Odabrane analize<span><i class="far fa-times-circle"></i></span></div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item list-group-item-action"><img src="images/hematologija.svg" class="labGroupIconSelectedAnalysis">Cras justo odio<span class="float-right remove"><img src="images/closeBtn.svg"></span></li>
          <li class="list-group-item list-group-item-action"><img src="images/feces.svg" class="labGroupIconSelectedAnalysis">Dapibus ac dad da facilisis in<span class="float-right remove"><img src="images/closeBtn.svg"></span></li>
          <li class="list-group-item list-group-item-action"><img src="images/biohemija.svg" class="labGroupIconSelectedAnalysis">Vestibulum at eros<span class="float-right remove"><img src="images/closeBtn.svg"></span></li>
          <li class="list-group-item list-group-item-action"><img src="images/biohemija.svg" class="labGroupIconSelectedAnalysis">Vestibulum at eros<span class="float-right remove"><img src="images/closeBtn.svg"></span></li>
          <li class="list-group-item list-group-item-action"><img src="images/anemije.svg" class="labGroupIconSelectedAnalysis">Vestibulum at erosss<span class="float-right remove"><img src="images/closeBtn.svg"></span></li>
          <li class="list-group-item city"><span class="d-block mb-2">Gde radite analize?</span>
            <select class="form-control">
              <option selected>grad</option>
              <option value="1">Beograd</option>
              <option value="2">Novi Sad</option>
              <option value="3">Kragujevac</option>
              <option value="3">Bačka Palanka</option>
            </select>
            <span><img src="../images/gradMarker.svg" alt="" class="cityMarker"></span>
         </li>
      </ul>
    </div><!-- card end -->
  </div><!-- odabraneAnalizeBasket -->
</div> <!-- basket end -->
