<div class="col-md-4 col-lg-3 sidebar">
  <div class="odabraneAnalize">
    <div class="card">
      <div class="card-header" id="basketTitle"><span>Odabrane analizeee</span><span id="numOfAnalysis"></span></div>
        <ul class="list-group list-group-flush" id="selectedAnalysis">
        <li class="list-group-item city">
          <span class="d-block mb-2">Gde radite analize?</span>
            <select class="form-control" id="municipality">
              <option selected>odaberite opštinu</option>
              <option value="Beograd - Novi Beograd">Novi Beograd</option>
              <option value="Beograd - Stari grad">Beograd - Stari grad</option>
              <option value="Beograd - Savski venac">Beograd - Savski venac</option>
              <option value="Beograd - Zvezdara">Beograd - Zvezdara</option>
              <option value="Novi Sad">Novi Sad</option>
              <option value="Kragujevac">Kragujevac</option>
              <option value="Bačla Palanka">Bačka Palanka</option>
              <option value="Niš">Nis</option>
              <option value="Subotica">Subotica</option>
            </select>
            <!-- <span><img src="/images/gradMarker.svg" alt="" class="cityMarker"></span> -->
          <!-- <a href="" class="btn btn-success btn-lg btn-block text-uppercase showPrice">najbolja cena</a> -->
        </li>
      </ul>
    </div>

    {{#if sidebarNav}}
    <div id="sideMenu">
      <ul class="textList">
        <li><a class="list-group-item" href="#oAnalizi">O Analizi</a></li>
        <li><a class="list-group-item" href="#uzorak">Uzorak</a></li>
        <li><a class="list-group-item" href="#kadaSeIspituje">Kada se ispituje?</a></li>
        <li><a class="list-group-item" href="#priprema">Priprema</a></li>
        <li><a class="list-group-item" href="#detaljanOpis">Detaljan opis</a></li>
        <li><a class="list-group-item" href="#rezultati">Rezultati</a></li>
        <li><a class="list-group-item" href="#napomena">Napomena</a></li>
        <li><a class="list-group-item" href="#literatura">Literatura</a></li>
      </ul>
    </div>
    {{/if}}


    <!-- da li vam je potrebno tumacenje laboratorijskih rezultata banner -->
    <!-- <div class="banner">
      <img src="/images/banner.jpg" class="bannerTumacenjeAnaliza" alt="tumačenje rezultata laboratorijskih analiza" title="tumačenje rezultata laboratorijskih analiza">
      <div class="bannerOverlay">Da li Vam je potrebno tumačenje rezultata laboratorijskih analiza?</div>
      <button class="btn btn-success btnBanner text-uppercase">saznajte više</button>
    </div> -->
    <!-- banner end -->
  </div><!-- odabrane analize end -->
</div><!-- sidebar end -->
