<div class="col-md-4 col-lg-3 sidebar mt-5" id="sidebarMenu">
  <div class="odabraneAnalize">
    {{#if sidebarNav}}
    <div id="sideMenu" class="">
      <!-- da li vam je potrebno tumacenje laboratorijskih rezultata banner -->
      <div class="banner mb-4" >
        <img src="/images/banner.jpg" class="bannerTumacenjeAnaliza" alt="tumačenje rezultata laboratorijskih analiza" title="tumačenje rezultata laboratorijskih analiza">
        <div class="bannerOverlay">Da li Vam je potrebno tumačenje rezultata laboratorijskih analiza?</div>
        <a href="/tumacenje-laboratorijskih-analiza" target="_blank" class="btnBanner text-uppercase btn-success btn pb-4" >saznajte više</a>
      </div>
      <!-- banner end -->
      {{#if analysisDetails.banner}}
      <a href="{{analysisDetails.bannerUrl}}" target="_blank" id="sideBanner"><img src="/images/banners/{{analysisDetails.banner}}" class="mb-4" style=""><a/>
        {{/if}}
      <ul class="textList d-none d-lg-block">
        <li><a class="list-group-item" href="#oAnalizi">O Analizi</a></li>
        <li><a class="list-group-item" href="#uzorak">Uzorak</a></li>
        <li><a class="list-group-item" href="#kadaSeIspituje">Kada se ispituje?</a></li>
        <li><a class="list-group-item" href="#priprema">Priprema</a></li>
        <li><a class="list-group-item" href="#detaljanOpis">Detaljan opis</a></li>
        <li><a class="list-group-item" href="#rezultati">Rezultati</a></li>
        <li><a class="list-group-item" href="#napomena">Napomena</a></li>
        <li><a class="list-group-item" href="#literatura">Literatura</a></li>
        <li><a class="list-group-item" href="#povezaneAnalize">Povezane analize</a></li>
      </ul>
    </div>

    {{/if}}
  </div><!-- odabrane analize end -->
</div>
<!-- sidebar end -->
