<!-- faq -->
<div id="paketi">
  <div class="container" >
    <div class="row">
      <div class="col-12 mb-4" >
        <h2 class="text-center my-4">Nema više lutanja sa nalazima laboratorije!</h2>
            
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 py-2 d-flex flex-column justify-content-center textLazy">
                <p class="generalInformation float-left ml-2">Ne moraš više da čekaš pregled kod lekara da bi razumeo svoje laboratorijske nalaze ili da zoveš laboratoriju i trudiš se da zapamtiš informacije koje ti daju, ne moraš više da pretražuješ Google ili da juriš prijatelje lekare, biohemičare... </p>                      
                
                <p class="generalInformation float-left ml-2">Jednostavno je, kada ti laboratorija pošalje rezultate iskoristi ovu stranicu da uradiš upload i u veoma kratkom roku znaćeš sve što je važno u vezi tvojih rezultata.</p>
                <p class="generalInformation float-left ml-2">Ukoliko ti je potrebno tumačenje nalaza za tvoje roditelje ili decu i to je moguće. Samo postavi njihove rezultate i popuni zdravstveni upitnik u skladu sa tim.</p>
            
                
            </div> 

            <div class="col-12 mb-4">
                <h3 class="mb-0 pb-0">Postoji više opcija kako možeš dobiti tumačenje laboratorijskih nalaza</h3>
                <span class="mt-0 pt-0">Sve opcije su podjednako kvalitetne samo se razlikuju po vremenu u kome ćeš dobiti tumačenje rezultata.</span>
            </div>
         
    

             <div class="card ">
                <div class="card-body">
                    <img src="images/4h.svg" alt="" class="mb-3 mt-3 tumacenjeIkonice">
                    <p class="text-center font-weight-bold">Tumačenje u roku od 4 sata</p>
                    <span class="text-center paketiCena">1080 din.</span>
                    <a href="/registracija" class="btn btn-outline-info text-uppercase mt-4 customRadio">odaberi</a>
                </div>
            </div>  

                    <div class="card">
                      <div class="card-body">
                        <div class="najpopularnije">najpopularnije</div>
                        <img src="images/12h.svg" alt="" class="mb-3 mt-3 tumacenjeIkonice">
                        <p class="text-center font-weight-bold">Tumačenje u roku od 12 sati</p>
                        <span class="text-center paketiCena">840 din.</span>
                        <a href="/registracija" class="btn btn-outline-info text-uppercase mt-4 customRadio">odaberi</a>
                      </div>
                    </div> 
                  
                   <div class="card">
                      <div class="card-body">
                        <img src="images/24h.svg" alt="" class="mb-3 mt-3 tumacenjeIkonice">
                        <p class="text-center font-weight-bold">Tumačenje u roku od 24 sata</p>
                        <span class="text-center paketiCena">720 din.</span>
                         <a href="/registracija" class="btn btn-outline-info text-uppercase mt-4 customRadio">odaberi</a>
                      </div>
                    </div>  


                 <div class="col-12 my-4">
                    <h3 class="mb-4">Šta podrazumeva i kako izgleda tumačenje rezultata?</h3>
                    <p class="generalInformation">Naše kolege će detaljno pogledati tvoje laboratorijske nalaze, uzeti u obzir podatke iz zdravstvenog profila koji popunjavaš kada napraviš nalog i na osnovu toga napisati detaljan zaključak u kome će se osvrnuti na svaki parametar koji zahteva pažnju. Predložiće ti i da ponoviš neke analize ukoliko je potrebno ili da uradiš dodatne, uputiće te ka specijalisti ako za to ima potrebe. Znamo da komentar na rezultate možeš dobiti i u laboratoriji ali oni često nemaju vremena i moraš se truditi da zapamtiš sve što ti kažu. </p><p class="generalInformation">Mi imamo vremena da se svakom pacijentu detaljno posvetimo i još će ti svi naši komentari ostati zapisani tako da možeš pročitati naš zaključak više puta. Osim toga, svi tvoji rezultati su hronološki sortirani i na jednom mestu, nema više traženja po inboxu. 
                    </p>

                      
                     <h3 class="my-5">Primer jednog tumačenja</h3>
           
                      <div class="finalThougths">
                      <p class="generalInformation">Poštovana, <br /><br />Uvidom u nalaze koje ste poslali, a zbog problema koji opisujete (pojačan osećaj svraba), izdvaja se jedan vrlo upadljiv parametar i mogući uzročnik tegoba, a to je nedostatak diamin oksidaze. Ovaj enzim je zadužen za razgradnju histamina u digestivnom traktu, a njegov nedostatak čini da se nerazgrađen histamin nagomilava u organizmu uzrokujući (između ostalog) i neprijatne senzacije stalnog svraba. Kako nedostatak DAO nije veliki (nešto ispod donje granice), najverovatnije se ne radi o genetski nasleđenoj mutaciji koja ometa stvaranje aktivnog oblika enzima, veća je verovatnoća da je problem funkcionalne prirode. Neke namirnice sadrže veće količine histamina od drugih, i to ne predstavlja problem dokle god je aktivnost enzima očuvana. Međutim, kada je aktivnost DAO snižena (moguće usled problema na nivou gastrointestinalnog trakta, kod sindroma iritabilnih creva), ove namirnice mogu uzrokovati da se neprijatne senzacije svraba pojačaju, pa je potrebno redukovati njihov unos ishranom, a ponekad se koriste i suplementi DAO. Poželjno je odrediti i nivoe histamina u krvi, kako je i sugerisano na nalazu. Povišene vrednosti histamina bi potvrdile da ovaj nedostatak diamin oksidaze izaziva probleme.</p>
                         <p class="generalInformation">Bubrežni parametri koji su proveravani, kao i opšti pregled urina, ne ukazuju na postojanje nekog problema na nivou bubrega.Osim granično povišenih vrednosti AST i blago povišene vrednosti ALT, ostali jetreni parametri su dobri. Povišenje ova dva jetrena enzima ukazuje na nešto pojačanu aktivnost jetre uz neka manja oštećenja (moguće usled korišćenja nekih lekova, ali i drugih hepatotoksičnih ksenobiotika).</p>
                          <p class="generalInformation">Povišene vrednosti gvožđa uz uredne vrednosti feritina (opisuje rezerve gvožđa) i povišene vrednosti vitamina B12 mogu biti posledica korišćenja nekih lekova/suplemenata, koji u svom sastavu sadrže ove važne elemente, ili usled interferencije drugih lekova na samu metodu određivanja (manje verovatno, ali ne i nemoguće), a mogu ukazati i na početak nekih problema na nivou jetre, bubrega, pankreasa, krvnih ćelija bele loze (leukocita), pa je bez KKS i podataka o terapiji koju uzimate i koju ste eventualno koristili u prethodnom periodu, teško proceniti tačan uzrok.</p>
                        
                         
                           <p class="generalInformation">Zbog svega navedenog, neophodna je konsultacija dalje sa Vašim lekarom, kako bi usmerio dalji tok dijagnostike, u pravcu provere histamina (koje je verovatno prioritet u Vašem slučaju), revidiranja terapije/suplemenata koje uzimate, traženje uzroka povišenih vrednosti gvožđa i vitamina B12, eventualno provere nivoa insulina.</p>
                      </div>
                    <div class="col-12 text-center mx-auto my-5">
                      <h3 class="cardDisclaimer text-center p-4">Ništa ne rizikuješ. Ukoliko usluga ne ispuni tvoja očekivanja, vraćamo ti novac, bez pitanja.</h3>
                    </div>
                  </div>

                <div class="col-12">
                <h3 class="my-5">Komentari korisnika koji su isprobali online tumačenje nalaza</h3>
                </div>
               <div class="card  mr-2">
                      <div class="card-body">
                        <p class="text-center">Veoma ljubazni, brzo odgovore. Odgovor opširan ali razumljiv svima. Veoma zahvalna na tumačenju rezultata i savetu. Preporuka.</p>
                      </div>
                    </div>  

                    <div class="card  mr-2">
                      <div class="card-body">
                        <p class="text-center">Hvala puno na veoma brzom i opširnom odgovoru, puno je više od očekivanog.</p>     
                      </div>
                    </div>  

                      <div class="card  mr-2">
                      <div class="card-body">
                        <p class="text-center">Zadovoljna sam vašim tumačenjem,sve stavke pažljivo sagledane i objašljene.Baš sve onako kako treba.Saveti su vam odlični,ispunili ste moja očekivanja..</p>     
                      </div>
                    </div>  

                    <div class="card  mr-2">
                      <div class="card-body">
                        <p class="text-center">Svaka cast za ovu uslugu. Od nemerljivog je znacaja pacijentima. U mom slucaju, ova analiza mi veoma znaci jer mogu da se informisem detaljnije o stanju u kom sam, dok cekam zakazani termin kod svog endokrinologa. Sigurno cu preporuciti svojim prijateljima ovu uslugu!
                          Sve pohvale!</p>     
                      </div>
                    </div>  

                   

                    <div class="card  mr-2">
                      <div class="card-body">
                        <p class="text-center">Hvala lepo. Vase tumačenje rezultata tumor markera mi je mnogo pomoglo. Objasnjeno je sve detaljno i zaista svaka cast ! Ovo mi zaista mnogo znači! Pozdrav i sve najbolje! </p>     
                      </div>
                    </div>  

                     <div class="card  mr-2">
                      <div class="card-body">
                        <p class="text-center">Odgovor je za svaku pohvalu. Niko od lekara nije tako objasnio povišene vrednosti. Hvala vam puno. </p>     
                      </div>
                    </div>  

                    

                <div class="col-12">
                
                <h3 class="my-5">Ko tumači rezultate?</h3>
                 <div class="row">
                   
                

                  <div class="col-sm-6 col-md-4 mt-3 text-center">              
                    <img src="/images/editors/JelenaDj.png"  class="rounded-circle hcpImage" alt="">
                    <div class="hcpBio">
                      <p class="text-center font-weight-bold">Jelena Đuran</p>
                      <span class="text-center disabled p-0">Medicinski biohemičar</span>
                    </div>
                  </div>
     

                     <div class="col-sm-6 col-md-4   mt-3 text-center">
                      <img src="/images/editors/Valentina.png"  class="rounded-circle hcpImage" alt="">
                      <div class="hcpBio">
                        <p class="text-center font-weight-bold">Valentina Mandić</p>
                        <span class="text-center disabled p-0">Medicinski biohemičar</span>
                      </div>
                     </div>

                     
                    <div class="col-sm-6 col-md-4   mt-3 text-center">
                      <img src="/images/editors/IvanZaletel.png"  class="rounded-circle hcpImage" alt="Ivan Zaletel specijalista patologije">
                      <div class="hcpBio">
                        <p class="text-center font-weight-bold">dr Ivan Zaletel</p>
                        <span class="text-center disabled p-0">Specijalista patologije</span>
                      </div>
                     </div>
                  </div>
                </div>

                 

                <div class="col-12 text-center mx-auto my-5">
                   <h3 class="cardDisclaimer text-center p-4">Ne postavljamo dijagnozu, ne određujemo terapiju i ne lečimo!</h3>
                </div>

                 <div class="col-12 text-center mx-auto my-3">
                   <span class="text-center p-4">Ukoliko imaš bilo kakvo pitanje u vezi tumačenja rezultata ili nečeg drugog javi se na zdravo@labcube.rs</span>
                </div>

                <div class="col-12 text-center">
                  <a href="/registracija" class="btn btn-block btn-outline-info btn-lg display-4 mb-5"><h3 class="mt-2">Pokreni tumačenje nalaza</h3></a>
                </div>


             
              </div>



      </div><!-- col-12 -->
    </div> <!-- row -->
  </div> <!-- container -->
</div><!-- faq end -->
