

<div class="container-fluid pr-0 pl-0">
  <div class="row">
    <div class="col-lg-12">
      <div id="mapPrices" class="d-none">
      </div>
    </div>
  </div>
</div>

<div class="container" id="results" style="">
 		<div class="row d-flex" style="border-radius: 50px;background: #365c68;box-shadow:  20px 20px 60px #2e4e58,-20px -20px 60px #3e6a78; padding:40px;">


        <div class="col-6 align-self-center">
          <h1 style="font-size:200px; color:white;" class="text-center text-white">404</h1>
          <!-- <h3 class="text-white text-center">Kao u Pekabeti 1993</h3> -->
        </div>



        <div class="col-6">
          <img src="/images/1993.jpg" alt="" style="width:400px;">
        </div>

        <!-- <div class="col-12 text-white text-center mt-5">
          <p><a href="https://open.spotify.com/album/4TkmrrpjlPoCPpGyDN3rkF?si=XaKfF6hnT4SaUoY2Z1_obA&dl_branch=1" class="noLink text-white" target="_blank">Uvek možete poslušati malo dobre muzike ili</a></p>
          <h2><a href="/" class="text-white">vratite se na početnu stranicu</a></h2>
        </div> -->



 </div> <!-- results container end -->
</div>
