{{> _innerNavFrontend}}

<div class="container-fluid pr-0 pl-0">
  <div class="row">
    <div class="col-lg-12">
      <div id="mapPrices" class="d-none">
      </div>
    </div>
  </div>
</div>

<div class="container" id="aboutUs">
  <div class="row">
    <div class="col-12">

      <h1 class="headTitleAboutUs">O nama</h1>
      <small class="">Izgleda da neko ipak čita ovu stranicu :) </small>

      <p class="mt-4">Zdravo, mi smo lab cube, ukoliko želiš da nam se predstaviš možeš napraviti nalog <a href='/registracija'>ovde</a>.</p>

      <p>Zbog činjenice da smo biohemičari koji vole svoj posao i da saosećamo sa pacijentima, proveli smo sate, dane odgovarajući na pitanja prijatelja, rođaka, dalje i bliže familije o tome šta znači povišen CRP, šta su leukociti, zašto je dobro da je LDL holesterol nizak a HDL visok, da li rezultati ukazuju na virus ili baketeriju. Lista je beskonačna. Savetovali smo koje analize kada ima smisla raditi, šta se radi zajedno, na koje detalje bi trebalo obratiti pažnju. Onda su nas pitali koliko to sve košta, gde može da se uradi, koliko treba vremena da se obradi uzorak, do kada radi laboratorija, imamo li broj telefona laboratorije, ima li nekih popusta, ”zaboravio sam da im kažem da mi urade gvožđe da li to može naknadno da se uradi?”, ko može da mi pogleda rezultate, pitanjima nije bilo kraja. </p>

      <p>Sva znanja iz teorije i prakse smo nesebično delili. Svi su dobii tačne i precizne odgovore, svaka tvrdnja je bila potkrepljena činjenicama, bez improvizacija. U međuvremenu smo shvatili da je svaki rad koji se ponavlja dobar kandidat za automatizaciju i unapređenje procesa. Osim činjenice da smo biohemičari istina je i da smo pomalo lenji pa smo pokušali nekako da automatizujemo naše odgovore, napravili smo foldere prema grupama analiza, unutra su bili kratki opisi analiza, zatim smo naprvili grupe testova prema kategorijama pacijenata. U ekselu smo imali listu laboratorija kako bismo brzo mogli da odgovorimo gde uraditi analize. Automatizacija se sastojala u tome da smo imali sve sortirano i da smo brzo mogli da pronađemo ono što nam treba, onda sam sve prebacili na google docs kako bismo zajednički mogli da uređujemo opise, komentare rezultata itd...to je bio naš maksimum. Što smo više automatizovali više smo pitanja dobijali pa smo shvatili da naša automatizacija neće izdržati, razmišljali smo da li da emigriramo ili nađemo neko rešenje kako bismo nastavili sa onim u čemu smo najbolji. Bio je decembar 2017. </p>

      <p>Početkom septembra 2017 sam radio biohemijske analize u sklopu sistematskog pregleda (hvala firmi), kada sam dobio rezultate nisam imao pojma šta sam dobio ali sam dobio šta sam tražio. Pregled kod lekara je bio zakazan za 2 nedelje ali ko može da čeka ako vidi da nešto nije ok? želeo sam odgovor odmah, istog trena i želeo sam da to što saznam bude tačno. Odmah sam prosledio rezultate Darku jer biohemičar. Poslao mi je komentar i par linkova sa kratkim opisima analiza, sasvim dovoljno da razumem svoje rezultate i da me umiri. Nakon nekog vremena sam želeo da ponovim analize da vidim da li se nešto promenilo, <a href="mailto:darko@******.com?&subject=analize, gde, cena?&body=e, gde mi je najbolje da uradim ove analize što smo pričali? Koliko to otprilike košta i da li da uradim još nešto pored ovoga? Hvala" target="_blank">poslao sam mejl Darku</a>. Darko je bio zatpran poslom pa je prosledio Bojanu moja pitanja. Bojan je imao sve odgovore. Na izlasku iz laboratorije sam pomislio, zašto ne bismo napravili servis koji bi sve ovo mogao da radi umesto Darka i Bojana? Ma, sigurno već postoji tako nešto, google nije dao očekivane rezultate, bio je decembar 2017.</p>
      <p>Očekivano je bilo da razmenimo ideje, 2 Bojana i Darko. Prvi razgovor na tu temu je definisao grubu skicu kako bi jedan takav servis trebalo da izgleda, šta je neophodno, šta je višak, šta je korisno ali ne mora odmah itd...trebalo je puno vremena, rada, truda, sastanaka, živce da ne spominjemo da bi nastao servis koji je pred vama i koji pomaže svima kojima se životni put u nekom trenutku ukrsti sa biohemijskom laboratorijom.</p>

      <!-- <h1 class="headTitleAboutUs">Misija</h1> -->

      <p>Pošto nam je jako važan odnos sa pacijentima zadržali smo servis koji su pružali Darko i Bojan u osnovnom obliku a to je savetovanje pre odlaska u laboratoriju, naravno, malo smo to unapredili tako da sada možete sa naslovne stranice pokrenuti čet sa našim kolegama biohemičarima koji će vas posavetovati, ovo je potpuno besplatno.</p>
      <p> Kao pacijentima, izuzetno nam je važno da otkrijemo šta se to krije iza nekih čudnih naziva na lekarskim uputima, kao i brojeva na laboratorijskim rezultatima koji se dobijaju za te čudne nazive. Sve što smo ikada pisali o biohemijskim analizama smo sistematizovali, unapredili uz pomoć naših kolega i smestili u bazu podataka. Sada svako može pretraživati bazu po imenu analize i dobiti jasne informacije o tome zašto se neke analize traže, s kojim stanjima u organizmu su povezane i na koje promene nam povišene ili snižene vrednosti ukazuju. Odaberite filter analiza i ukucajte najmanje 2 karaktera, ostalo će uraditi lab cube. Takođe, veoma nam je bitno da saznamo gde možemo, u našoj okolini najjeftinije da dobijemo te rezultate i kako da se pripremimo da bi ti rezultati bili validni i korisni lekaru koji nas je i uputio da te analize uradimo. Našli smo javno dostupne informacije o svim privatnim laboratorijama u Srbiji i njihove podatke objedinili na našoj stranici. Odaberite filter laboratorija i upišite najmanje 2 karaktera, ostalo će uraditi lab cube.</p>

      <p> </p>

      <p>Imamo tim biohemičara koji može pogledati vaše rezultate i koji može odgovoriti na sva vaša pitanja i dati vam savet za sledeći korak. Ukoliko vam je potrebno tumačenje rezultata, kliknite <a href="/tumacenje-laboratorijskih-analiza">ovde</a></p>

      <p></p>



      <h1 class="headTitleAboutUs">Ljudi</h1>
      <p>Bojan J</p>
      <p>Darko P</p>
      <p>Bojan Ć</p>
    </div>


  </div><!-- table-responsive -->
 </div> <!-- results container end -->

 {{> _footer}}
