{{> _innerNavFrontend}}

<div class="container-fluid pr-0 pl-0">
  <div class="row">
    <div class="col-lg-12">
      <div id="mapPrices" class="d-none">
      </div>
    </div>
  </div>
</div>

<div class="container" id="aboutUs">
  <div class="row">
    <div class="col-12">

      <h1 class="headTitleAboutUs">O nama</h1>
      <!-- <small class="">Izgleda da neko ipak čita ovu stranicu :) </small> -->

      <p class="mt-4">Zdravo, mi smo lab cube, ukoliko želite da nam se predstavite možete napraviti nalog <a href='/registracija'>ovde</a>.</p>

      <p>Bojan i Darko (MB): Zbog činjenice da smo medicinski biohemičari koji vole svoj posao i ispunjava nas ideja da nekome možemo da pomognemo, a pritom nas entuzijazam još nije napustio, proveli smo dosta vremena odgovarajući na pitanja prijatelja, rođaka, poznanika, dalje i bliže familije o tome šta znači povišen CRP, šta su leukociti, zašto je dobro da je LDL holesterol nizak a HDL visok, da li rezultati ukazuju na virus ili baketeriju... Lista je beskonačna. Savetovali smo ih u vezi sa tim koje analize i u koje vreme ima smisla raditi, šta može da se radi zajedno, na koje detalje bi trebalo obratiti pažnju... Onda su nas pitali koliko to sve košta, gde može da se uradi („u koju laboratoriju je najbolje da odem?“), koliko treba vremena da se obradi uzorak, do kada radi laboratorija, imamo li njihov broj telefona, ima li nekih popusta, ”zaboravio sam da im kažem da mi urade gvožđe da li to može naknadno da se uradi?”, „je l’ može neko da mi pogleda rezultate“...Pitanjima nije bilo kraja. </p>

      <p>Sva znanja iz teorije i prakse smo nesebično delili, u skladu sa mogućnostima. Svi su dobili odgovore, nikome nismo postavljali dijagnozu jer to i nije naš posao, ali je svako dobio pojašnjenje svojih rezultata uz odgovarajući savet. U međuvremenu smo shvatili da je svaki rad koji se ponavlja dobar kandidat za automatizaciju i unapređenje procesa. </p>

      <p>Osim činjenice da smo medicinski biohemičari istina je i da smo pomalo lenji pa smo zamolili našeg drugara IT-evca da nam pomogne u pokušaju da nekako automatizujemo naše odgovore. Automatizacija se sastojala u tome da smo imali sve (kratke opise analiza po grupama, listu laboratorija, grupe testova...) sortirano i da smo brzo mogli da pronađemo ono što nam treba... To je u tom trenutku bio naš maksimum. Što smo više automatizovali više smo pitanja dobijali pa smo shvatili da naša automatizacija neće izdržati, razmišljali smo da li da emigriramo ili nađemo neko efikasnije rešenje. Bio je decembar 2017.</p>

      <p>Bojan (Web developer): Početkom septembra 2017. sam radio biohemijske analize u sklopu sistematskog pregleda (hvala firmi), kada sam dobio rezultate nisam imao pojma šta sam dobio ali sam dobio šta sam tražio. Pregled kod lekara je bio zakazan za 2 nedelje ali nisam mogao da čekam jer su neki rezultati bili van referentnih vrednosti. Želeo sam odgovor odmah, istog trenutka i želeo sam da to što saznam bude tačno. Odmah sam prosledio rezultate Darku jer je biohemičar. Poslao mi je komentar i par linkova sa kratkim opisima analiza, sasvim dovoljno da shvatim svoje rezultate i šta se dešava. Nakon nekog vremena sam želeo da ponovim analize da vidim da li se nešto promenilo <a href="mailto:darko@******.com?&subject=analize, gde, cena?&body=e, gde mi je najbolje da uradim ove analize što smo pričali? Koliko to otprilike košta i da li da uradim još nešto pored ovoga? Hvala" target="_blank">poslao sam mejl Darku</a>. Darko je bio zatpran poslom pa je prosledio Bojanu moja pitanja. Bojan je imao odgovore koji su mi bili potrebni. Na izlasku iz laboratorije sam pomislio, zašto ne bismo napravili servis koji bi sve ovo mogao da radi umesto Darka i Bojana? Ma, sigurno već postoji tako nešto. Google nije dao očekivane rezultate, bio je decembar 2017. </p>

      <p>Očekivano je bilo da razmenimo ideje, 2 Bojana i Darko. Prvi razgovor na tu temu je definisao grubu skicu kako bi jedan takav servis trebalo da izgleda, šta je neophodno, šta je višak, šta je korisno ali ne mora odmah itd... Trebalo je puno vremena, rada, truda, sastanaka (živce da ne spominjemo ☺) da bi nastao servis koji je pred Vama i kojim želimo da pomognemo svima kojima se životni put u nekom trenutku ukrsti sa biohemijskom laboratorijom </p>


      <h1 class="headTitleAboutUs mt-5 mb-3">Uprava (napolje!)</h1>

      <p>Bojan Ćulajević: Nosilac ideje. Tvrdoglav. Procenili ga kao „coachable“. Verovatno se prevarili. Nema živaca. Posvećen, vredan. Osetljiv na kritiku. On ima sve detalje u glavi i kako bi to sve trebalo da izgleda, čudi se kada mu drugi ne čitaju misli. Zadužen za razvoj funkcionalnosti i da sve radi. Ne zna baš da igra u timu, doduše napredovao je od dečijeg perioda kada je sedeo u napadu i čekao loptu da da gol - sada sam ševa sve igrače na terenu i  šutira na gol. Od saigrača očekuje da pokupe njegove odbitke i da daju gol. Radi na tome da to ispravi. Traži način da više vremena provodi u Logarskoj dolini i na Plitvicama.</p>

      <p>Darko Perović: Misli da je ovo sve njegova brilijantna ideja (o kojoj i jeste razmišljao nezavisno od Ćulajevića, ali ni blizu ovako zamišljao). Tvrdoglav. Hoće da sluša. Bez živaca, ali naučen da se strpi. Da li smo već rekli da je tvrdoglav? Kasni, uvek i svuda. Dolazak na vreme je gubljenje vremena kao stil života. Svima najbolji i sa svima fin. Sastavio je odličan tim za pisanje analiza, zadužen za sav sadržaj na stranici. Odgovoran za društvene mreže. Poznaje laboratorije kao svoj džep. Svoju kreativnu stranu je prikazao i kroz našu lab cube pesmicu. Nije bio u vojsci ali zna šta je hvatanje krivine. Ume da poveže informacije i izvuče zaključak pre svih. Misli da bez bluetooth zvučnika život nema smisla. Svakog petka oko 22h mu se dešava neverovatna promena. Tvrdoglav. </p>

      <p>Bojan Jevtić: poslednja (i najvažnija) karika. Ne priča mnogo ali kaže dosta. Sjajne sposobnosti sagledavanja šire slike. Sjajan osećaj za kreiranje lakih rešenja. Kontaktiran zbog pisanja analiza (procena je bila da to sve drži u malom prstu i da će za 10 dana sve da ispiše), ispostavilo se da je kreiranje biznis modela mnogo korisniji njegov doprinos. Tvrdoglav. Lako se obeshrabri/demotiviše, ali se lako i zapali. Tolerantan, smiren, racionalan. Lenj, ali odgovoran. Voli da analizira i posmatra sve iz različitih uglova. Voli sve da proveri nekoliko puta pre nego što donese konačnu odluku. Glas razuma u ovom društvu.</p>


    </div>


  </div><!-- table-responsive -->
 </div> <!-- results container end -->

 {{> _footer}}
