{{> _innerNavBackend}}
{{#each errors}}
  <!-- <div class="alert alert-danger text-center">{{text}}</div> -->
  <div class="alert alert-danger text-center alert-dismissible fade show">{{text}}
  <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button></div>
  {{else}}
{{/each}}

    {{> _editAnalysisForm}}

{{> _footer}}
