{{#each errors}}
  <div class="alert alert-danger text-center">{{text}}</div>
  {{else}}
{{/each}}
{{> _innerNavBackend}}
<div class="container">
  <div class="row">
    {{> _editGroupForm}}
  </div>
</div>

{{> _footer}}
