{{> _innerNavBackend}}
{{#each errors}}
  <div class="alert alert-danger text-center alert-dismissible fade show">{{text}}
  <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button></div>
{{/each}}

    {{> _editLabForm}}

{{> _footer}}
