{{> _innerNavFrontend}}
<div class="container" id="results">
 		<div class="row">
      <!-- {{name}} -->
 			<div class="col-md-12 col-lg-9 table-responsive">
        <div class="loader-wrapper">
          <span class="loader"><span class="loader-inner"></span></span>
        </div>

 				<table class="table results table-hover">
 					<tbody id="resultTable">

          </tbody>
 				</table><!-- table -->
 			</div><!-- table-responsive -->

      {{> _sidebar}}


 		</div><!-- table row end  -->
 </div> <!-- results container end -->

 {{> _footer}}
