{{> _innerNavFrontend}}

<div class="container-fluid pr-0 pl-0">
  <div class="row">
    <div class="col-lg-12">
      <div id="mapPrices" class="d-none">
      </div>
    </div>
  </div>
</div>

<div class="container" id="termsAndConditions">
  <div class="row">
    <div class="col-12">
      <h1 class="headTitleConditions my-5">Prvo nešto slatko</h1>
      <!-- <small class="">Izvinjavamo se zbog količine teksta </small> -->
      <p class="generalInformation">U Labcube-u verujemo u jasan i otvoren pristup kada je u pitanju prikupljanje i korišćenje vaših ličnih podataka. Naša veb stranica može da pošalje vašem računaru ili drugom uređaju male, često šifrovane, tekstualne datoteke smeštene u direktorijumima vaših pregledača tzv. kolačiće (cookies), a sve u cilju unapređenja usluge na našoj veb stranici, i poboljšanja vašeg iskustva prilikom pregledanja stranice. U skladu sa Zakonom o zaštiti podataka o ličnosti, kao i u duhu transparentnosti, ovim putem vam pružamo detaljne informacije o tome kako i kada koristimo ove tehnologije. Davanjem pristanka i korišćenjem veb stranice pristajete na upotrebu kolačića. Blokiranjem kolačića i dalje možete da pregledate stranicu, ali vam neke opcije neće biti dostupne.</p>
      <span class="generalInformation"><strong>Šta je kolačić?</strong></span>
      <p class="generalInformation pt-3">Kolačić (Cookie) je informacija poslata vašem računaru/drugom uređaju od strane veb stranice koju posetite. Kolačići obično čuvaju vaše postavke za veb stranicu, kao što su željeni jezik ili adresa. Kasnije, kada opet otvorite istu veb stranicu internet pregledač šalje nazad kolačiće koji pripadaju toj stranici. Ovo omogućava stranici da prikaže informacije prilagođene vašim već iskazanim potrebama. Kolačići mogu da čuvaju širok spektar informacija uključujući i podatke o ličnosti (kao što je vaše ime ili e-mail adresa). Ipak, ove informacije mogu biti sačuvane jedino ako vi to omogućite - veb stranice ne mogu da dobiju pristup informacijama koje im vi niste dali i ne mogu da pristupe drugim datotekama na vašem računaru/drugom uređaju. Zadate aktivnosti čuvanja i slanja kolačića vama nisu vidljive. Ipak, možete da promenite vaše postavke internet pregledača kako biste mogli sami da birate da li hoćete da zahteve za čuvanje kolačića odobrite ili odbijete, izbrišete sačuvane kolačiće automatski pri zatvaranju internet pregledača i slično.</p>
      <span class="generalInformation"><strong>Kako onemogućiti kolačiće?</strong></span>
      <p class="generalInformation pt-3">Isključivanjem kolačića odlučujete da li hoćete da dopustite čuvanje kolačića na vašem računaru/drugom uređaju. Cookie postavke mogu da se kontrolišu i konfigurišu u vašem veb pregledaču. Za informacije o postavkama kolačića, odaberite servis veb pregledača koji koristite.</p>
      <ul class="textList">
        <li class="generalInformation"><a href="https://www.google.com/intl/en/chrome/" target="_blank" class="nolink">Chrome</a></li>
        <li class="generalInformation"><a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank" class="nolink">Firefox</a></li>
        <li class="generalInformation"><a href="https://support.microsoft.com/en-us/windows/internet-explorer-help-23360e49-9cd3-4dda-ba52-705336cc0de2" target="_blank" class="nolink">Internet Explorer 9</a></li>
        <li class="generalInformation"><a href="https://www.microsoft.com/en-us/download/internet-explorer-7-details.aspx" target="_blank" class="nolink">Internet Explorer 7 i 8</a></li>
        <li class="generalInformation"><a href="https://www.opera.com/computer" target="_blank" class="nolink">Opera</a></li>
        <li class="generalInformation"><a href="https://www.apple.com/safari/" target="_blank" class="nolink">Safari</a></li>
      </ul>
      <p class="generalInformation">Ako onemogućite kolačiće, nećete moći da koristite neke od funkcionalnosti na ovim veb stranicama.</p>
      <span class="generalInformation"><strong>Šta su privremeni kolačići?</strong>
      <p class="generalInformation">Privremeni kolačići ili kolačići sesije se uklanjaju sa računara/drugog uređaja po zatvaranju internet pregledača. Pomoću njih veb mesta skladište privremene podatke, i kolačići traju samo onoliko koliko traje sama sesija.</p>
      <span class="generalInformation"><strong>Šta su stalni kolačići?</strong>
      <p class="generalInformation">Stalni ili uporni kolačić nam može pomoći da vas prepoznamo kao postojećeg korisnika, tako da je lakše da se vratite na <a href="https://www.labcube.rs/" target="_blank"> veb stranicu</a> ili komunicirate sa našim uslugama. Trajni kolačić ostaje u vašem pregledaču i naša veb stranica će ga pročitati kada se vratite na našu veb lokaciju. Pomoću njih veb mesta skladište podatke, i ovi  kolačići mogu ostati na računaru danima, mesecima, čak i godinama.</p>
      <span class="generalInformation"><strong>Šta su kolačići od prve strane?</strong>
      <p class="generalInformation">Kolačići prve strane dolaze sa veb mesta koje gledate, a mogu biti stalni ili privremeni. Pomoću tih kolačića veb mesta mogu da čuvaju podatke koje će ponovo koristiti prilikom sledeće posete tom veb mestu.</p>
        <span class="generalInformation"><strong>Šta su kolačići treće strane?</strong>
      <p class="generalInformation">Kolačići treće strane dolaze sa reklama drugih veb mesta (kao što su pop-up ili druge reklame) koje se nalaze na veb mestu koje gledate. Pomoću tih kolačića veb mesta mogu da prate korišćenje interneta u marketinške svrhe.</p>
        <span class="generalInformation"><strong>Da li labcube.rs veb stranica koristi kolačiće?</strong></span>
          <p class="generalInformation">Da, s primarnim ciljem kako bi Vam naše veb stranice omogućile bolje korisničko iskustvo i jednostavniju upotrebu labcube.rs veb stranice.</p>
          <ul class="textList mt-3">
            <li class="generalInformation pb-2"><strong>Privremeni kolačići</strong> su privremeni kolačići koji ističu (i automatski se brišu) kada zatvorite internet pregledač.</li>
            <li class="generalInformation pb-2"><strong>Trajni kolačići</strong> obično imaju datum isteka daleko u budućnosti i ostaju u vašem pretaživaču dok ne isteknu ili dok ih ručno ne izbrišete.</li>
            <li class="generalInformation pb-2"><strong>Statistički kolačići</strong> Ovi kolačići nam govore o tome kako koristite našu veb stranicu i pomažu nam da poboljšamo sam veb sajt, kao i vaše korisničko iskustvo. Na primer, ovi kolačići broje posetioce naše veb stranice i vide kako se posetioci kreću naokolo kada ga koriste. To nam pomaže da poboljšamo način na koji naša veb lokacija funkcioniše, na primer, osiguravajući da korisnici lako pronađu ono što traže.</li>
            <li class="generalInformation pb-2"><strong>Marketing kolačići</strong> Ovi kolačići (koji se nazivaju i reklamni kolačići) koriste se za isporučivanje oglašenog sadržaja koji je relevantan za vas i oni se mogu koristiti za praćenje efikasnosti naših reklamnih kampanja na veb stranici. Ove kolačiće stavljaju na našu veb lokaciju naši partneri (pružaoci određenih marketinških usluga) i oni mogu upamtiti vašu aktivnost veb pretraživanja na našem veb sajtu i te informacije se mogu koristiti za bolje razumevanje vas i vaših potreba, na primer – demografija (odakle dolazite na naš veb sajt), starosno doba itd. Samo anonimne informacije se zadržavaju i koriste na ovaj način i samo sa ciljem da se vama pruži sadržaj koji je najviše relevantan za vas.</li>
          </ul>
          <span class="generalInformation"><strong>Da li na veb stranici ima kolačića treće strane?</strong></span>
          <p class="generalInformation">Na stranici ima nekoliko spoljnih servisa kao što su Google Analytics, Google Tag Manager, Tawk.to, Hotjar i Facebook pixel, a koji korisniku skladište limitirane kolačiće. Ovi kolačići nisu postavljeni od strane ove veb stranice, ali neki služe za normalno funkcionisanje određenih mogućnosti koje korisnicima olakšavaju pristup sadržaju.</p>
          <span class="generalInformation"><strong>Dodatne informacije oko isključivanja kolačića</strong></span>
          <p class="generalInformation">Naš vebsajt vam omogućava da samostalno, u okviru svog veb pregledača, odaberete da li želite da prihvatate kolačiće ili ne. Različiti veb pregledači vam omogućavaju različite kontrole. Generalno, vaš veb pregledač će vam ponuditi mogućnost prihvatanja, odbijanja ili brisanja kolačića u svakom trenutku, pri čemu možete odabrati koje kolačiće želite da obrišete – počevši od kolačića trećih strana pa do posebno odabranih kolačića koje su postavili sami veb sajtovi koje ste posetili. Gotovo svaki vebsajt veb pregledača treba da sadrži uputstva o tome kako to možete da uradite.</p>
          <p class="generalInformation">Više informacija o kolačićima (cookies) možete dobiti na sledećim linkovima:</p>
          <ul class="textList my-5">
            <li class="generalInformation pb-2"><a href="http://www.youronlinechoices.eu/" target="_blank">http://www.youronlinechoices.eu/</a></li>
            <li class="generalInformation pb-2"><a href="http://www.allaboutcookies.org/" target="_blank">http://www.allaboutcookies.org/</a></li>
          </ul>
          <span class="generalInformation mt-4"><strong>Popis kolačića koje prikupljamo</strong></span>
          <div class="table-responsive mt-4">
          <table class="table  table-striped">
            <thead>
              <tr>
                <th scope="col">Vrstva kolačića</th>
                <th scope="col">Naziv</th>
                <th scope="col">Snabdevač</th>
                <th scope="col">Svrha</th>
                <th scope="col">Istek kolačića</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Analitički</td>
                <td>_ga</td>
                <td>Google Analytics</td>
                <td>_ga kolačić postavlja Google analitika kako bi računala posete, sesije, kampanje a takođe prati i način korišćenje naše veb stranice. Kolačić anonimno skladišti informacije i dodelje nasumičan broj svakom korisniku kako bi mogao da prati jedinstvene posete.</td>
                <td>2 godine</td>
              </tr>
              <tr>
                <td>Analitički</td>
                <td>_gid</td>
                <td>Google Analytics</td>
                <td>_gid kolačić postavlja Google analitika i on čuva informacije o tome kako posetioci koriste veb stranicu i istovremeno kreira izveštaj o performansama naše veb stranice. Neki od podataka koje ovaj kolačić obezbeđuje su: broj posetilaca, odakle posetilac dolazi i koje stranice je posetio. Sve ovo kolačić radi anonimno.</td>
                <td>1 dan</td>
              </tr>
              <tr>
                <td>Analitički</td>
                <td>_hjid</td>
                <td>Hot Jar</td>
                <td>_hjid postavlja Hot jar kada posetilac prvi put dođe na našu veb stranicu.</td>
                <td>1 godina</td>
              </tr>
              <tr>
                <td>Analitički</td>
                <td>_hjFirstSeen</td>
                <td>Hot Jar</td>
                <td>_hjFirstSeen postavlja Hot jar da bi identifikovao prvu sesiju novog posetioca. Ovaj kolačić čuva true/false vrednost koja označava da li je ovo prvi put da Hot Jar vidi ovog posetioca.</td>
                <td>30 minuta</td>
              </tr>
              <tr>
                <td>Analitički</td>
                <td>_hjAbsoluteSessionInProgress</td>
                <td>Hot Jar</td>
                <td>Hot Jar postavlja Hot Jar kako bi detektovao prvu stranicu koju je posetilac video. Ovaj kolačić postavlja true/false vrednost.</td>
                <td>30 minuta</td>
              </tr>
              <tr>
                <td>Analitički</td>
                <td>__ga_devsite</td>
                <td>Google Analytics</td>
                <td>_ga_devsite postavlja Google analitika.</td>
                <td>2 godine</td>
              </tr>
              <tr>
                <td>Ostalo</td>
                <td>express:sess</td>
                <td>Express</td>
                <td>express:sess postavlja Express kako bi veb stranica mogla da prikazuje poruke o greškama.</td>
                <td>1 dan</td>
              </tr>
              <tr>
                <td>Ostalo</td>
                <td>express:sess.sig</td>
                <td>Express</td>
                <td>express:sess.sig postavlja Express kako bi obezbedio sigurnosni potpis.</td>
                <td>1 dan</td>
              </tr>

            </tbody>
          </table>
        </div>
          <p class="generalInformation"></p>
          <p class="generalInformation"></p>
          <p class="generalInformation"></p>
          <p class="generalInformation"></p>

      <p class="mt-5 text-center generalInformation">&#127881; &#127881;  Čestitamo  &#127881; &#127881;</p>

    </div>

  </div><!-- table-responsive -->
 </div> <!-- results container end -->

 {{> _footer}}
