{{> _innerNavFrontend}}

<div class="container-fluid pr-0 pl-0">
  <div class="row">
    <div class="col-lg-12">
      <div id="mapPrices" class="d-none">
      </div>
    </div>
  </div>
</div>

<div class="container" id="termsAndConditions">
  <div class="row">
    <div class="col-12">
      <h1 class="headTitleConditions">Advokati bi želeli da ovo pročitate</h1>
      <small class="">Izvinjavamo se zbog količine teksta </small>
        


      <p class="mt-4">Čestitamo &#127881; &#127881; &#127881; &#127881; &#127881;</p>

    </div>
      {{> _sidebar}}
  </div><!-- table-responsive -->
 </div> <!-- results container end -->

 {{> _footer}}
