{{> _innerNavFrontend}}

<div class="container-fluid pr-0 pl-0">
  <div class="row">
    <div class="col-lg-12">
      <div id="mapPrices" class="d-none">
      </div>
    </div>
  </div>
</div>

<div class="container" id="">
 		<div class="row">
      <!-- {{name}} -->
      <div class="col-12">
        {{!-- headTitle class za naslov--}}
 			    <h2 class="text-center my-5">Uspešno ste prosledili spisak odabranih analiza laboratoriji.</h3>
          {{!-- <p class="text-center p18"></p> --}}
          {{!-- <p class="text-center p18">Na mejl smo Vam poslali spisak odabranih analiza i kontakt podatke laboratorije.</p> --}}
          <p class="text-center p18 mb-4"> Na mejl smo ti poslali kod za bespltano tumačenje dobijenih rezultata. Dok čekaš rezultate možeš popuniti <a href="/profile" target="_blank">zdravstveni profil</a> kako bismo ti dali što precizniji komentar na dobijene rezultate. </p>
          <!-- <p class="text-center p18">Ukoliko želite da ubrzate tumačenje rezultata, kliknite ovde.</p> -->
          <!-- <h4 class='benefitsTitle'>Odaberite analize i laboratoriju putem sajta i lab cube vam besplatno omogućuje</h4> -->
          <hr>
          {{!-- <p class="text-center p18">Priprema za uzimanje uzoraka</p> --}}
          <h2 class="text-center p18 my-5">Priprema za uzimanje uzoraka</h2>
          <div class="d-flex flex-wrap mt-4">
            <div class="cardBenefits">
                <img src="/images/priprema1.svg" class="mt-4" alt="">
                <p class="text-center benefit">Dan pre uzimanja uzoraka ne treba se izlagati teškim fizičkim naporima</p>
            </div>
            <div class="cardBenefits">
                <img src="/images/priprema2.svg" class="mt-4" alt="">
                <p class="text-center benefit">12 sati pre uzimanja uzoraka ne treba konzumirati hranu i piće (izuzev vode)</p>
            </div>
            <div class="cardBenefits">
                <img src="/images/priprema3.svg" class="mt-4" alt="" height="40">
                <p class="text-center benefit">Jutro kada se uzima uzorak ne treba pušiti, ne treba piti kafu ili čaj</p>
            </div>
            <div class="cardBenefits">
                <img src="/images/priprema4.svg" class="mt-4" alt="" class="">
                <p class="text-center benefit" style="" style="">10-15 minuta pre uzimanja uzoraka sesti i opustiti se da bi se ustabilio protok krvi</p>
            </div>
          </div><!-- d-flex -->
      </div>


 		</div><!-- table row end  -->
 </div> <!-- results container end -->



 {{> _footer}}
