{{#each errors}}
  <div class="alert alert-danger text-center alert-dismissible fade show">{{text}}
  <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button></div>
  </div>
{{/each}}
{{> _innerNavFrontend}}
 			<div class="col-md-12 table-responsive">
 				<table class="table results table-hover">
          <section id="paketi">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <h1 class="sectionTitle">Tumačenje rezultata laboratorijskih analiza</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi soluta magnam aspernatur in dolore possimus ratione voluptas enim! Esse perspiciatis accusantium harum suscipit, ad? Quisquam sequi praesentium, id iure perspiciatis, recusandae! Placeat doloribus suscipit asperiores eveniet necessitatibus sed eos. Odio.</p>
                  <p>Registrujte se, ukoliko već imate nalog, možete se prijaviti <a href="/prijava">ovde.</a></p>
                </div>
                  <!-- <p class="mt-4">Odaberite vreme za koje želite da vam se protumače rezultati</p> -->
                <div id="odabirPaketa" class="d-flex mt-4">
                  <form action='/tumacanje-laboratorijskih-analiza' method="POST" enctype="multipart/form-data">
                    <div class="col-3 justify-content-center">
                      <div class="card">
                        <div class="card-body">
                          <img src="images/1h.svg" alt="" class="mb-3 mt-3">
                          <p class="text-center font-weight-bold">Tumačenje u roku od sat vremena</p>
                          <p class="text-center benefits">+ dodatna pojašnjenja putem poruka na sajtu</p>
                          <span class="text-center paketiCena">499.<sup>99</sup> din</span>
                          <input type="radio" name="package" value="1" id="t1" {{#if (checkBox package 1)}} checked {{/if}} />
                          <label for="t1"  class="btn btn-outline-success text-uppercase mt-4 customRadio">izaberi</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="card">
                        <div class="card-body" >
                          <div class="najpopularnije">najpopularnije</div>
                          <img src="images/4h.svg" alt="" class="mb-3 mt-3">
                          <p class="text-center font-weight-bold">Tumačenje u roku od 4 sata</p>
                          <p class="text-center benefits">+ dodatna pojašnjenja putem poruka na sajtu</p>
                          <span class="text-center paketiCena">399.<sup>99</sup> din</span>
                          <input type="radio" name="package" value="4" id="t4" {{#if (checkBox package 4)}} checked {{/if}} />
                          <label for="t4"  class="btn btn-outline-success text-uppercase mt-4 customRadio">izaberi</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="card">
                        <div class="card-body ">
                          <img src="images/12h.svg" alt="" class="mb-3 mt-3">
                          <p class="text-center font-weight-bold">Tumačenje u roku od 12 sati</p>
                          <p class="text-center benefits">+ dodatna pojašnjenja putem poruka na sajtu</p>
                          <span class="text-center paketiCena">299.<sup>99</sup> din</span>
                          <input type="radio" name="package" value="12" id="t12" {{#if (checkBox package 12)}} checked {{/if}} />
                          <label for="t12"  class="btn btn-outline-success text-uppercase mt-4 customRadio">izaberi</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="card">
                        <div class="card-body ">
                          <!-- <div class="najpopularnije_besplatno">besplatno za lab cube korisnike</div> -->
                          <img src="images/24h.svg" alt="" style="" class="mb-3 mt-3">
                          <p class="text-center font-weight-bold">Tumačenje u roku od 24 sata</p>
                          <p class="text-center benefits">+ dodatna pojašnjenja putem poruka na sajtu</p>
                          <span class="text-center paketiCena">199.<sup>99</sup> din</span>
                          <input type="radio" name="package" value="24" id="t24" {{#if (checkBox package 24)}} checked {{/if}} />
                          <label for="t24" class="btn btn-outline-success text-uppercase mt-4 customRadio">izaberi</label>
                        </div>
                      </div>
                    </div>
                </div><!-- odabir paketa end -->
                <div class="col-12 upload_file my-4">

                    <div class="form-row">
                      <div class="col-6">
                        <div class="custom-file">

                            <input type="file" id="uploadResults" name="result" class="custom-file-input" placeholder="odaberite fajl"/>
                            <label for="uploadResults" class="custom-file-label">Odaberite rezultate *</label>
                            <small id="emailHelp" class="form-text text-muted">pdf, jpg, jpeg, png, do 3MB</small>
                        </div>

                        <!-- <input type="file" class="form-control" id="uploadResults" name="result" placeholder="upload file"> -->

                      </div>
                      <div class="col-6">
                        <input type="email" class="form-control" name="email" placeholder="Unesite mejl adresu" value="{{keepData '' email}}">
                        <small id="emailHelp" class="form-text text-muted">Mi poštujemo vašu privatnost! link ka politici privatnosti</small>
                      </div>
                    </div>
                    <div class="text-center mt-4">
                        <button class="btn btn-success text-uppercase">plaćanje</button>
                      </div>
                  </form>

                </div>

              </div><!-- row end -->
              <div class="col-12">
                <div class="row">
                  <!-- <small class="text-muted">*Ukoliko ne dobijete tumačenje rezultata u okviru vremena koje ste odabrali, tumačenje je besplatno i dobijate kupon za popust od 20% koji možete iskoristiti kada vam naredni put butu potrebne neke analize....</small> -->
                </div>
              </div>
            </div><!-- container end -->
          </section>
 				</table><!-- table -->
 			</div><!-- table-responsive -->

 		<!-- </div> -->
    <!-- table row end  -->
 <!-- </div> -->
  <!-- results container end -->



 {{> _footer}}
