{{> _innerNavPartner}}

<div class="container-fluid pr-0 pl-0">
  <div class="row">
    <div class="col-lg-12">
      <div id="mapPrices" class="d-none">
      </div>
    </div>
  </div>
</div>

<div class="container" id="termsAndConditions">
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <h2 class="my-lg-5 partner_color" style="font-size:37px;">Najjednostavniji način da privučete nove pacijente </h2>
      {{!-- --i ponudite im nešto osim popusta! --}}
      <p>Postanite LabCube partner:</p>
      <ul class="topBenefits">
        <li style="">Pristup hiljadama novih pacijenata</li>
        <li>Izuzetna vidljivost za Vašu laboratoriju</li>
        <li>Besplatno oglašavanje i podaci o korisnicima laboratorija</li>
      </ul>
      <a href="https://03xtl5druu8.typeform.com/to/vyHdfWY0" type="button" class="btn btn-primary p-3 partner_signup" target="_blank">Prijavite se danas</a>
      <p class="mt-4 partner_color">Članarina je zauvek besplatna!</p>
    </div>
    <div class="d-none d-lg-block col-lg-6">
      <img src="/images/Ilustracija 01.svg" alt="">
    </div>
  </div><!-- table-responsive -->
 </div> <!-- results container end -->

<div class="container-fluid"  class=" p-5 mb-5" id="number1">
  <div class="container">
    <div class="row">  
        <div class="col-5 col-md-4">
          <p class="float-right" style="font-size:120px; color:#00E7CA;">#1</p>
        </div>
      <div class="col-md-8 col-7 float-left mt-xs-4 mt-sm-4 mt-md-5">
        <p class="text-white mt-4 p-0" style="font-size:30px;  line-height:40px; letter-spacing:.1rem;">mesto za korisnike laboratorija u Srbiji</p>
      </div>
    </div>
  </div>

  
  <div class="container pb-5">
    <div class="row text-center">
      <div class="col-12 col-sm-6 col-md-6 col-lg-3 benefits_right_border pb-3">
         <h3 class="mb-0 benefits_color">50.0000+</h3>
        <span class="text-white">posetilaca svakog meseca</span>
      </div>
      <div class="col-12 col-sm-6  col-md-6 col-lg-3 benefits_right_border pb-3">
        <h3 class="mb-0 benefits_color">130.000+</h3>
        <span class="text-white">otvorenih stranica svakog meseca</span>
      </div>
      <div class="col-12 col-sm-6  col-md-6 col-lg-3 benefits_right_border pb-3">
         <h3 class="mb-0 benefits_color">1. strana</h3>
        <span class="text-white">Google-a za ključne pretrage</span>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-3 benefits_right_border pb-3">
          <h3 class="mb-0 benefits_color ">516</h3>
        <span class="text-white">postavljenih profila laboratorija</span>
      </div>
    </div>
  </div>
  </div>


<div class="container mt-5">
  <div class="row">
    <div class="col-sm-7 d-none mt-5 d-md-block">
      <img src="/images/Group 2.png" alt="" class="img-fluid">
    </div>
    <div class="col-12 col-md-5">
      <h2 class="partner_color mt-lg-5 mt-0">Kao LabCube partner, lakše vam je da:</h2>
        <ul class="mt-3 topBenefits  partner_color">
        <li>Privučete nove i zadržite stare pacijente</li>
        <li>Pružite superioran kvalitet i obim usluge</li>
        <li>Poboljšate vidljivost i reputaciju laboratorije</li>
        <li>Povećate frekvenciju i vrednost urađenih analiza</li>
      </ul>
    </div>

    <div class="divider"> </div>


   
      <div class="col-12 col-md-6 mt-5">
        <h3 class="partner_color">Zašto je LabCube najbolji prijatelj laboratorija?</h3>
        <p class="mt-4" style="font-size:20px;">Zato što Vam naš partner program omogućava da:</p>
      </div>
      <div class="col-12 col-md-6 my-5">
        <div class="row">
          <div class="col-1"><span class="bigNumbers">1.</span></div>
          <div class="col-11 pt-4 pl-5"><span class=""><h4>Smanjite troškove oglašavanja i administracije</h4></div>
          <div class="col-1"><span class="bigNumbers">2.</span></div>
          <div class="col-11 pt-4 pl-5"><span class=""><h4>Oduševite novu, zahtevniju generaciju pacijenata</h4></div>
          <div class="col-1"><span class="bigNumbers">3.</span></div>
          <div class="col-11 pt-4 pl-5"><span class=""><h4>Rasteretite zaposlene i povećate njihovu produktivnost<h4></div>
        </div>
      </div>
  </div>
</div>

<div class="container-fluid" style="background-color:#1D88E5; margin-bottom:50px;" class="p-5 mb-5" >
  <div class="container pt-5" id="keyBenefits">
  <div class="row">
    <div class="col-12">
      <h2 class="ml-0 text-white">Šta sve dobijate kao LabCube Partner:</h2>
      <ul class="topBenefits2 ml-3 mt-4 text-white">
        <li>Istaknuti profil i veća vidljivost od drugih laboratorija</li>
        <li>LabCube Partner bedž na profilu laboratorije</li>
        <li>Besplatna promocija na LabCube društvenim mrežama</li>
        <li>Ako nemate sajt, LabCube profil Vaše laboratorije možete to postati</li>
        <li>Mogućnost oglašavanja aktuelnih promocija na profilu Vaše laboratorije</li>
        <li>Istorijski pregled pacijenata i analiza koje su radili u Vašoj laboratoriji</li>
        <li>Mesečna statistika pregleda profila Vaše laboratorije od strane LabCube korisnika</li>
        <li>Mesečni uvid u najtraženije analize koje su korisnici tražili na labcube.rs</li>
        <li>LabCube tumači nalaze Vaših pacijenata umesto vas</li>
        <li>Podsećanje pacijenata da ponove analize, ukoliko je potrebno</li>
        <li>Mogućnost online zakazivanja patronaže u Vašoj laboratoriji</li>
      </ul>
      <h2 class="my-5"><span class="text-warning">Važno: </span><span class="text-white">Kako bismo povećali vrednost koju dobijate, ograničili smo broj LabCube partnera na samo 100 u celoj Srbiji.</span></p>
    </div> 
   
  </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 mb-5">
      <span>Zvuči dobro? Najbolje smo ostavili za kraj</span>
      <h3 class="partner_color my-4">Korišćenje LabCube-a je izuzetno jednostavno za sve</h3>
     </div>
    
    <div class="col-2 col-sm-1"><span class="bigNumbers">1.</span></div>
    <div class="col-10 col-sm-11 pt-4 pl-4 groupDescription pb-3 bg_lc_usage mb-3">Kada pacijenti odaberu analize preko labcube.rs, Vaša laboratorija automatski dobija mejl sa informacijama o pacijentu, potrebnim analizama i ukupnom cenom odabranih analiza</div>

    <div class="col-2 col-sm-1"><span class="bigNumbers">2.</span></div>
    <div class="col-10 col-sm-11 pt-4 groupDescription pb-3 bg_lc_usage mb-3 ">Pacijenti dolaze spremni, a Vaše je samo da uradite izabrane analize. Rezultate šaljete pacijentima preko mejla kao i do sada, a oni ih postavljaju na LabCube sajt. Pacijenti više ne zovu radi tumačenja nalaza jer to mi preuzimamo na sebe. Pacijentima svi rezultati laboratorijskih analiza ostaju na jednom mestu.</div>

    <div class="col-2 col-sm-1"><span class="bigNumbers">3.</span></div>
    <div class="col-10 col-sm-11 pt-4 groupDescription bg_lc_usage pb-3 mb-5">LabCube može preuzeti i komunikaciju sa pacijentima. Redovno ih obaveštavamo o Vašim popustima i novostima, a šaljemo im i podsetnike da ponove analize, ako je to potrebno.</div>
  
  </div>
</div>


<div class="container-fluid" style="background-color:#1D88E5; margin-bottom:50px;" class="p-5 mb-5" id="absModel">
  <div class="container p-5" >
    <div class="row">
      <div class="col-12 text-center p-1" >
        {{!-- <h2 class="text-white">LabCube zarađuje samo i isključivo ako Vi zarađujete.</h2> --}}
        <h2 class="text-white">LabCube je najjednostavniji način da pacijentima ponudite još nešto osim popusta.</h2>
        <p class="text-white groupDescription mt-5">LabCube je online saradnik Vaše laboratorije i zarađuje samo ako i Vi zarađujete.</p><p class="text-white groupDescription"></p>
        {{!-- <p class="text-white">Niste sigurni da li je ovo za vas? Postoji samo jedan način da sanzte: Testirajte besplatno!</p> --}}
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 mt-md-5">
      <h2 class="mt-md-5 partner_color">Spremni da dobijete pristup hiljadama potencijalnih pacijenata i oduševite novu, zahtevniju generaciju pacijenata?</h2>
      <p class="my-3">Postanite LabCube partner</p>
      <a href="https://03xtl5druu8.typeform.com/to/vyHdfWY0" type="button" class="btn btn-primary p-3 partner_signup" target="_blank">Prijavite se danas</a>
      <p class="mt-md-5 partner_color">Požurite, broj mesta je ograničen.</p>
      </div>

      <div class="d-none d-md-block col-6 p-0 m-0">
        <img src="/images/Ilustracija 04.svg" alt="">
      </div>

      {{!-- <div class="col-12 text-center mt-5"><h3 class="partner_color">Bonus dobrodošlice</h3></div>
      <div class="col-12 text-center my-4"><p class="groupDescription">Prvih 30 LabCube Partnera dobija rezultate ankete koju smo sproveli sa 550 korisnika laboratorija u Srbiji. Prijavite se i među prvima saznajte:</p></div>

    <div class="col-12 col-md-4 d-flex align-items-stretch">
      <div class="card mr-2 partner_color_bg">    
        <div class="card-body text-center">
          <img class="card-img-top mx-auto mb-5 w-50" src="/images/Ilustracija 05.svg" alt="Card image cap">
          <p class="text-center text-white" style="font-size:24px; line-height:26px;">Šta je pacijentima presudno kod izbora laboratorije</p>
        </div>
      </div>
      </div>

       <div class="col-12 col-md-4 d-flex align-items-stretch">
        <div class="card mr-2 partner_color_bg">   
          <div class="card-body">
            <img class="card-img-top w-75 pt-2 mb-5 mx-auto"  src="/images/Ilustracija 06.svg" alt="Card image cap">
            <p class="text-center text-white" style="font-size:24px; line-height:26px;">Koje to stvari odbijaju vaše potencijalne pacijente</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4 d-flex align-items-stretch">
       <div class="card partner_color_bg" style="">
        <div class="card-body "> 
          <img class="card-img-top w-50 mx-auto mb-5" src="/images/Ilustracija 07.svg" alt="Card image cap">
          <p class="text-center text-white mt-0" style="font-size:24px; line-height:26px;">Šta bi pacijenti želeli da im laboratorije dodatno pruže</p>
        </div>
      </div>
      </div>
       
      <div class="col-12 text-center mb-5">
        <p>... i još mnogo korisnih podataka o ponašanju korisnika laboratorija!</p>
        <a href="https://03xtl5druu8.typeform.com/to/vyHdfWY0" type="button" class="btn btn-primary p-3 partner_signup" target="_blank">Želim da se prijavim</a>
        <p class="partner_color mt-3">samo prvih 30 partnera dobija rezultate istraživanja.</p>
      </div> --}}
      <div class="col-12 mb-5 text-center" style="border-top:1px solid #B3B3B3">
        <p class="mt-4 mb-0">Imate pitanje o LabCube Partner programu?</p>
        <p>Pišite nam na zdravo@labcube.rs - odgovorićemo u roku od 24h</p>
      </div>
    </div>
  </div>

 {{> _footer}}
