{{> _innerNavFrontendThanks}}

<div class="container-fluid pr-0 pl-0">
  <div class="row">
    <div class="col-lg-12">
      <div id="mapPrices" class="d-none">
      </div>
    </div>
  </div>
</div>

<div class="container" id="termsAndConditions">
  <div class="row">
    <div class="col-12">
      <h4 class="headTitleConditions mt-5">Postanite LabCube partner. U pripremi...</h4>
      
      <p class="mt-5">Za sva pitanja i predloge pošaljite nam mejl na zdravo@labcube.rs</p>
      

    </div>

  </div><!-- table-responsive -->
 </div> <!-- results container end -->

 {{> _footer}}
