{{> _innerNavFrontend}}

<div class="container-fluid pr-0 pl-0">
  <div class="row">
    <div class="col-lg-12">
      <div id="mapPrices" class="d-none">
      </div>
    </div>
  </div>
</div>

<div class="container" id="aboutUs">
  <div class="row">
    <div class="col-12">

      <h1 class="headTitleAboutUs my-5">Hvala što ste iskazali interesovanje za zakazivanje patronaže.</h1>
      <p>Trenutno radimo na ovoj funkcionalnosti.</p>
      <p>Ukoliko imate neki predlog ili pitanje, slobodno nam pošaljite mejl na zdravo[at]labcube.rs</p>
      <!-- <small class="">Izgleda da neko ipak čita ovu stranicu :) </small> -->



    </div>


  </div><!-- table-responsive -->
 </div> <!-- results container end -->

 {{> _footer}}
