{{> _innerNavFrontendThanks}}

<section id="paymentError">

<div class="container mt-4" id="">
 		<div class="row">
      <!-- {{name}} -->
      <div class="col-12">
 			    <div class="col-xs-12 col-sm-12 mb-4 col-lg-12 mr-lg-12 mt-4 d-flex flex-column align-self-center" style="box-shadow: 11px 18px 47px -19px rgba(0,0,0,0.82); border-radius:20px;">
            <h1 class="text-center text-danger pt-2">Došlo je do greške.</h4>
            <h1 class="text-center text-danger pt-2">Transakcija nije izvršena.</h1>
            <h1 class="text-center text-danger pt-2">{{errorPayment}}.</h1>

          </div>
      </div>
    </div><!-- d-flex -->
</div>


</section>
 {{> _footer}}
