{{> _innerNavFrontend}}

<div class="container-fluid pr-0 pl-0">
  <div class="row">
    <div class="col-lg-12">
      <div id="mapPrices" class="d-none">
      </div>
    </div>
  </div>
</div>

<div class="container" id="privacyPolicy">
  <div class="row">
    <div class="col-12">
      <h1 class="headTitlePrivacy">Advokati bi želeli da ovo pažljivo pročitate</h1>
      <!-- <small>Izvinjavamo se zbog količine teksta</small> -->

        <p class="generalInformation mt-4">Na osnovu Zakona o zaštiti podataka o ličnosti<sup>1</sup>, privredno društvo INFORMACIONE TEHNOLOGIJE NOUVELLE DOO, BEOGRAD (ZVEZDARA), sa sedištem u ul. Šesnaestog oktobra br. 19, Beograd-Zvezdara, sa matičnim brojem: 20575719, PIB: 106310784, dana 01.10.2021. godine, donosi sledeću</p>
        <h4 class="text-center text-uppercase my-5">politiku privatnosti</h4>
        <ol class="mt-4 generalInformation">
          <li class="generalInformation mb-4">UVODNE ODREDBE</li>
          <p class="ml-4"><span class="">1.1.</span> Ovim aktom (u daljem tekstu: Politika privatnosti) Korisnici/Posetioci aplikacije se informišu o tome koji lični podaci se prikupljaju od strane aplikacije Rukovaoca pod nazivom “labcube” koja se nalazi na internet domenu labcube.rs (u daljem tekstu: Aplikacija), svrha i osnov njihove obrade, dužina čuvanja podataka, pouke o pravima Korisnika/Posetioca aplikacije, procedure u slučaju incidenata, kao i saglasnost Korisnika/Posetioca da Aplikacija može prikupljati, obrađivati i čuvati njihove lične podatke, kako je dalje u tekstu propisano.</p>
          <p class="ml-4"><span>1.2.</span>Aplikacija koristi podatke Korisnika/Posetioca aplikacije u skladu sa ovom Politikom privatnosti, i obavezuje se da će čuvati privatnost svih Korisnika/Posetioca aplikacije, da će prikupljati samo neophodne, osnovne podatke o Korisnicima/Posetiocima aplikacije, odnosno podatke neophodne za poslovanje servisa, ispunjavanje ugovorenih obaveza, informisanje korisnika, u skladu sa dobrim poslovnim običajima i u cilju pružanja kvalitetne usluge, sve u skladu sa Politikom privatnosti.</p>
          <p class="ml-4"><span>1.3.</span> Korišćenjem Usluge na Aplikaciji, Korisnik izjavljuje da je pročitao, razumeo i prihvatio ovu Politiku privatnosti, odnosno da se saglasio sa prikupljanjem, obradom i dužinom čuvanja podataka na način kako je Politikom privatnosti propisano.<p>
          <p class="ml-4"><span>1.4.</span> Korisnik izjavljuje da je pre prihvata Politike privatnosti, pročitao, razumeo i prihvatio uslove iz dokumenta Uslovi korišćenja koji se mogu pronaći <a href="https://labcube.rs/uslovi-koriscenja" target="_blank">ovde</a> (u daljem tekstu: <strong>Uslovi korišćenja</strong>).</p>
          <p class="ml-4"><span>1.5.</span> Aplikacija pod nazivom “labcube” je u vlasništvu i pod kontrolom privrednog društva INFORMACIONE TEHNOLOGIJE NOUVELLE DOO, BEOGRAD (ZVEZDARA), sa sedištem u ul. Šesnaestog oktobra br. 19, Beograd-Zvezdara, sa matičnim brojem: 20575719, PIB: 106310784 (u prethodnom i daljem tekstu: <strong>Rukovalac</strong>).</p>
          <p class="ml-4"><span>1.6.</span> Politika privatnosti je sačinjena u skladu sa pravilima predviđenim Zakonom o zaštiti podataka o ličnosti Republike Srbije, a na sve što nije regulisano Politikom privatnosti, primenjivaće se pravila ovog dokumenta, pri čemu u slučaju različitih rešenja odredbe Zakona o zaštiti podataka o ličnosti Republike Srbije imaju prednost.</p>
          <p class="ml-4"><span>1.7.</span> Ova Politika privatnosti usklađena je sa Uslovima korišćenja Rukovaoca <a href="https://labcube.rs/uslovi-koriscenja" target="_blank">labcube.rs/uslovi-koriscenja</a> kao i sa opštim zahtevima, preporukama, ograničenjima propisanim od strane UNICREDIT BANK SRBIJA A.D. BEOGRAD (STARI GRAD), koja predstavljaju standarde koje treba da zadovolji Rukovalac u cilju korišćenja kartica u e-commerce transakcijama.</p>
        <li class="mt-4 generalInformation mb-4">ZNAČENJE POJMOVA</li>
          <p class="ml-4"><span>2.1.</span> Termini koji su korišćeni u ovoj Politici privatnosti imaju sledeća značenja:<ul class="textList generalInformation">
            <li>RUKOVALAC – privredno društvo iz člana 1.5, koji obrađuje podatke o ličnosti;</li>
            <li class="pt-3">USLUGA – usluga preliminarnog tumačenja rezultata laboratorijskih (biohemijskih) analiza, koja podrazumeva i davanje odgovora i saveta za dalje korake u vezi sa istim, sve od strane tima koji čine biohemičari sa višegodišnjim iskustvom iz državnih i privatnih laboratorija (u daljem tekstu: <strong>Usluga</strong>);</li>
            <li class="pt-3">POSETILAC APLIKACIJE - fizičko lice koje pristupa sadržaju Platforme, a nije Korisnik usluge;</li>
            <li class="pt-3">KORISNIK USLUGE/KORISNIK - fizičko lice koje je registrant Naloga na Platformi i koje koristi Uslugu Platforme;</li>
            <li class="pt-3">PLATFORMA - aplikacija pod nazivom “labcube” koja je u vlasništvu i pod kontrolom Rukovaoca, koje obavlja poslovnu delatnost putem Platforme, odnosno onlajn na veb stranici labcube.rs;</li>
            <li class="pt-3">USLOVI KORIŠĆENJA – dokument kojim se reguliše ugovorni odnos između Rukovaoca i Korisnika, a kojim su propisani uslovi i pravila korišćenja Platforme, kao i prava i obaveze Korisnika prema Platformi i uslugama koje Platforma pruža, a na koje su Korisnici pristali prihvatanjem tih Uslova korišćenja (u daljem tekstu: <strong>Uslovi korišćenja</strong>);</li>
            <li class="pt-3">NALOG - profil Korisnika koji registruje i kreira na Platformi, gde Korisnik vrši registraciju podataka tako što obavezno unosi adresu svoje e-pošte (e-mail) i kreira šifru (lozinku) uz potvrdu, odnosno verifikaciju naloga, na način što Platforma šalje verifikacioni kod na adresu unete e-pošte Korisnika, sve u skladu sa uputstvima koje određuje Platforma</li>
            <li class="pt-3">ZDRAVSTVENI PROFIL - upitnik koji Korisnik opciono popunjava u okviru Platforme, a u koji se unose informacije o zdrastvenom stanju Korisnika u cilju što boljeg sagledavanja rezultata laboratorijskih analiza prilikom tumačenja;</li>
            <li class="pt-3">OSNOVNE INFORMACIJE - odeljak na Platformi u okviru kojeg Korisnik unosi određene podatke o ličnosti, i to opciono ili obavezno, u zavisnosti od konkretne vrste podataka;</li>
            <li class="pt-3">ZAKON - Zakon o zaštiti podataka o ličnosti Republike Srbije (Službeni glasnik RS broj 87 od 13. novembra 2018) (u daljem tekstu: Zakon);</li>
            <li class="pt-3">GDPR - Opšta uredba o zaštiti podataka Evropske Unije (2016/679);</li>
            <li class="pt-3">PRISTANAK je svako dobrovoljno, određeno, informisano i nedvosmisleno izražavanje volje Korisnika/Posetioca aplikacije, kojim on izjavom ili jasnom potvrdnom radnjom, daje pristanak za obradu podataka o ličnosti koji se na njega odnose;</li>
            <li class="pt-3">PODATAK O LIČNOSTI je svaki podatak koji se odnosi na fizičko lice čiji je identitet određen ili odrediv, neposredno ili posredno, posebno na osnovu oznake identiteta, kao što je ime i identifikacioni broj, podataka o lokaciji, identifikatora u elektronskim komunikacionim mrežama ili jednog, odnosno više obeležja njegovog fizičkog, fiziološkog, genetskog, mentalnog, ekonomskog, kulturnog i društvenog identiteta;</li>
            <li class="pt-3">OBRADA PODATAKA O LIČNOSTI je svaka radnja ili skup radnji koje se vrše automatizovano ili neautomatizovano sa podacima o ličnosti Korisnika/Posetilaca aplikacije, kao što su prikupljanje, beleženje, razvrstavanje, grupisanje, odnosno strukturisanje, pohranjivanje, upodobljavanje ili menjanje, otkrivanje, uvid, upotreba, otkrivanje prenosom, odnosno dostavljanje, umnožavanje, širenje ili na drugi način činjenje dostupnim, upoređivanje, ograničavanje, brisanje ili uništavanje;</li>
            <li class="pt-3">OBRAĐIVAČ je fizičko ili pravno lice, angažovano od strane Rukovaoca da u njegovo ime i za njegov račun obrađuje podatke o ličnosti Korisnika/Posetilaca aplikacije;</li>
            <li class="pt-3">TREĆE LICE je fizičko ili pravno lice, odnosno organ vlasti, koji nije Korisnik, Posetilac aplikacije, Rukovalac ili Obrađivač, kao ni lice koje je ovlašćeno da obrađuje podatke o ličnosti pod neposrednim nadzorom Rukovaoca ili Obrađivača;</li>
            <li class="pt-3">NADLEŽNI ORGANI su organi vlasti koji su nadležni za sprečavanje, istragu i otkrivanje krivičnih dela, kao i gonjenje učinilaca krivičnih dela ili izvršenje krivičnih sankcija, uključujući i zaštitu i sprečavanje pretnji javnoj i nacionalnoj bezbednosti, kao i pravno lice koje je za vršenje prethodno nabrojanih poslova ovlašćeno zakonom;</li>
            <li class="pt-3">POVERENIK ili NADZORNI ORGAN je nezavisan i samostalni organ vlasti ustanovljen na osnovu Zakona, koji je nadležan za nadzor nad sprovođenjem Zakona i obavljanje drugih poslova propisanih Zakonom;</li>
            <li class="pt-3">BANKA - UNICREDIT BANK SRBIJA A.D, BEOGRAD (STARI GRAD).</li></ul></p>
        <li class="mt-4 generalInformation mb-4">RUKOVALAC PODACIMA</li>
          <p class="ml-4"><span>3.1.</span> Rukovalac podacima je privredno društvo, bliže definisan članom 2.1. tačka 1, sa kontakt podacima kao u članu 15. </p>
          <p class="ml-4"><span>3.2.</span> Privredno društvo iz člana 3.1. u svojstvu rukovaoca odgovara za podatke o ličnosti prikupljene od Korisnika/Posetilaca aplikacije, na način i u obimu kako je ovim aktom i Zakonom predviđeno.</p>
          <p class="ml-4"><span>3.3.</span> Rukovalac preduzima potrebne tehničke, organizacione i kadrovske mere kako bi obezbedio da se obrada vrši u skladu sa Zakonom i kako bi bio u mogućnosti to da predoči Korisnicima/Posetiocima aplikacije, uzimajući u obzir prirodu, obim, okolnosti i svrhu obrade, kao i verovatnoću nastupanja rizika i nivo rizika za prava i slobode Korisnika/Posetilaca aplikacije.</p>
          <p class="ml-4"><span>3.4.</span> Podatak o tome ko od zaposlenih ili na drugi način angažovanih kod Rukovaoca ima pristup podacima o ličnosti, i ko je njihov administrator sadržani su u Evidenciji aktivnosti obrade iz člana 13.</p>
        <li class="mt-4 generalInformation mb-4">PODACI KORISNIKA KOJI SE PRIKUPLJAJU I OBRAĐUJU</li>
          <p class="ml-4"><span>4.1.</span> U cilju ispunjavanja prava i obaveza ustanovljenih uslovima korišćenja Usluge (u daljem tekstu: Uslovi korišćenja), kao i u cilju poštovanja zakonskih obaveza, legitimnih interesa i razloga unapređenja, efikasnijeg i zakonitog rada Rukovaoca ili na osnovu datog pristanka Korisnika/Posetioca aplikacije koji je dalje u tekstu detaljno objašnjen, Rukovalac prikuplja i obrađuje podatke o ličnosti Korisnika/Posetioca aplikacije.</p>
          <p class="ml-4"><span>4.2.</span> Rukovalac prikuplja i obrađuje neki od sledećih podataka, odnosno sledeće podatke Korisnika:</p>
          <p class="ml-4">a-1) obavezno, u svrhu korišćenja Usluge:</p>
          <ol class="textList">
            <li class="generalInformation">e-mail adresa;</li>
            <li class="generalInformation">lozinka (šifra);</li>
            <li class="generalInformation">podaci iz rezultata laboratorisjke (biohemijske) analize;</li>
            <li class="generalInformation">ime i prezime (unosi se prilikom plaćanja, nije vidljivo u okviru naloga Korisnika);</li>
            <li class="generalInformation">adresa (grad, mesto, ulica), (unosi se prilikom plaćanja, nije vidljivo u okviru naloga Korisnika);</li>
            <li class="generalInformation">IP adresa.</li>
          </ol>
          <p class="my-3 ml-4">a-2) opciono, ukoliko Korisnik želi da ih podeli u okviru svog naloga u svrhu preciznijeg mišljena, potpunijeg korisničkog naloga i budućih dodatnih usluga</p>
          <ol class="textList">
              <li class="generalInformation">ime;</li>
              <li class="generalInformation">godina rođenja;</li>
              <li class="generalInformation">pol;</li>
              <li class="generalInformation">adresa (ulica i broj);</li>
              <li class="generalInformation">grad;</li>
              <li class="generalInformation">mobilni telefon;</li>
              <li class="generalInformation">lokacija;</li>
          </ol>
          <p class="ml-4">b-1) Od podataka u vezi sa Zdravstvenim profilom Korisnika, koji se prikupljaju i obrađuju od strane Rukovaoca opciono, i to ukoliko Korisnik želi da ih podeli u svrhu preciznijeg mišljenja:</p>
          <ol class="textList">
            <li class="generalInformation">visina Korisnika;</li>
            <li class="generalInformation">težina Korisnika;</li>
            <li class="generalInformation">BMI (Body Mass Index, automatski se računa);</li>
            <li class="generalInformation">da li je Korisnik pušač;</li>
            <li class="generalInformation">da li Korisnik konzumira alkohol;</li>
            <li class="generalInformation">da li Korisnik ima povišen krvni pritisak;</li>
            <li class="generalInformation">kako se Korisnik hrani;</li>
            <li class="generalInformation">da li je Korisnik pod stresom;</li>
            <li class="generalInformation">koliko sati nedeljno Korisnik vežba;</li>
            <li class="generalInformation">da li Korisnik ima povišen šećer;</li>
            <li class="generalInformation">da li Korisnik uzima neke od dodataka ishrani;</li>
            <li class="generalInformation">da li je Korisnik na nekoj terapiji i kojoj;</li>
            <li class="generalInformation">da li Korisnik ima neko dijagnostikovano oboljenje;</li>
            <li class="generalInformation">da li Korisniku neko od članova porodice ima dijagnostikovano oboljenje;</li>
            <li class="generalInformation">podaci o menstrualnom ciklusu u trenutku vršenja analiza;</li>
            <li class="generalInformation">podaci o urednosti menstrualnog ciklusa;</li>
            <li class="generalInformation">podaci o redovnosti ginekološkog pregleda;</li>
            <li class="generalInformation">podaci o trenutnoj trudnoći;</li>
            <li class="generalInformation">podaci o trenutnom dojenju.</li>
          </ol>
        <p class="ml-4"><span>4.3.</span>Rukovalac prikuplja i obrađuje neki od sledećih podataka, odnosno sledeće podatke Posetilaca aplikacije:</p>
        <ol class="textList">
          <li class="generalInformation">IP adresa;</li>
          <li class="generalInformation">lokacija;</li>
          <li class="generalInformation">podaci prikupljeni od internet pretraživača Posetioca.</li>
        </ol>
        <p class="ml-4"><span>4.4.</span> Posebne kategorije podataka o ličnosti.</p>
        <p class="ml-5"><span>4.4.1.</span>	Rukovalac ne vrši obradu podataka koji se tiču rasnog ili etničkog porekla, političkog mišljenja, filozofskog uverenja, kao i obradu genetskih podataka, biometrijskih podataka u cilju jedinstvene identifikacije lica, podataka o seksualnom životu ili seksualnoj orijentaciji fizičkog lica.</p>
        <p class="ml-5"><span>4.4.2.</span>	Rukovalac vrši obradu podataka o zdravstvenom stanju Korisnika posredno kroz preliminarno tumačenje rezultata laboratorijskih (biohemijskih) analiza, koja podrazumeva i davanje odgovora i saveta za dalje korake u vezi sa istim, od strane zdravstvenog radnika koje ima obavezu čuvanja profesionalne tajne propisane zakonom/profesionalnim pravilima ili Ugovorom o poverljivosti, kao i putem direktnog-neposrednog davanja takvih podataka od strane samog Korisnika unosom u odgovarajuća polja u okviru svog Naloga na Platformi.</p>
        <p class="ml-5"><span>4.4.3.</span> Obradu podataka iz člana 4.4.2. Rukovalac vrši u cilju ispunjenja ugovornih obaveza prema Korisniku, u smislu člana 12, stav 1, tačka 6 Zakona, kao i po osnovu pristanka datog od strane Korisnika koji se ogleda u konkludentnoj radnji, a koja se ispoljava kroz doborovoljno unošenje podataka o ličnim i zdravstvenim karakteristikama Korisnika čije unošenje nije obavezno.</p>
        <p class="ml-4"><span>4.5.</span> Podaci pribavljeni od internet pretraživača Korisnika – Cookies (Kolačići).</p>
          <p class="ml-5"><span>4.5.1.</span> U cilju unapređenja usluge na našoj veb stranici, i poboljšanju iskustva Korisnika/Posetilaca aplikacije prilikom pregledanja stranice, Rukovalac prikuplja podatke od internet pretraživača Korisnika/Posetilaca aplikacije odnosno Cookies (Kolačiće).</p>
          <p class="ml-5"><span>4.5.2.</span> Podaci o vrsti konretnog kolačića, nazivu, snabdevaču, svrsi prikupljanja, kao i vrsti i vremenu čuvanja podataka, i drugi podaci koji bi mogli biti od značaja za čuvanje podataka iz člana 4.5.1. kod Rukovaoca mogu se naći na adresi: <a href="https//labcube.rs/kolacici" target="_blank">labcube.rs/kolacici</a></p>
        <li class="generalInformation mb-4">SVRHA I OSNOV OBRADE</li>

          <p class="ml-4 generalInformation"><span>5.1.</span> Podatke iz člana 4, Rukovalac obrađuje:</p>
          <ul class="textList">
            <li class="generalInformation">na osnovu potrebe za ostvarivanjem ugovornih prava i obaveza između Rukovaoca i Korisnika iz Uslova korišćenja, kako je Uslovima korišćenja i Zakonom propisano, u smislu člana 12, stav 1, tačka 2 Zakona;</li>
            <li class="generalInformation">na osnovu zakonske obaveze Rukovaoca u smislu člana 12, stav 1, tačka 3 Zakona;</li>
            <li class="generalInformation">na osnovu pristanka datog od strane Korisnika/Posetioca aplikacije, koji može imati zasebnu formu čijim prihvatanjem se saglasnost ima smatrati datom, u smislu člana 12, stav 1, tačka 1 Zakona ili se može sastojati u konkludentnoj radnji iz koje se može zaključiti da je Korisnik saglasan sa određenom obradom.</li>
            <li class="generalInformation">na osnovu legitimnog interesa u smislu člana 12, stav 1, tačka 6 Zakona;</li>
            <li class="generalInformation">po drugim Zakonom predviđenim uslovima/osnovima prema kojima je Rukovalac obavezan da prikuplja, skladišti i obrađuje podatke Korisnika.</li>
          </ul>
          <p class="ml-4 generalInformation"><span>5.2.</span> Obradu podataka iz člana 4 Rukovalac vrši u sledeće svrhe:</p>
          <ul class="textList">
            <li class="generalInformation">ispunjavanja ugovornih obaveza Rukovaoca i Korisnika (podaci iz člana 4.2.);</li>
            <li class="generalInformation">ispunjavanja zakonskih obaveza Rukovaoca, ukoliko to zakon nalaže (podaci koji se nalaze na računu za izvršenu uslugu poput: ime i prezime, adresa, vrsta, obim i cena usluge);</li>
            <li class="generalInformation">obavljanja preliminarnog tumačenja laboratorijskih (biohemijskih) analiza, a na osnovu zaključenog ugovora sa zdravstvenim radnikom, gde se obrada vrši od strane zdravstvenog radnika koji ima obavezu čuvanja profesionalne tajne propisane zakonom/profesionalnim pravilima ili Ugovorm o poverljivosti, u smislu člana 17, stav 2, tačka 8 Zakona (podaci iz člana 4.2. tačka a-1) (3), tačka b);</li>
            <li class="generalInformation">slanja verifikacionog koda prilikom registracije korisničkog naloga ili izmene šifre kod već postojećeg naloga (podatak o e-mail adresi);</li>
            <li class="generalInformation">u druge svrhe za koje je dat pristanak Korisnika/Posetioca aplikacije, osim ukoliko je pristanak povučen u skladu sa Zakonom i ovom Politikom privatnosti;</li>
            <li class="generalInformation">u druge svrhe u skladu sa Zakonom.</li>
          </ul>
          <p class="ml-4 generalInformation"><span>5.3.</span> Obrada u druge svrhe</p>
            <p class="ml-5"><span>5.3.1.</span>Ako obrada u svrhu koja je različita od svrhe za koju su podaci prikupljeni nije zasnovana na zakonu ili na pristanku lica na koje se podaci odnose, Rukovalac, uz poštovanje adekvatnih bezbednosnih mera, vrši procenu da li je ta druga svrha obrade u skladu sa svrhom obrade za koju su podaci prikupljeni, pri čemu posebno uzima u obzir:</p>
            <ul class="ml-4 textList">
              <li class="generalInformation">da li postoji veza između svrhe za koju su podaci prikupljeni i druge svrhe nameravane obrade;</li>
              <li class="generalInformation">okolnosti u kojima su podaci prikupljeni, uključujući i odnos između Rukovaoca i Korisnika/Posetioca aplikacije;</li>
              <li class="generalInformation">prirodu podataka;</li>
              <li class="generalInformation">moguće posledice dalje obrade za Korisnika/Posetioca aplikacije.</li>
            </ul>
          <p class="ml-4 generalInformation"><span>5.4.</span> Rukovalac je dužan da stalnom primenom odgovarajućih tehničkih, organizacionih i kadrovskih mera obezbedi da se uvek obrađuju samo oni podaci o ličnosti koji su neophodni za ostvarivanje svake pojedinačne svrhe obrade, što se primenjuje u odnosu na broj prikupljenih podataka, obim njihove obrade, rok njihovog pohranjivanja i njihovu dostupnost.</p>
          <li class="generalInformation mb-4">PRISTANAK</li>
          <p class="ml-4 generalInformation"><span>6.1.</span> Pristanak dat od strane Korisnika/Posetioca aplikacije daje se u zasebnoj formi, sa jasnim i istaknutim naslovom „Pristanak“, a sadržina istog je opisana informisano, transparentno, razumljivo, dostupno, upotrebom jasnih i jednostavnih reči na način propisan Zakonom.</p>
          <p class="ml-4 generalInformation"><span>6.2.</span> Korisnik/Posetilac aplikacije nije uslovljen davanjem pristanka da bi mu bila omogućena usluga ili deo usluge za koju pristanak nije neophodan da bi ista mogla biti obavljena te se isti ima smatrati dobrovoljnim, osim ako bez obrade za koju se pristanak traži nije moguće omogućiti Korisniku/Posetiocu aplikacije da ostvari svoje pravo.</p>
          <p class="ml-4 generalInformation"><span>6.3.</span> Korisnik/Posetilac aplikacije ima pravo da opozove pristanak u svakom trenutku. Opoziv pristanka ne utiče na dopuštenost obrade koja je vršena na osnovu pristanka pre opoziva. Pre davanja pristanka lice na koje se podaci odnose mora biti obavešteno o pravu na opoziv, kao i dejstvu opoziva. Opozivanje pristanka mora biti jednostavno, kao i davanje pristanka.</p>
          <p class="ml-4 generalInformation"><span>6.4.</span> Korisnik/Posetilac aplikacije ima pravo da opozove pristanak za obradu koja se bazira isključivo na pristanku kao osnovu, u svakom trenutku, s tim što opoziv pristanka ne utiče na dopuštenost obrade koja je vršena na osnovu pristanka pre opoziva učinjenog pismenim obaveštavanjem Rukovaoca.</p>
          <p class="ml-4 generalInformation"><span>6.5.</span> Pristanak iz člana 6.1. može biti dat i u elektronskoj formi na način što će Korisnici/Posetioci aplikacije prilikom korišćenja Aplikacije Rukovaoca imati priliku da pročitaju tekst pristanka i u skladu sa članom 6 odluče da li isti da prihvate ili ne, klikom na određeno polje.</p>
          <p class="ml-4 generalInformation"><span>6.6.</span> Obrada koja se vrši na osnovu pristanka je obrada adrese e-pošte u cilju obaveštavanja o aktivnostima platforme i direktnog oglašavanja, a pristanak na predmetnu obradu se daje elektronski na za to predviđenom polju.</p>
          <p class="ml-4 generalInformation"><span>6.7.</span> Pristanak se može dati i konkludentnom radnjom, na način što će Korisnik samoinicijativno podeliti podatke iz člana 4.2.b sa Platformom, a u cilju što preciznijeg vršenja Usluge.</p>
          <li class="generalInformation mb-4">PRAVA KORISNIKA/POSETILACA APLIKACIJE PO OSNOVU ZAŠTITE PODATAKA O LIČNOSTI</li>
          <p class="ml-4 generalInformation"><span>7.1.</span> Pravo da budu informisani i pravo na pristup informacijama:</p>
            <p class="ml-5"><span>7.1.1.</span> Rukovalac je obavezan da na sažet, transparentan, razumljiv i lako dostupan način, korišćenjem jasnih i jednostavnih reči, na zahtev Korisnika/Posetioca aplikacije istom pruži sledeće informacije o:</p>
            <ul class="ml-4 textList">
              <li class="generalInformation">identitetu i kontakt podacima Rukovaoca i zaposlenog ili na drugi način angažovanog lica kod Rukovaoca koji je nadležan za obradu;</li>
              <li class="generalInformation">svrsi nameravane obrade i pravnom osnovu za obradu;</li>
              <li class="generalInformation">postojanju legitimnog interesa Rukovaoca ili treće strane, ako je osnov obrade legitimni interes;</li>
              <li class="generalInformation">primaocu, odnosno grupi primalaca podataka o ličnosti, ako oni postoje;</li>
              <li class="generalInformation">činjenici da Rukovalac namerava da iznese podatke o ličnosti u drugu državu ili međunarodnu organizaciju;</li>
              <li class="generalInformation">roku čuvanja podataka o ličnosti ili, ako to nije moguće, o kriterijumima za njegovo određivanje;</li>
              <li class="generalInformation">postojanju prava da se od Rukovaoca zahteva pristup, ispravka ili brisanje njegovih podataka o ličnosti, odnosno postojanju prava na ograničenje obrade, prava na prigovor, kao i prava na prenosivost podataka;</li>
              <li class="generalInformation">postojanju prava na opoziv pristanka u bilo koje vreme, kao i o tome da opoziv pristanka ne utiče na dopuštenost obrade na osnovu pristanka pre opoziva;</li>
              <li class="generalInformation">pravu da se podnese pritužba Povereniku;</li>
              <li class="generalInformation">tome da li je davanje podataka o ličnosti zakonska ili ugovorna obaveza ili je davanje podataka neophodan uslov za zaključenje ugovora, kao i o tome da li lice na koje se podaci odnose ima obavezu da da podatke o svojoj ličnosti i o mogućim posledicama ako se podaci ne daju;</li>
              <li class="generalInformation">postojanju automatizovanog donošenja odluka, uključujući profilisanje, ukoliko Rukovalac vrši takvu obradu.</li>
            </ul>
            <p class="ml-5"><span>7.1.2.</span> Na zahtev iz člana 7.1.1. Rukovalac mora odgovoriti u roku od 30 dana, s tim što taj rok može biti produžen za još 60 dana ako je to neophodno, uzimajući u obzir složenost i broj zahteva. O produženju roka i razlozima za to produženje Rukovalac je dužan da obavesti Korisnika/Posetioca aplikacije u roku od 30 dana od dana prijema zahteva, a ako je Korisnik/Posetilac aplikacije podneo zahtev elektronskim putem, informacija se mora pružiti elektronskim putem ako je to moguće.</p>
          <p class="ml-4 generalInformation"><span>7.2. </span>Pravo na ispravku i dopunu</p>
          <p class="ml-5"><span>7.2.1. </span>Korisnik/Posetilac aplikacije ima pravo da se njegovi netačni podaci o ličnosti isprave ukoliko je moguće bez odlaganja. U zavisnosti od svrhe obrade, Korisnik/Posetilac aplikacije ima pravo da svoje nepotpune podatke o ličnosti dopuni, što uključuje i davanje dodatne izjave.</p>
            <p class="ml-5"><span>7.2.2. </span>Ukoliko je moguće ispravku izvršiti korekcijom, brisanjem i unosom drugačijih podataka od strane Korisnika/Posetioca aplikacije isti će ispravku iz člana 7.2.1. izvršiti sam.</p>
            <p class="ml-5"><span>7.2.3. </span>Ukoliko Korisnik/Posetilac aplikacije nije u mogućnosti da ispravku i dopunu izvrši na način iz člana 7.2.2. obratiće se sa zahtevom Rukovaocu.</p>
          <p class="ml-4 generalInformation"><span>7.3. </span> Pravo na brisanje</p>
            <p class="ml-5"><span>7.3.1. </span>Ukoliko su ispunjeni zakonski uslovi, Rukovalac je dužan da na zahtev Korisnika/Posetioca aplikacije bez nepotrebnog odlaganja lične podatke iz člana 4, izbriše u sledećim slučajevima:</p>
            <ul class="textList ml-4">
              <li class="generalInformation">podaci o ličnosti više nisu neophodni za ostvarivanje svrhe zbog koje su prikupljeni ili na drugi način obrađivani;</li>
              <li class="generalInformation">Korisnik/Posetilac aplikacije je opozvao pristanak na osnovu kojeg se obrada vršila, u skladu sa Zakonom, a nema drugog pravnog osnova za obradu;</li>
              <li class="generalInformation">Korisnik/Posetilac aplikacije je podneo prigovor na obradu u skladu sa Zakonom, a nema drugog pravnog osnova za obradu koji preteže nad legitimnim interesom, pravom ili slobodom lica na koje se podaci odnose;</li>
              <li class="generalInformation">podaci o ličnosti su nezakonito obrađivani;</li>
              <li class="generalInformation">podaci o ličnosti moraju biti izbrisani u cilju izvršenja zakonskih obaveza Rukovaoca;</li>
              <li class="generalInformation">podaci o ličnosti su prikupljeni u vezi sa korišćenjem usluga informacionog društva u smislu Zakona.</li>
            </ul>
          <p class="ml-4 generalInformation"><span>7.4.</span> Pravo na ograničavanje obrade</p>
            <p class="ml-5"><span>7.4.1. </span>Korisnici/Posetioci aplikacije imaju pravo da od Rukovaoca traže ograničavanje obrade podataka koji se na njih odnose, ukoliko je obrada nezakonita, ukoliko se ukazuje na netačnost podataka ukoliko je podnet prigovor na obradu u skladu sa Zakonom, kao i iz drugih zakonskih razloga.</p>
          <p class="ml-4 generalInformation"><span>7.5.</span> Pravo na prigovor</p>
            <p class="ml-5"><span>7.5.1. </span>U zavisnosti od konkretnog slučaja i ukoliko smatra da je to opravdano Korisnik/Posetilac aplikacije ima pravo da u svakom trenutku podnese Rukovaocu prigovor na obradu njegovih podataka o ličnosti koja se vrši po osnovu pristanka, a Rukovalac je dužan da prekine sa obradom podataka Korisnika koji je podneo prigovor.</p>
            <p class="ml-5"><span>7.5.2. </span>Rukovalac nije dužan da prekine obradu na način iz člana 7.5.1. ukoliko je predočio Korisniku/Posetiocu aplikacije da postoje zakonski razlozi za obradu koji pretežu nad interesima, pravima ili slobodama tog Korisnika/Posetioca aplikacije ili su u vezi sa podnošenjem, ostvarivanjem ili odbranom pravnih zahteva.</p>
          <li class="generalInformation mb-4">SKLADIŠTENJE PODATAKA O LIČNOSTI KORISNIKA/POSETILACA APLIKACIJE</li>
            <p class="ml-4 generalInformation"><span>8.1. </span>Podaci o ličnosti Korisnika usluge navedeni u članu 4.2, prikupljeni preko Aplikacije Rukovaoca pod nazivom www.labcube.rs skladište se u elektronskoj formi u MongoDB bazi podataka i obezbeđeni su SSL sertifikatom, a pristup bazi podataka koja se nalazi na prethodno pomenutom serveru ima Rukovalac.  </p>
            <p class="ml-4 generalInformation"><span>8.2. </span>Podaci o ličnosti Posetilaca aplikacije navedeni u članu 4.3, prikupljeni preko Aplikacije pod nazivom www.labcube.rs skladište se u elektronskoj formi na MongoDB bazi podataka i obezbeđeni su SSL sertifikatom, a pristup bazi podataka koja se nalazi na prethodno pomenutom serveru ima Rukovalac.</p>
            <p class="ml-4 generalInformation"><span>8.3. </span>Podaci o ličnosti Korisnika/Posetioca aplikacije navedeni u članu 4.5, prikupljeni preko Aplikacije Rukovaoca www.labcube.rs skladište se u elektronskoj formi, na uređaju Korisnika/Posetioca aplikacije sa kojeg pristupa Aplikaciji.</p>
            <p class="ml-4 generalInformation"><span>8.4. </span>U slučaju promene lokacije za skladištenje podataka iz člana 8.1. i 8.2. Rukovalac će izvršiti izmenu i dopunu Politike privatnosti i istaći izmenjenu i dopunjenu verziju na Aplikaciji.</p>
            <li class="generalInformation mb-4">PRISTUP PODACIMA OD STRANE TREĆIH LICA / OBRAĐIVAČI PODATAKA O LIČNOSTI</li>
            <p class="ml-4 generalInformation"><span>9.1. </span> Rukovalac je ovlašćen da za potrebe ispunjavanja obaveza iz Uslova korišćenja, obavljanja platnih transakcija, zakonskih obaveza, održavanja servisa, unapređenja njegovog rada, koristi usluge knjigovodstvenih agencija, programera, IT konsultanata i drugih spoljnih i internih saradnika, za čiji rad i rezultate odgovara u skladu sa Zakonom.</p>
            <p class="ml-4 generalInformation"><span>9.2.</span> Rukovalac garantuje da će Obrađivač primeniti potrebne tehničke, organizacione i kadrovske mere, tako da se obrada vrši u skladu sa Zakonom i da se obezbede adekvatna zaštita podataka o ličnosti Korisnika/Posetilaca aplikacije.</p>
            <p class="ml-4 generalInformation"><span>9.3</span> U svrhu obezbeđivanja uslova iz člana 9.2. Rukovalac i Obrađivač mogu zaključiti ugovor o obradi podataka, koji će biti sastavni ili prateći deo osnovnog ugovora, i koji ugovor će između ostalog imati sve potrebne elemente predviđene Zakonom.</p>
            <p class="ml-4 generalInformation"><span>9.4.</span> U slučaju reklamacije propisane Uslovima korišćenja, Rukovalac ima pravo da na zahtev Banke u što kraćem roku dostavi podatke o reklamiranoj transakciji od strane Korisnika, odnosno njegove banke izdavaoca platne kartice.</p>
            <p class="ml-4 generalInformation"><span>9.5.</span> Za potrebe ostvarenja svrhe iz člana 9.1. Rukovalac angažuje sledeće obrađivače:</p>
            <ul class="ml-4 textList">
              <li class="generalInformation">MongoDB Inc. sa sedištem u Njujorku, Sjedinjene Američke Države</li>
              <li class="generalInformation">BOJAN MLADENOVIĆ PR AGENCIJA ZA KNJIGOVODSTVO BM ACCOUNT BEOGRAD, Matični broj 4093436, PIB 109323709</li>
            </ul>
            <li class="generalInformation mb-4">BEZBEDNOST PODATAKA</li>
            <p class="ml-4 generalInformation"><span>10.1.</span> Prilikom procene potrebnog nivoa uspostavljene bezbednosti podataka o ličnosti Rukovalac uzima u obzir i prati nivo tehnoloških dostignuća kao i troškove njihove primene, zatim prirodu, obim, okolnosti i svrhu obrade podataka i na osnovu tih parametara procenjuje verovatnoću nastupanja rizika, odnosno potencijalnog nivoa rizika za prava i slobode Korisnika. </p>
            <p class="ml-4 generalInformation"><span>10.2.</span> U odnosu na okolnosti iz člana 10.1. Rukovalac sprovodi odgovarajuće tehničke, organizacione i kadrovske mere kako bi se dostigao potreban nivo zaštite u odnosu na rizik.</p>
            <p class="ml-4 generalInformation"><span>10.3.</span> Prilikom slanja podataka Obrađivačima, Rukovalac je dužan da obezbedi siguran komunikacioni kanal kojim podaci putuju, kao i da se uveri da su podaci sigurno skladišteni uz obezbebeđene adekvatne sigurnosne standarde.</p>
            <p class="ml-4 generalInformation"><span>10.4.</span> Svi podaci o Korisnicima/Posetiocima aplikacije se strogo čuvaju i dostupni su samo angažovanim licima Rukovaoca kojima su ti podaci nužni za obavljanje posla, a Rukovalac je odgovoran za poštovanje načela zaštite privatnosti, u skladu sa Politikom privatnosti.</p>
            <p class="ml-4 generalInformation"><span>10.5.</span> Lični i adresni podaci Korisnika usluge koji se predočavaju Rukovaocu prilikom procesa kupovine smatraju se poslovnom tajnom, a Rukovaocu je zabranjeno prodavanje, naručivanje, obezbeđivanje illi razmena takvih podataka Korisnika u bilo kojoj formi trećoj strani, sem ako je to banka ili nadležni državni organi.</p>
            <p class="ml-4 generalInformation"><span>10.6.</span> Kada je u pitanju bezbednost poverljivih podataka Korisnika usluge prilikom plaćanja platnim karticama, kako je Uslovima korišćenja predviđeno, Rukovalac koristi AllSecure koji koristi najviše globalne standarde zaštite i privatnosti podataka. Svi trgovci koji koriste AllSecure su automatski uključeni u 3D-Secure zaštitu, čime se Korisnicima koji se odluče za kartično plaćanje kod Rukovaoca garantuje bezbednost kupovine. Brojevi platnih kartica Korisnika usluge se ne čuvaju na sistemu Rukovaoca a sami upis se štiti SSL enkripcijom podataka.</p>
            <p class="ml-4 generalInformation"><span>10.7.</span> Rukovalac vrši zaštitu iz člana 10.6. na način što se prilikom unošenja podataka o platnoj kartici, poverljive informacije prenose putem javne mreže u zaštićenoj (kriptovanoj) formi upotrebom SSL protokola, primenom najsavremenijih metoda tokenizacije osetljivih podataka, i u skladu sa PCI-DSS standardima. Sigurnost podataka prilikom kupovine garantuje procesor platnih kartica.</p>
            <p class="ml-4 generalInformation"><span>10.8.</span> AllSecure se konstantno usaglašava sa svim zahtevima kartičnih organizacija u cilju povećanja nivoa bezbednosti Korisnika usluge. Od 2005 godine do danas, bez prekida, sistem je sertifikovan kao PCI-DSS Level 1 što predstavlja najviši standard u industriji. PCI Data Security Standard (PCI-DSS) je norma koja definiše neophodne mere bezbednosti pri obradi, čuvanju i prenošenju osetljivih kartičarskih podataka. PCI Standardima se štite osetljivi podaci o korisniku kartice tokom celog procesa plaćanja: od momenta unosa podataka kod Rukovaoca, tokom komunikacija između Rukovaoca i relevantnih banaka i kartičarskih organizacija, kao i kasnije čuvanje tih podataka.</p>
            <p class="ml-4 generalInformation"><span>10.9.</span> Kartično plaćanje kod Rukovaoca u svemu odgovara opštim zahtevima, preporukama, ograničenjima propisanim od strane UNICREDIT BANK SRBIJA A.D., BEOGRAD (STARI GRAD), koja predstavljaju standarde koje treba da zadovolji Rukovalac u cilju korišćenja kartica u e-commerce transakcijama.</p>
            <p class="ml-4 generalInformation"><span>10.10.</span> Podaci o platnoj kartici nisu dostupni Rukovaocu ni u jednom trenutku prilikom vršenja transakcije.</p>
            <li class="generalInformation mb-4">POSTUPAK U SLUČAJU UGROŽENOSTI ZAŠTITE PODATAKA</li>
            <p class="ml-4 generalInformation"><span>11.1.</span> Ukoliko dođe do ugroženosti podataka iz člana 4, bezbednosti iz člana 10, Rukovalac će preduzeti sve neophodne mere obaveštavanja i zaštite predviđene Zakonom, uključujući obaveštavanje nadležnog Nadzornog organa, kao i Korisnike ukoliko su ispunjeni uslovi iz Politike privatnosti i Zakona.</p>
            <p class="ml-4 generalInformation"><span>11.2. </span>U slučaju povrede podataka Rukovalac je dužan da o povredi prava na zaštitu podataka o ličnosti koja može da proizvede rizik po prava Korisnika obavesti Nadzorni organ bez nepotrebnog odlaganja, ili najkasnije u roku od 72 časa od saznanja za povredu. U slučaju nepostupanja u predmetnom roku Rukovalac će obrazložiti razloge za kašnjenje.</p>
            <p class="ml-4 generalInformation"><span>11.3. </span>Obaveštenje Rukovaoca Nadzornom organu iz člana 11.2. mora da sadrži najmanje sledeće informacije:</p>
            <ul class="ml-4 textList">
              <li class="generalInformation">opis prirode povrede prava na zaštitu podataka o ličnosti, uključujući vrste podataka i približan broj Korisnika na koja se podaci te vrste odnose, kao i približan broj podataka o ličnosti čija je bezbednost povređena;</li>
              <li class="generalInformation">ime i kontakt podatke lica od koga se mogu dobiti podaci o povredi;</li>
              <li class="generalInformation">opis mogućih posledica povrede;</li>
              <li class="generalInformation">opis mera koje je Rukovalac preduzeo ili čije je preduzimanje predloženo u vezi sa povredom, uključujući i mere koje su preduzete u cilju umanjenja štetnih posledica.</li>
            </ul>
            <p class="ml-4 generalInformation"><span>11.4.</span> U slučaju povrede prava na zaštitu podataka o ličnosti, Rukovalac je dužan da o povredi podataka o ličnosti koja može da proizvede rizik po prava i slobode fizičkih lica obavesti Korisnike.</p>
            <p class="ml-4 generalInformation"><span>11.5.</span> Obaveštenje Korisniku iz člana 11.4. mora na jasan i razumljiv način da opiše prirodu podataka i navede informacije iz člana 11.3.</p>
            <p class="ml-4 generalInformation"><span>11.6.</span> Rukovalac nije dužan da obavesti Korisnika u situaciji iz člana 11.4. ukoliko:</p>
            <ul class="textList ml-4">
              <li class="generalInformation">je preduzeo odgovarajuće tehničke i organizacione mere zaštite u odnosu na podatke o ličnosti čija je bezbednost povređena;</li>
              <li class="generalInformation">je naknadno preduzeo mere kojima je obezbedio da povreda podataka o ličnosti sa visokim rizikom za prava i slobode lica na koje se podaci odnose više ne može da proizvede posledice za to lice;</li>
              <li class="generalInformation">bi obaveštavanje lica na koje se podaci odnose predstavljalo nesrazmeran utrošak vremena i sredstava, u kom slučaju Rukovalac je dužan da putem javnog obaveštavanja ili na drugi delotvoran način obezbedi pružanje obaveštenja licu na koje se podaci odnose.</li>
            </ul>
            <p class="ml-4 generalInformation"><span>11.7.</span> Ukoliko Korisnik/Posetilac aplikacije dođe do saznanja o bilo kom događaju koji je doveo ili može dovesti do ugroženosti njegovih ili podataka o ličnosti trećih lica, dužan je bez odlaganja da o tome obavesti Rukovaoca preko kontakata koji se nalaze u ovom dokumentu.</p>
            <li class="generalInformation mb-4">VREME ČUVANJA PODATAKA I NJIHOVO BRISANJE</li>
            <p class="ml-4 generalInformation"><span>12.1.</span> Podaci iz člana 4 čuvaju se onoliko dugo koliko je to potrebno za svrhu za koju se obrađuju, osim u slučaju kada je osnov prikupljanja ovih podataka saglasnost Korisnika/Posetioca aplikacije.</p>
            <p class="ml-4 generalInformation"><span>12.2.</span> U slučaju iz člana 12.1. a gde je osnov prikupljanja podatka o Korisniku/Posetiocu aplikacije iz člana 4 njegova saglasnost, ovi podaci će se čuvati do opoziva date saglasnosti u skladu sa članom 6.3.</p>
            <p class="ml-4 generalInformation"><span>12.3.</span> Izuzetno od člana 12.2, Platforma neće pristupiti brisanju informacija/podataka koji se odnose na konkretnog Korisnika usluge, a koji nije izvršio svoje ugovorne obaveze prema Platformi u vezi sa Uslugom, ili ukoliko Platforma prema važečim propisima ima pravo/obavezu da određene podatke o Korisniku usluge čuva, ili ukoliko Platforma ima drugi legitini interes, pri čemu će podatke čuvati u roku dok zakonska obaveza, odnosno legitimni interes postoji, ali ne duže od zakonom propisanog roka za čuvanje podataka, odnosno 3 goodine u slučaju postojanja legitimnog interesa.</p>
            <p class="ml-4 generalInformation"><span>12.4.</span> Izuzetno od člana 12.2. Platforma će sačuvati podatke Korisnika koji su dali izričitu saglasnost za obrađivanje i čuvanje njihovih podataka u svrhe slanja obaveštenja o novostima i promotivnim ponudama, odnosno u svrhe slanja Newsletter-a.</p>
            <p class="ml-4 generalInformation"><span>12.5.</span> Podaci koji se čuvaju po osnovu zakonske obaveze, poput sadržaja na izdatom računu, čuvaju se u vremenskom periodu koji je propisan važećim Zakonom, u skladu sa materijalnim pravom Republike Srbije.</p>
            <li class="generalInformation mb-4">EVIDENCIJA AKTIVNOSTI OBRADE LIČNIH PODATAKA KORISNIKA  KOD RUKOVAOCA </li>
            <p class="ml-4 generalInformation"><span>13.1.</span> Rukovalac vodi evidenciju radnji obrade podataka o ličnosti Korisnika/Posetilaca aplikacije iz člana 4 ove Politike privatnosti.</p>
            <p class="ml-4 generalInformation"><span>13.2.</span> Evidencija se pored naziva i poslovnih podataka Rukovaoca, sastoji iz sledećih informacija: kategorija lica čiji se podaci obrađuju, kategorija podataka o ličnosti, svrha obrade, trećim licima kojima su podaci otkriveni, dužini čuvanja podataka, opis mera zaštite, formi u kojoj se podaci čuvaju.</p>
            <p class="ml-4 generalInformation"><span>13.3. </span> Evidencija iz člana 13.1. vodi se u elektronskom obliku i čuva se trajno, u skladu sa Zakonom.</p>
            <li class="generalInformation mb-4">POVERENIK / NADZORNI ORGAN</li>
            <p class="ml-4 generalInformation">14.1. <span></span>Nadzorni organ za zaštitu podataka o ličnosti u Republici Srbiji je Poverenik za informacije od javnog značaja i zaštitu podataka o ličnosti Republike Srbije. Organu se možete obratiti na adresi Bulevar kralja Aleksandra 15, 11000 Beograd, Republika Srbija, mejlom na office@poverenik.rs ili telefonom na +381 11 3408 900.</p>
            <p class="ml-4 generalInformation"><span>14.2.</span> Rukovalac sarađuje sa Poverenikom u vršenju njegovih ovlašćenja, u skladu sa obavezama propisanim Zakonom.</p>
            <li class="generalInformation mb-4">KONTAKT PODACI RUKOVAOCA I LICA ZA ZAŠTITU PODATAKA O LIČNOSTI</li>
            <p class="ml-4 generalInformation"><span>15.1.</span> U slučaju potrebe za tumačenjem odredbi Politike privatnosti, ostvarivanja prava Korisnika/Posetilaca aplikacije iz člana 4, kao i drugih Zakonom predviđenih pitanja, Korisnici/Posetioci aplikacije se mogu obratiti Rukovaocu na sledeće kontakt podatke:</p>
            <ul class="textList ml-4">
              <li class="generalInformation">Poslovno ime Rukovaoca: INFORMACIONE TEHNOLOGIJE NOUVELLE DOO, BEOGRAD (ZVEZDARA);</li>
              <li class="generalInformation">Adresa: ul. Šesnaestog oktobra br. 19, Beograd-Zvezdara;</li>
              <li class="generalInformation">Email Rukovaoca: privacy@labcube.rs</li>
              <li class="generalInformation">Telefon Rukovaoca:</li>
              <li class="generalInformation">Radno vreme radnim danima:</li>
              <li class="generalInformation">Radno vreme vikendom: zatvoreno</li>
            </ul>
            <p class="ml-4 generalInformation"><span>15.2.</span> U slučajevima iz člana 15.1. Korisnici/Posetioci aplikacije se mogu obratiti i licu za zaštitu podataka o ličnosti na sledeće kontakt podatke:</p>
            <ul class="textList ml-4">
              <li class="generalInformation">Ime i prezime</li>
              <li class="generalInformation">Adresa</li>
              <li class="generalInformation">Email</li>
              <li class="generalInformation">Kontakt telefon</li>
            </ul>
            <li class="generalInformation mb-4">ZAVRŠNE ODREDBE</li>
            <p class="ml-4 generalInformation"><span>16.1.</span> Prihvatom Politke privatnosti, odnosno pristupom Aplikaciji Rukovaoca, Korisnik/Posetilac aplikacije potvrđuje da je pročitao i razumeo ovu Politiku privatnosti, kao i da je saglasan sa osnovima i svrhama obrade podataka, kako je ovim dokumentom propisano.</p>
            <p class="ml-4 generalInformation"><span>16.2. </span> Sve promene Politike privatnosti biće javno dostupne na za to predviđenom mestu na Aplikaciji Rukovaoca, o čemu će Korisnici/Posetioci aplikacije biti obavešteni putem istih sredstava komunikacija, na način da će im biti omogućeno da pročitaju novi dokument. </p>
            <p class="ml-4 generalInformation"><span></span> </p>
            <li class="generalInformation mb-4">PRAVO KOJE SE PRIMENJUJE I SUDSKA NADLEŽNOST</li>
                <p class="ml-4 generalInformation"><span>17.1.</span> Materijalno pravo koje se primenjuje na obradu podataka o ličnosti Korisnika/Posetilaca aplikacije, a u vezi obrade od strane Rukovaoca je pravo Republike Srbije, Zakon o zaštiti podataka o ličnosti kao i GDPR gde je primenljivo,</p>
                <p class="ml-4 generalInformation"><span>17.2.</span> Za upravne i sudske postupke, mesno su nadležni organi i nadležni sudovi Republike Srbije u skladu sa pozitivnim zakonodavstvom ove države.</p>

  </ol>

      <p class="mt-5">Čestitamo &#127881; &#127881; &#127881; &#127881; &#127881;</p>
    </div>
      {{> _sidebar}}
  </div><!-- table-responsive -->
 </div> <!-- results container end -->

 {{> _footer}}
