{{> _innerNavFrontend}}

<div class="container-fluid pr-0 pl-0">
  <div class="row">
    <div class="col-lg-12">
      <div id="mapPrices" class="d-none">
      </div>
    </div>
  </div>
</div>

<div class="container" id="privacyPolicy">
  <div class="row">
    <div class="col-12">
      <h1 class="headTitlePrivacy">Politika privatnosti</h1>
      <small>Rodoljub bi želeo da ovo pročitate</small>
      <ol class="mt-4 ">
        <li class="textList">Opšte odredbe</li>
        <p class="pl-4 mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <li class="textList">Prihvatanje uslova korišćenja</li>
        <p class="pl-4 mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duisaute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <li class="textList">Opšta upozorenja</li>
        <p class="pl-4 mt-2">Korišćenjem Labcube sajta ili preuzimanjem i instaliranjem aplikacije saglasni ste da ste pročitali i razumeli ove Uslove korišćenja i da ih u celosti prihvatate. Ako niste saglasni sa ovim Uslovima korišćenja i ne prihvatate njihov obavezujući karakter, molimo Vas da napustite sajt i uzdržite se od bilo kojeg njegovog daljeg korišćenja, odnosno molimo Vas da odmah izbrišete sve kopije aplikacije sa elektronskih uređaja koji su u Vašem posedu ili pod Vašom kontrolom.</p>

        <li class="textList">Prava i obaveze korisnika, pristupanje i kreiranje naloga</li>
        <p class="pl-4 mt-2"></p>

        <li class="textList">Oslobođenje od odgovornosti i odgovornost za prouzrokovanu štetu</li>
        <p class="pl-4 mt-2"></p>

        <li class="textList">Proces kupovine i plaćanje za registrovane korisnike</li>
        <p class="pl-4 mt-2"></p>

        <li class="textList">Sigurnost Vaše kreditne kartice</li>
        <p class="pl-4 mt-2"></p>

        <li class="textList">Intelektualna svojina i zaštita autorskih prava i zabrana neovlašćenog kopiranja i korišćenja sadržaja</li>
        <p class="pl-4 mt-2"></p>

        <li class="textList">Komentari i ostali sadržaj korisnika</li>
        <p class="pl-4 mt-2"></p>

        <li class="textList">Prikupljanje i obrada podataka, uključujući podatke o ličnosti</li>
        <p class="pl-4 mt-2"></p>

        <li class="textList">Kršenje Uslova korišćenja i uskraćivanje pristupa Labcube sajtu</li>
        <p class="pl-4 mt-2"></p>


        <li class="textList">Linkovi ka sajtovima trećih lica</li>
        <p class="pl-4 mt-2"></p>

        <li class="textList">Izmene Uslova korišćenja</li>
        <p class="pl-4 mt-2"></p>
      </ol>
    </div>
      {{> _sidebar}}
  </div><!-- table-responsive -->
 </div> <!-- results container end -->

 {{> _footer}}
