{{> _innerNavFrontend}}

<div class="container-fluid pr-0 pl-0">
  <div class="row">
    <div class="col-lg-12">
      <div id="mapPrices" class="d-none">
      </div>
    </div>
  </div>
</div>

<div class="container" id="privacyPolicy">
  <div class="row">
    <div class="col-12">
      <h1 class="headTitlePrivacy">Advokati bi želeli da i ovo pročitate</h1>
      <small>Izvinjavamo se zbog količine teksta</small>
      <ol class="mt-4 ">
        <h4 class="my-4">Opšte odredbe</h4>
        <p class="generalInformation">Vlasnik aplikacije labcube.rs (u daljem tekstu aplikacija) je kompanija Informacione Tehnologije Nouvelle d.o.o, sa sedištem u Beogradu, 16. Oktobar 19, 11000 Beograd Srbija, registrovana kod Agencije za privredne registre, matični broj 20575719 i PIB 106310784</p>
        <p class="generalInformation">Mi poštujemo i cenimo Vašu privatnost i zato Vaše privatne podatke sakupljamo u skladu sa zakonom i koristimo samo za svrhu za koju se prikupljaju, a koja je definisana zakonom.</p>
        <p class="generalInformation">Kada koristite aplikaciju može se dogoditi da nam poverite svoje lične podatke. Aplikacija je dizajniran tako da poštuje Zakon o zaštiti podataka o ličnosti iz 2018. godine Republike Srbije („Službeni glasnik Republike Srbije“ br. 87/2018) u pogledu zaštite podataka i privatnosti korisnika. Ova Politika privatnosti definiše koje lične podatke prikupljamo, na koji način, za koju svrhu ih obrađujemo, kako ih štitimo, koliko dugo ih čuvamo, kao i koja su Vaša prava i obaveze u vezi sa ličnim podacima. Korišćenjem aplikacije prihvatate našu Politiku privatnosti i dajete nam saglasnost da podatke koje ostavite čuvamo i koristimo u skladu sa Politikom privatnosti i Uslovima korišćenja.</p>
        <h4 class="my-4">Koje podatake prikupljamo i u koje svrhe?</h4>
        <p class="generalInformation">Obavezujemo se da ćemo prikupljati samo osnovne podatke o Vama kao korisnicima aplikacije i samo podatke neophodne za pružanje usluga definisanih Uslovima korišćenja. Sakupljamo samo podatke koje Vi dobrovoljno ostavite preko formi u aplikaciji. Moguće je da zatražimo i neke druge informacije u skladu sa zakonom i eventualnim izmenama naše Politike zaštite privatnosti koje budemo objavili na stranici labcube.rs.</p>
        <p class="generalInformation">U svrhu obezbeđivanja usluga u skladu sa našim Uslovima korišćenja, kao i da bismo Vam obezbedili nesmetano i bezbedno korišćenje aplikacije, prikupljamo sledeće podatke:</p>
        <p class="generalInformation"><ul>
          <li class="generalInformation my-3">Podatke koje nam ostavljate prilikom kreiranja Vašeg korisničkog naloga. Prilikom kreiranja korisničkog naloga, obavezna polja su mejl adresa i lozinka. Opcionalno zarad poboljšanja kvaliteta usluge nam možete ostaviti Vaše ime, adresu, grad i broj telefona. Ukoliko ne unesete navedene podatke ili ne prihvatate Uslove korišćenja i ovu Politiku privatnosti, ne možemo da Vam omogućimo pristup aplikaciji. Da biste dobili najkvalitetniju uslugu i najbolje korisničko iskustvo možete popuniti upitnik, čije popunjavanje nije neophodno, ali je poželjno zarad pružanja što bolje usluge definisane Uslovima korišćenja.</li>
          <li class="generalInformation my-3">Možemo sačuvati poruke koje nam pošaljete putem forme za kontakt koja se nalazi na stranici https://labcube.rs/contact</li>
          <li class="generalInformation my-3">Podatke o Vašim uređajima. Prilikom korišćenja aplikacije možemo sakupljati informacije o uređajima preko kojih pristupate aplikaciji. Ovo mogu biti podaci o marki i tipu uređaja, operativnom sistemu i verziji operativnog sistema, vrsti  preglednika  (browser),  kao  i podaci o Vašoj IP adresi. Ovo su sve opšti podaci o poseti koji nisu personalizovani (meta podaci), ne snimaju se individualne informacije o Vama, i na osnovu ovih podataka se ne možete lično identifikovati. Sakupljanje podataka o IP adresi korisnika, je zakonska obaveza po članu 16. Zakona o elektronskoj trgovini.</li>
          <li class="generalInformation my-3">Podatke o zdravstvenom stanju i medicinske podatke. Ovi podaci podrazumevaju laboratorijske izveštaje, lekarske nalaze, izveštaje lekara, kao i bilo koju drugu medicinsku dokumentaciju koju prilažete u svoje ime ili ime lica čiji ste zakonski zastupnik ili staratelj. Ovi podaci su nam neophodni da bismo Vam pružili što kvalitetniju uslugu „tumačenja rezultata“.</li>
          <li class="generalInformation my-3">Kako bismo Vam omogućili dobro iskustvo prilikom pretraživanja baze podataka, a pritom unapredili kvalitet naše usluge, koristimo tehnologiju kolačića (cookies). Kolačić je tekstualna datoteka koju veb stranice koje posećujete skladište na Vaš uređaj (računar, tablet, pametni telefon). Kolačiće koristimo samo uz Vaše odobrenje, samo posle prihvatanja korišćenja kolačića, pritiskom na dugme „Prihvatam“ na malom pop-up ekranu koji izlazi i upozorava da aplikacija koristi tehnologiju kolačića. Kolačiće možete u svakom trenutku izbrisati iz browser-a ili blokirati promenama postavki Vašeg browser-a. Ako korisnik sa isključenim ili blokiranim kolačićima pristupi aplikaciji može se desiti da određene funkcionalnosti neće raditi. Informacije koje prikupljamo kolačićima koriste se za pamćenje podešavanja i korisničkih aktivnosti na veb stranicama kao što su pregledanje tekstova, kretanje po stranicama, stavljanje proizvoda u korpu, itd. Osim  kolačića aplikacija koristi usluge Google Analytics-a, Google AdWords-a i Hot Jar-a. Preko ovih platformi se prate aktivnosti i preference korisnika u isključivo statističke svrhe radi informisanja, poboljšanja i prikazivanja oglasa/reklama u skladu sa prethodnim posetama koje je korisnik imao. </li>
          <li class="generalInformation my-3">Kada plaćate usluge koristeći aplikaciju, mogu se čuvati podaci o Vašim uplatama kao što su ID transakcije, datum i vreme kada je izvršena uplata kao i iznos transakcije. Kao i svi neophodni podaci kako bi se plaćanje uspešno izvršilo. Plaćanje se vrši platnom karticom, preko Allsecure procesora plaćanja, koji komunicira sa bankom i vrši proveru uspešnosti transakcije. Plaćanje karticama se odvija na stranicama koje nisu pod našom kontrolom. Mi koristimo usluge jednog ili više provajdera za plaćanje karticama koji rade enkripciju Vaših podataka.</li>
        </ul></p>
          <h4 class="my-4">Kako koristimo i čuvamo Vaše lične podatke</h4>
        <p class="generalInformation">Vaše podatke koristimo isključivo u skladu sa zakonima Republike Srbije, a isključivo u cilju pružanja usluga definisanih „Uslovima korišćenja“. Podatke možemo koristiti i u svrhu poboljšanja naših usluga, poboljšanja Vašeg korisničkog iskustva u aplikaciji, kao i za zaštitu Vaših interesa. Korisnik je dužan da nam u cilju pružanja dobre i efikasne usluge dostavi tačne podatke koji se od njega traže.</p>
        <p class="generalInformation">Vremenski period čuvanja podataka zavisi od svrhe za koju se sakupljaju:</p>
        <p class="generalInformation"><ul>
          <li class="generalInformation my-3">Podaci prikupljeni zbog obrade bazirani na zakonskoj osnovi, čuvaju se u skladu sa vremenskim ograničenjima odredbi zakona (Zakon o računovodstvu i dr.).</li>
          <li class="generalInformation my-3">Podaci koji se nalaze u Vašem profilu, zarad pružanja usluga definisanih „Uslovima korišćenja“ se čuvaju trajno. Korisnik može u svakom trenutku da obriše u potpunosti svoj nalog i ukloni sva dokumenta koja je čuvao u aplikaciji. Nakon brisanja naloga aplikacija nije u mogućnost da povrati nijedan podatak o korisniku. Niti da mu naknadno obezbedi uvid u istoriju profila koji je obrisao. Korisnik koji je obrisao nalog može u svakom trenutku kreirati novi nalog koji neće ni na koji način biti povezan sa prethodno obrisanim nalogom.</li>
          <li class="generalInformation my-3">Prihvatanjem Politike privatnosti korisnici pristaju da budu prijavljeni na mailing listu. Sa naše mailing liste se možete odjaviti svaki put kada od nas dobijete obaveštenja o novostima (newsletter) na Vaš mail koji ste ostavili prilikom registracije. Odjava se radi klikom na dugme „Unsubscribe“ koje se nalazi na dnu maila.</li>
        </ul></p>
        <p class="generalInformation">U obavezi smo da Vaše lične i poverljive podatke strogo čuvamo i poštujemo. U tom smislu, preduzimamo sve standardne mere za sprečavanje neovlašćenog pristupa Vašim podacima. Svi podaci se čuvaju u zaštićenim bazama podataka na enkriptovanim serverima. Vaši podaci se tretiraju kao poverljiva informacija i dostupni su samo zaposlenim licima koja obavljaju posao u skladu sa opisom posla i dužni su da koriste podatke samo u obimu koji je neophodan za obavljanje posla. Oni su obavezi da podatke štite, da ih ne koriste u druge svrhe i ne daju trećim licima. Svi naši zaposleni koji dolaze u kontakt sa Vašim podacima prolaze adekvatnu obuku vezanu za obradu i čuvanje ličnih podataka.</p>
        <p class="generalInformation">Ne snosimo odgovornost od eventualnih napada hakera ili virusa sa interneta koji mogu ugroziti ili kompromitovati sigurnost Vaših podataka.</p>
        <p class="generalInformation">Ukoliko budemo primorani da sakupljene informacije ustupimo organima vlasti kao trećoj strani, o tome ćete biti obavešteni.</p>
        <h4 class="my-4">Ustupanje Vaših podataka trećim licima</h4>
        <p class="generalInformation">Prihvatanjem Politike privatnosti prilikom kreiranja naloga u aplikaciji pristajete da određene Vaše podatke možemo ustupiti trećim licima, u skladu sa zakonima Republike Srbije. Ovo su naši partneri od poverenja, sa kojima sarađujemo, a koji imaju adekvatne mere bezbednosti za čuvanje Vaših podataka, a sve u skladu sa ugovorom koji imaju sa nama. Jednom prosleđeni podaci se onda obrađuju u skladu sa Politikom privatnosti naših partnera i Labcube više nema odgovornosti u smislu bezbednosti i obrade tih podataka. Podatke možemo proslediti u sledećim slučajevima:</p>
        <p class="generalInformation"><ul>
          <li class="generalInformation my-3">Dužni smo da ih ustupimo državnim organima u svim situacijama u kojima nas zakonske odredbe na to obavezuju.</li>
          <li class="generalInformation my-3">Možemo da ih ustupimo partnerskim laboratorijama i zdravstvenim ustanovama ako je neophodno da u Vaše ime zakažemo ili uradimo određene usluge.</li>
          <li class="generalInformation my-3">Kada je to neophodno radi ispunjenja naše ugovorne obaveze ka Vama, odnosno zarad poštovanja Uslova poslovanja.</li>
          <li class="generalInformation my-3">Možemo podeliti sa analitičkim kompanijama, koje rade analizu posećenosti aplikacije. Možemo podeliti sa kompanijama koje rade reklamiranje na internetu, zarad dobijanja sadržaja prilagođenog Vama. Možemo podeliti sa mrežama za oglašavanje koje rade automatski prikaz reklama na internetu. Možemo podeliti podatke o „social“ logovanju sa kompanijama koje tu uslugu obezbeđuju (Google i Facebook). Možemo podeliti Vaše depersonalizovane podatke, koji su potpuno anonimni, sa marketinškim agencijama, oglašivačima ili generalnom publikom.</li></p>
        </ul>
        <p class="generalInformation">Za sve podatke koje možemo da ustupimo trećim licima trudićemo se da to bude samo minimum neophodni podataka. Ustupanje partnerima se radi samo ako je utvrđeno da ti partneri imaju zadovoljavajući stepen zaštite Vaših podataka, a što se bliže definiše ugovorom između firme u čijem vlasništvu je aplikacija i partnera.</p>
          <h4 class="my-4">Vaša prava u vezi sa ličnim podacima koje prikupljamo</h4>
        <p class="generalInformation">U svakom trenutku imate pravo na pristup svojim podacima, pravo na izmenu istih i pravo na njihovo brisanje. Ukoliko ne želite da se Vaši lični podaci prikupljaju i obrađuju, možete zahtevati njihovo brisanje. Ukoliko su neki Vaši podaci netačni, možete ih izmeniti koristeći formu na Vašem korisničkom panelu.</p>
        <p class="generalInformation">U svakom trenutku imate pravo da</p>
        <p class="generalInformation"><ul>
          <li class="generalInformation my-3">Uradite izmenu podataka koji su netačni, kao i da</li>
          <li class="generalInformation my-3">povučete saglasnost koju ste ranije dali za obradu podataka, kao i da </li>
          <li class="generalInformation my-3">Obrišete svoj korisnički nalog i sve podatke povezane sa njim.</li>
          </ul> </p>
        <p class="generalInformation">Izuzetak od ovih prava postoji ako će izmena, povlačenje saglasnosti ili brisanje dovesti do sprečavanje istrage ili sudskog procesa, ako je takav proces u toku.</p>
        <p class="generalInformation">U svakom trenutku morate imate pristup Politici privatnosti. Ako dođe do kršenja ove politike i povrede privatnosti Vaših podataka, imate pravo da budete o tome obavešteni bez odlaganja. Ako smatrate da postoji povreda privatnosti Vaših podataka, možete podneti pritužbu Povereniku za zaštitu podataka o ličnosti Republike Srbije.</p>
        <p class="generalInformation">Ukoliko dođe do bilo kakve povrede ili nezakonitog upada u bazu podataka naše aplikacije ili sajta bilo koje treće strane s kojom sarađujemo a koja obrađuje podatke, o tome obaveštavamo nadležna lica i organe u roku od 2 sata.</p>
        <h4 class="my-4">Izmene Politike privatnosti</h4>
        <p class="generalInformation">Ova Politika privatnosti je podložna promenama. Izmenjena Politika privatnosti stupa na snagu odmah nakon objavljivanja. Vaše korišćenje ili pristupanje aplikaciji značiće da ste saglasni i da prihavtate novu revidiranu/izmenjenu Politiku privatnosti. U slučaju značajnih promena, sve korisnike ćemo obavestiti o izmenama putem e-maila. U slučaju značajnih izmena, Zadržavamo pravo da od korisnika zatražimo ponovno prihvatanje Politike privatnosti, kao i da uskratimo pristup korisnicima koji ne prihvate izmenjenu Politiku privatnosti. Ukoliko imate pitanja u vezi sa privatnošću, molimo Vas da nam pišete putem e-maila privacy[at]labcube.rs ili formulara za kontakt koji se nalazi na stranici “Kontakt”. Savetujemo da Politiku privatnosti pročitate prilikom pristupa aplikaciji, kako biste se upoznali sa eventualnim izmenama. Ukoliko aplikaciju koristite nakon objave izmena u našoj Politici privatnosti, smatraćemo da ste sa njima upoznati i da ih u potpunosti prihvatate.</p>
      </ol>
      <p class="mt-4">Čestitamo &#127881; &#127881; &#127881; &#127881; &#127881;</p>
    </div>
      {{> _sidebar}}
  </div><!-- table-responsive -->
 </div> <!-- results container end -->

 {{> _footer}}
