{{#each errors}}
  <div class="alert alert-danger text-center alert-dismissible fade show">{{text}}
  <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button></div>
  </div>
{{/each}}
<section id="registerForm">
  <div class="container-fluid">
    <div class="row mb-0">
      <!--  visible only on md and bigger -->
      <div class="d-none d-md-flex col-md-4" id="loginLeftSide">
        <div class="loginLeftSide">
          <a href="/">
          <img src="images/logoSmallSlice.svg" alt="labcube" class="smallLogo img-fluid">
          </a>
        </div>
        <div class="socialLogin">
          <a href="#" class=""><i class="fab fa-twitter"></i></a>
          <a href="#" class=""><i class="fab fa-instagram"></i></a>
          <a href="#" class=""><i class="fab fa-facebook-f"></i></a>
          <a href="#" class=""><i class="fab fa-youtube"></i></a>
        </div><!-- social col-md-4 end -->
      </div><!-- login leftside end -->

      <div class="col-sm-12 col-md-8 pl-0 pr-0">

        <div class="backgroundImageRegister">
          <div class="blueOverlay">
            <h2 class="ml-5">Registracija</h2>
            <small class="ml-5">registrujte se i saznajte sve o laboratorijskim analizama i laboratorijama. Ukoliko već imate nalog <a href="/prijava">ovde</a> se možete prijaviti.</small>
                <form action="/register" method="POST" class="registerForm login ml-5 col-5" >
                  <div class="form-group">
                    <input id="emailValue" type="email" name="email" class="form-control">
                    <label for="emailValue" class="text-white">email</label>
                  </div>
                  <div class="form-group">
                    <input id="passwordValue" type="password" name="password" class="form-control">
                    <label for="passwordValue" class="text-white">lozinka</label>
                  </div>
                  <!-- <div class="row"> -->
                    <button class="btn btnLogin btn-block mb-5">registrujte se</button>
                  <!-- </div> -->
                  <!-- <small class="text-white">Zaboravili ste lozinku?</small> -->
                  <small class="text-white">Registrujte se putem vašeg google ili facebook naloga, brže je.</small>
                  <p><a href="/google"  class="">
                    <img src="images/btn_google_signin_light_normal_web.png" alt="">
                  </a></p>

                </form>
              <!-- </form> -->
          </div><!-- blueoverlay -->
        </div><!-- backgroundImage -->

      </div><!-- col-8 -->
    </div><!-- row -->
  </div><!-- container-fluid -->
</section>
