{{> _innerNavFrontend}}

<div class="container" id="results">
 		<div class="row">
      <!-- {{name}} -->
 			<div class="col-md-12 col-lg-9 table-responsive">
 				<table class="table results table-hover">
 					<tbody id="resultTable">
          </tbody>
 				</table><!-- table -->
 			</div><!-- table-responsive -->

      <div class="col-md-12 col-lg-3 sidebar">
          <div class="odabraneAnalize">
            <div class="card d-none">
              <div class="card-header">Odabrane analize</div>
                <ul class="list-group list-group-flush" id="selectedAnalysis">
                <li class="list-group-item city">
                  <span class="d-block mb-2">Gde radite analize?</span>
                    <select class="form-control">
                      <option selected>grad</option>
                      <option value="1">Beograd</option>
                      <option value="2">Novi Sad</option>
                      <option value="3">Kragujevac</option>
                      <option value="3">Bačka Palanka</option>
                    </select>
                    <span><img src="/images/gradMarker.svg" alt="" class="cityMarker"></span>
                  <button type="button" class="btn btn-success btn-lg btn-block text-uppercase">Prikaži cene</button>
                </li>
              </ul>
          </div>
        <!-- da li vam je potrebno tumacenje laboratorijskih rezultata banner -->
        <div class="banner">
          <img src="/images/banner.JPG" class="bannerTumacenjeAnaliza" alt="tumačenje rezultata laboratorijskih analiza" title="tumačenje rezultata laboratorijskih analiza">
          <div class="bannerOverlay">Da li Vam je potrebno tumačenje rezultata laboratorijskih analiza?</div>
          <button class="btn btn-success btnBanner text-uppercase">saznajte više</button>
        </div>
        </div>
      </div><!-- odabrane analize end -->
 		</div><!-- table row end  -->
 </div> <!-- results container end -->

 {{> _footer}}
