{{#each errors}}
  <div class="alert alert-danger text-center alert-dismissible fade show">{{text}}
  <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button></div>
  </div>
{{/each}}

<section id="">
  <div class="container-fluid overflow-hidden">
    <div class="row mb-0">
      <!--  visible only on md and bigger -->
      <div class="d-none d-md-flex col-md-4" id="loginLeftSide">
        <div class="loginLeftSide">
          <a href="/">
          <img src="images/logoSmallSlice.svg" alt="labcube" class="smallLogo img-fluid">
          </a>
        </div>
        <div class="socialLogin pl-3 pr-0">
          <a href="https://twitter.com/labcube_rs" class="" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/labcube.rs/" class="" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://www.facebook.com/lab.cube.16/" class="" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.youtube.com/channel/UCMVDA63ag6cFyfwzTE2posA/featured" class="" target="_blank"><i class="fab fa-youtube"></i></a>
        </div><!-- social col-md-4 end -->
      </div><!-- login leftside end -->

      <div class="col-12 col-sm-12 col-md-8 pl-0 pr-0" >
        <a href="/"><img src="images/labSmallTransparent.svg" alt="labcube" class="smallLogoLogin mb-2"></a>
        <div class="backgroundImage">

          <div class="blueOverlay" id="userLogin" >
              <!-- <img src="images/logoSmallSlice.svg" alt="labcube" class="smallLogo img-fluid"> -->
                <form action="/prijava" method="POST" class="registerForm d-flex flex-column justify-content-center login ml-5 mt-5 pr-3 col-sm-9 col-md-8 col-10 col-lg-7">
                  <h2 class="mb-2 text-center smallScr">Prijavi se</h2>
                      {{!-- <p class="mb-5"><a href="/google" class="d-inline text-center"><img src="/images/googleBtn.png" class="googleBtn mt-4 d-block"></a></p> --}}
                      <div class="text-center mr-4 mr-sm-0">
                              <a href="/google" class="d-inline-block mt-2 mb-5"><img src="/images/googleBtn.png" class="googleBtn"></a>                              
                      </div>

                  <div class="form-group mt-4 pr-4">
                    <input id="email" type="email" name="email" value="{{email}}" class="pl-0 form-control">
                    <label for="email" class="text-white">email</label>
                  </div>
                  <div class="form-group pr-4">
                    <input id="password" type="password" name="password" class="pl-0 form-control">
                    <label for="password" class="text-white">lozinka</label>
                    <small class="text-white float-right">Ako ste zaboravili lozinku <a href="/forgot" class="text-warning text-decoration-none">kliknite ovde</a></small>
                  </div>
                  <div class="mt-sm-5 mt-2 pr-4">
                    <button class="btn btn-outline-primary btn-block mt-2 mt-sm-5 mr-4 text-uppercase text-white">prijavite se</button>
                  </div>


              </form>
              <!-- </form> -->
          </div><!-- blueoverlay -->
        </div><!-- backgroundImage -->
      </div><!-- col-8 -->
      <div class="loginAndRegisterBtn">
        <a href="/registracija" class="text-decoration-none text-white ml-3 mr-4 btn btn-outline-primary text-uppercase text-white">kreiraj nalog</a>
      </div>

    </div><!-- row -->
  </div><!-- container-fluid -->
</section>
