{{#each errors}}
  <div class="alert alert-danger text-center alert-dismissible fade show">{{text}}
  <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button></div>
  </div>
{{/each}}
<script>
function onSuccess(googleUser) {
      console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
    }
    function onFailure(error) {
      console.log(error);
    }
function renderButton() {
      gapi.signin2.render('my-signin2', {
      'scope': 'profile email',
      'width': 240,
      'height': 50,
      'longtitle': true,
      'theme': 'dark',
      'onsuccess': onSuccess,
      'onfailure': onFailure
      });
    }

</script>
<section id="">
  <div class="container-fluid">
    <div class="row mb-0">
      <!--  visible only on md and bigger -->
      <div class="d-none d-md-flex col-md-4" id="loginLeftSide">
        <div class="loginLeftSide">
          <a href="/">
          <img src="images/logoSmallSlice.svg" alt="labcube" class="smallLogo img-fluid">
          </a>
        </div>
        <div class="socialLogin pl-3 pr-0">
          <a href="#" class=""><i class="fab fa-twitter"></i></a>
          <a href="#" class=""><i class="fab fa-instagram"></i></a>
          <a href="#" class=""><i class="fab fa-facebook-f"></i></a>
          <a href="#" class=""><i class="fab fa-youtube"></i></a>
        </div><!-- social col-md-4 end -->
      </div><!-- login leftside end -->

      <div class="col-xs-12 col-sm-12 col-md-8 pl-0 pr-0">
        <div class="backgroundImage">
          <div class="blueOverlay" id="userLogin">

                <form action="/prijava" method="POST" class="registerForm d-flex flex-column justify-content-center login ml-5 mt-5 col-sm-9 col-md-8 col-10 col-lg-7 ">
                  <h2 class="mb-2">Prijava</h2>

                      <!-- <p class="mb-5"><a href="/google" class="d-inline"><img src="/images/googleBtn.png" class="text-left mt-4 d-block" style="height:40px;"></a></p> -->
                      <p class="mb-5"><a href="/google" class="d-inline" id="my-signin2"></a></p>
                  <div class="form-group">
                    <input id="email" type="email" name="email" value="{{email}}" class="pl-0 form-control">
                    <label for="email" class="text-warning">email</label>
                  </div>
                  <div class="form-group py-3">
                    <input id="password" type="password" name="password" class="pl-0 form-control">
                    <label for="password" class="text-warning">lozinka</label>
                    <small class="text-white float-right">Ako ste zaboravili lozinku <a href="/forgot" class="text-warning text-decoration-none">kliknite ovde</a></small>
                  </div>
                  <!-- <div class="row"> -->
                    <button class="btn btn-outline-primary btn-block my-4 text-uppercase text-white">prijavite se</button>
                  <!-- </div> -->


              </form>
              <!-- </form> -->
          </div><!-- blueoverlay -->
        </div><!-- backgroundImage -->
      </div><!-- col-8 -->
      <div class="" style="position:absolute; top:20px; right:30px;">
        <span class="text-white mt-5">Nemate nalog?<button class="ml-3 btn btn-outline-primary text-uppercase text-white"><a href="/registracija" class="text-decoration-none text-white">napravite nalog</a></span>
      </div>

    </div><!-- row -->
  </div><!-- container-fluid -->
</section>
