footer {
  background-image: url('../images/footer.svg');
  // overflow-y: hidden;
  background-repeat: repeat-x;
  background-position:center;
  // height: px-to-rem(570px);
  // position:relative;
  // margin-top: px-to-rem(60px);
    & > .overlay {
    background-color: $primary-color;
    // height: px-to-rem(580px);
    // position: absolute;
    // left:0;
    bottom: 0;
    opacity: 0.97;
    width: 100%;
    }
}

.logoFooter {
  margin:px-to-rem(36px) 0;
  width: px-to-rem(255px);
}

.fa-twitter,
.fa-youtube,
.fa-facebook-f,
.fa-instagram {
  color:$white-color;
  font-size: px-to-rem(29px);
  padding-right: px-to-rem(32px);
  margin-bottom: px-to-rem(41px);
}

.social {
  display: inline;
  padding-top: 50px;
}

.social a:last-child .fab:last-child {
  padding-right: 0;
}

.fab:hover {
  opacity: 0.8;
  text-decoration: none !important;
}

.analizeFooter {
  // position: absolute;
  font-size: px-to-rem(13px);
  column-count: 7;
  -webkit-column-count: 7;
  max-height: 550px;
  -moz-column-count: 7;
  color: $white-color;
  display:inline-block;
  margin-top: px-to-rem(15px);
  line-height: px-to-rem(26px);
  border-right: 1px solid $white-color;
  & > li a{
    color:red;
  }
}

.cookiealert {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0 !important;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    border-radius: 0;
    transform: translateY(100%);
    transition: all 500ms ease-out;
    color: #ecf0f1;
    background: #212327;
    background-color: rgba(33,35,39, .7);
    // background-color: rgba(196, 168, 24, .9);
}


.cookiealert.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
    transition-delay: 1000ms;
}

.cookiealert a {
    text-decoration: none;
    color:white;
}

.cookiealert .acceptcookies {
    margin-left: 10px;
    vertical-align: baseline;
}



.linksFooter {
  font-size: px-to-rem(13px);
  color: $white-color;
  display:inline-block;
  line-height: px-to-rem(22px);
  margin-top: px-to-rem(15px);
  line-height: px-to-rem(26px);
    & > li a:hover {
      opacity: 0.7;
    }
}

.disclaimer {
  // position: absolute;
  top:70px;
  font-size: px-to-rem(12px);
  color: $white-color;
  margin-top: px-to-rem(12px);
  margin-bottom: px-to-rem(16px);
}
