#google-map {
  position: relative;
  width: 100%;
}

#map {
  height: px-to-rem(720px);
  min-height: calc(100vh - 210px);
  position: relative;
  width: 100%;
}


// google map header
.labinfo  {
  position:absolute;
  top:0;
  left:0;
  background-color: $primary-color;
  opacity:0.9;
  height: px-to-rem(83px);
  width:100%;
}

.mapTitle {
  line-height: px-to-rem(83px);
  color:$white-color;
  font-size: px-to-rem(30px);
}

.labMapInfo {
  color:$white-color;
  font-size: px-to-rem(11px);
  text-transform: uppercase;
}

// numbers counter
.num {
  color:$white-color;
  // opacity: 0;
}
.numOn {
  opacity:1;
  color:$white-color;
  font-size: px-to-rem(20px);
  font-weight: 500;
}


/* google map infowindow
***************************************************************/

#labInfoWindow {
  min-width: px-to-rem(310px);
  height: px-to-rem(140px);
  padding-top: px-to-rem(12px);
  padding-left: px-to-rem(12px);
}

#labInfoWindowSelected {
  @extend #labInfoWindow;
  height: px-to-rem(250px);
}


.labInfoWindowTitle {
  font-size: 1.1rem;
  color:$primary-color;
  font-weight: 500;
  line-height: px-to-rem(19px);
}

.labInfoWindowFooter {
  background-color: $primary-color;
  height: px-to-rem(36px);
  min-width: px-to-rem(350px);
  // width:100%;
  position: absolute;
  bottom: px-to-rem(0px);
  left: 0;
  color:$white-color;
  padding-left: px-to-rem(12px);
  padding-right: px-to-rem(12px);
  border-bottom-left-radius: px-to-rem(4px);
  & > .radnoVreme {
    display: inline-block;
    padding-top: px-to-rem(11px);
    font-size: px-to-rem(12px);
    font-weight: 500;
  }
  & > .status {
    display: inline-block;
    float:right;
    padding-top: px-to-rem(10px);
    padding-right: px-to-rem(12px);
    font-weight: 500;
    // &::before {
    //   content:'';
    //   width: px-to-rem(10px);
    //   height: px-to-rem(10px);
    //   border-radius: px-to-rem(20px);
    //   background-color: $button-green;
    //   float:left;
    //   margin-right: px-to-rem(8px);
    //   margin-top: px-to-rem(3px);
    // }
  }
}

.labInfoWindowFooterSelected {
  @extend .labInfoWindowFooter;
  height: 140px;
}

.radnoVremeDetalji {
  display: block;
  height: px-to-rem(180px);
  // min-height: px-t-rem(300px);
  top:px-to-rem(-132px);
  right:-350px;
  width:px-to-rem(360px);
  opacity: 1;
  z-index: 2289;
  transition: .4s linear;
  background-color: $primary-color;
  position: absolute;
  & > p {
    // display: inline-block;
    // line-height: px-to-rem(14px);
    font-weight: 500;
    padding-left: px-to-rem(6px);
    margin-bottom: px-to-rem(4px);
    margin-top: px-to-rem(4px);
    font-size: 13px;
    &.open {
      background-color: $button-green;
      width: 100%;
      padding-top:4px;
      padding-bottom: 4px;
      color:$infoWindowContactColor;
      // color:$white-color;
      font-weight: 900;
    }
    &.closed {
      background-color: $danger;
      width: 100%;
      padding-top:4px;
      padding-bottom: 4px;
      color:$infoWindowContactColor;
      font-weight: 900;
      position: relative;
    }
    &.closedSoon {
      background-color: $orange;
      width: 100%;
      padding-top:4px;
      padding-bottom: 4px;
      color:$infoWindowContactColor;
      font-weight: 900;
      position: relative;
    }
  & > span {
    display: inline-block;
    padding-left: px-to-rem(10px);
    }
  }
  & > p:first-child {
    margin-top: 12px;
  }
  & > p:last-child {
    margin-bottom: 12px;
  }
}

.labInfoWindowFooter:hover {
  cursor:pointer;
  & .radnoVremeDetalji {
      opacity: 1;
      border-top-right-radius: px-to-rem(4px);
      border-bottom-right-radius: px-to-rem(4px);
      // right:-110px;
      right:0;
    }
}

.labInfoWindowWorkingHoursIcon {
  margin: px-to-rem(10px) px-to-rem(8px) 0 px-to-rem(4px);
  float:left;
}

.labInfoWindowOsiguranje{
  padding-right: px-to-rem(6px);
  margin-bottom: px-to-rem(2px);
  display: inline-block;
}

.labInfoWindowVerified {
  // @extend .labInfoWindowOsiguranje;
  margin-left:-2px;
  padding-right: 6px;
  margin-bottom: 2px;
}

.labAntigenIcon {
  @extend .labInfoWindowOsiguranje;
  height: 24px;
  width:24px;
}

.labLogoInfoWindow {
  height: px-to-rem(53px);
  width: px-to-rem(48px);
  float:left;
  margin-top: 2px;
  margin-right: px-to-rem(8px);
  margin-bottom: px-to-rem(8px);
}

.labInfoWindowContactGroup {
  margin-top:px-to-rem(8px);
}

.labInfoWindow {
  // flex:1 1 0;
}

.labInfoWindowAdresa,
.labInfoWindowGrad,
.labInfoWindowTelefoni ,  {
  font-size: px-to-rem(13px);
  line-height: px-to-rem(17px);
  display: block;
  margin-bottom: px-to-rem(2px);
  font-weight: 500;
  color:$infoWindowContactColor;
}

.gm-style-iw {
background-color: $white-color;
border-top-left-radius: px-to-rem(4px);
border-bottom-left-radius: px-to-rem(4px);
min-width: 333px !important;
// width:470px !important;

}

/* lab search results
*********************************************************/

#labDetails {
  // margin-top: 60px;
  // padding-top: 20px;
  z-index: 50;
  align-items: center;
  width: 100%;
  h1 {
    margin-bottom: 40px;
  }
  & h1 {
    margin-top: 60px;
    //moves labname down on labdetails page
  }
}

.whInside {
  font-size: 10px;
}

.lab-card {
  border:1px solid $labBoxBorder;
  background-color: $white-color;
  opacity: .95;
  // max-width:400px;
  margin-bottom: px-to-rem(16px);
  margin-right:px-to-rem(16px);
  padding: 16px;
  display: flex;
  flex:1 1 0;
  flex-direction: column;
  min-width: 255px;
  position: relative;
  flex-wrap: wrap;
}

.cardBenefits {
  @extend .lab-card;
  min-height: 230px;
  margin-bottom: 40px;
  justify-content:space-between;
  align-items: center;
  -webkit-box-shadow: 18px 17px 20px -26px rgba(0,0,0,0.75);
-moz-box-shadow: 18px 17px 20px -26px rgba(0,0,0,0.75);
box-shadow: 18px 17px 20px -26px rgba(0,0,0,0.75);
margin-right: 12px;
}

.labInfoFooter {
  height: px-to-rem(36px);
  flex:1; //this is new
  color:$fontColorResultsTable;
  margin-bottom: 8px;
  border-bottom: 1px solid rgba(31,31,31,.1);
  cursor:pointer;
  &:hover .labInfoRadnoVremeDetalji{
    opacity: .9;
    cursor: pointer;
  }
  & > .radnoVreme {
    display: inline-block;
    padding-top: px-to-rem(11px);
    font-size: px-to-rem(12px);
    font-weight: 500;
    color:$infoWindowContactColor;
  }
  & > .status {
    display: inline-block;
    float:right;
    padding-top: px-to-rem(10px);
    padding-right: 4px;
    padding-bottom: 5px;
    font-weight: 500;
    font-size: 12px;
    color:$infoWindowContactColor;
  }
}

div.status.open::before {
    content:'';
    width: px-to-rem(12px);
    height: px-to-rem(12px);
    border-radius: px-to-rem(20px);
    float:left;
    background-color: $button-green;
    margin-right: px-to-rem(6px);
    margin-top: px-to-rem(4px);
    z-index: 10000;
}

div.status.closed::before {
    content:'';
    width: px-to-rem(12px);
    height: px-to-rem(12px);
    border-radius: px-to-rem(20px);
    float:left;
    background-color: $danger;
    margin-right: px-to-rem(6px);
    margin-top: px-to-rem(4px);
    z-index: 22222;
}

div.status.closedSoon::before {
    content:'';
    width: px-to-rem(12px);
    height: px-to-rem(12px);
    border-radius: px-to-rem(20px);
    float:left;
    background-color: $orange;
    margin-right: px-to-rem(6px);
    margin-top: px-to-rem(4px);
}


.btnLabDetails {
  background-color: $button-green;
  color:$white-color;
  text-transform: uppercase;
  font-size: px-to-rem(14px);
  &:hover {
    background-color: $primary-color;
    color:$white-color;
  }
}

.btnLabDetailsBig {
  @extend .btnLabDetails;
  height: 40px;
  font-size: px-to-rem(16px);
  &:hover {
    background-color: darken($button-green, 12%);
  }
}

.labInfoRadnoVremeDetalji {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  opacity: 0;
  z-index: 9;
  transition: .3s linear;
  background-color: $primary-color;
  position:absolute;
  top:0px;
  left:0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  h5 {
    color:$white-color;
    margin-top: 10px;
  }
  & > p {
    margin-bottom: px-to-rem(4px);
    color:$white-color;
    font-size: 14px;
    font-weight: 500;
    &.open {
      background-color: $button-green;
      width: 100%;
      color:$infoWindowContactColor;
      font-weight: bold;
      margin: 0;
      padding: 5px;
    }
    &.closed {
      background-color: $danger;
      width: 100%;
      color:$infoWindowContactColor;
      font-weight: bold;
      margin: 0;
      padding: 5px;
    }
    &.closedSoon {
      background-color: $orange;
      width: 100%;
      color:$infoWindowContactColor;
      font-weight: bold;
      margin: 0;
      padding: 5px;
    }
  & > span {
    display: inline-block;
    padding-left: px-to-rem(10px);
    }
  }
}
