#header {
  display:flex;
  flex-direction:column;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 501px;
	background: radial-gradient(circle, $secondary-color 0%, $primary-color 100%);
  clip-path: polygon(100% 0%, 0% 0% , 0.00% 99.24%, 1.43% 99.22%, 2.86% 99.13%, 4.29% 99.00%, 5.71% 98.82%, 7.14% 98.58%, 8.57% 98.31%, 10.00% 97.99%, 11.43% 97.63%, 12.86% 97.24%, 14.29% 96.83%, 15.71% 96.39%, 17.14% 95.94%, 18.57% 95.48%, 20.00% 95.02%, 21.43% 94.55%, 22.86% 94.10%, 24.29% 93.67%, 25.71% 93.26%, 27.14% 92.87%, 28.57% 92.52%, 30.00% 92.20%, 31.43% 91.93%, 32.86% 91.70%, 34.29% 91.52%, 35.71% 91.39%, 37.14% 91.31%, 38.57% 91.29%, 40.00% 91.32%, 41.43% 91.40%, 42.86% 91.54%, 44.29% 91.73%, 45.71% 91.97%, 47.14% 92.25%, 48.57% 92.57%, 50.00% 92.93%, 51.43% 93.32%, 52.86% 93.73%, 54.29% 94.17%, 55.71% 94.63%, 57.14% 95.09%, 58.57% 95.55%, 60.00% 96.01%, 61.43% 96.46%, 62.86% 96.89%, 64.29% 97.31%, 65.71% 97.69%, 67.14% 98.04%, 68.57% 98.35%, 70.00% 98.62%, 71.43% 98.85%, 72.86% 99.03%, 74.29% 99.15%, 75.71% 99.22%, 77.14% 99.24%, 78.57% 99.21%, 80.00% 99.12%, 81.43% 98.98%, 82.86% 98.78%, 84.29% 98.54%, 85.71% 98.26%, 87.14% 97.94%, 88.57% 97.57%, 90.00% 97.18%, 91.43% 96.76%, 92.86% 96.32%, 94.29% 95.87%, 95.71% 95.41%, 97.14% 94.94%, 98.57% 94.48%, 100.00% 94.04%);
    .navbar-nav{
      a {
        padding-right: px-to-rem(16px);
      }
      .checkout {
        margin-top: 4px;
        display: flex;
        background-color: transparent;
        justify-content: center;
        align-items: center;
        align-self: center;
        border:1px solid $white-color;
        border-radius: 6px;
        width: 180px;
        height: 30px;
        padding: 0 !important;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .container {
      margin-bottom: auto;
    }
    .dropdown-menu {
      background-color: transparent;
      border:1px solid rgba(255,255,255,.4);
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0;
    }
    .dropdown-item {
      color:$white-color;
      &:hover {
        background-color: $primary-color;
      }
    }
}


#smallHeader {
  @extend #header;
  clip-path: none;
  height: 240px;
  // background-image: url(../images/innerHeaderHero.jpg);
  background-image: url(../images/innerHeaderHero.png);
  background-repeat: repeat-x;
  background-size: cover;
  background-position: center;
  z-index: 999;
  & > .overlay {
    background-color: $primary-color;
    height: 240px;
    position: absolute;
    top:0;
    bottom: 0;
    // opacity: 0.93;
    width: 100%;
    }
  .container {
    margin-bottom: 0;
  }
}
#smallHeader2 {
  @extend #header;
  clip-path: none;
  height: 240px;
  background-image: url(../images/innerHeaderHero.png);
  background-repeat: repeat-x;
  background-size: cover;
  background-position: 20% 40%;
  & > .overlay {
    background-color: $primary-color;
    height: 240px;
    position: absolute;
    top:0;
    bottom: 0;
    opacity: 0.93;
    width: 100%;
    }
}

#smallHeader3 {
  @extend #header;
  clip-path: none;
  height: 240px;
  // background-image: url(../images/innerHeaderHero.jpg);
  background-image: url(../images/innerHeaderHero.png);
  background-repeat: repeat-x;
  background-size: cover;
  background-position: center;
  z-index: 999;
  & > .overlay {
    background-color: $primary-color;
    height: 240px;
    position: absolute;
    top:0;
    bottom: 0;
    // opacity: 0.93;
    width: 100%;
    }
  .container {
    margin-bottom: 0;
  }
}

  
.heroImage {
  position:absolute;
  top:-121px; 
  left:0px; 
  width:600px;
  pointer-events: none;
}

#smallHeaderThanks {
  @extend #header;
  clip-path: none;
  height: 70px;
}

#smallHeaderLab {
  // @extend #header;
  height: 500px;
  width: 100%;
  background-image: url('../images/labdashboard.jpg');
  background-position:0 -500px;
  background-size:cover;
  background-repeat: no-repeat;
  .container {
    margin-bottom: 0;
    padding: 0;
  }
  .table thead th {
    border-bottom: 1px solid white;
  }
}

// #smallHeaderTumacenje {
//   @extend #smallHeaderLab;
//   background-image: url('../images/labdashboard.jpg');
//   background-position:0 -260px;
// }
