#header {
  display:flex;
  flex-direction:column;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 501px;
	background: radial-gradient(circle, $secondary-color 0%, $primary-color 100%);
    .navbar-nav{
      a {
        padding-right: px-to-rem(16px);
      }
      .checkout {
        margin-top: 4px;
        display: flex;
        background-color: transparent;
        justify-content: center;
        align-items: center;
        align-self: center;
        border:1px solid $white-color;
        border-radius: 50px;
        width: 30px;
        height: 30px;
        padding: 0 !important;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .container {
      margin-bottom: auto;
    }
    .dropdown-menu {
      background-color: transparent;
      border:1px solid rgba(255,255,255,.4);
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0;
    }
    .dropdown-item {
      color:$white-color;
      &:hover {
        background-color: $primary-color;
      }
    }
}


#smallHeader {
  @extend #header;
  height: 240px;
  .container {
    margin-bottom: 0;
  }
}

#smallHeaderThanks {
  @extend #header;
  height: 70px;
}

#smallHeaderLab {
  // @extend #header;
  height: 450px;
  width: 100%;
  background-image: url('../images/labdashboard.jpg');
  background-position:0 -350px;
  background-size:cover;
  background-repeat: no-repeat;
  .container {
    margin-bottom: 0;
    padding: 0;
  }
  .table thead th {
    border-bottom: 1px solid white;
  }
}

#smallHeaderTumacenje {
  @extend #smallHeaderLab;
  background-image: url('../images/labdashboard.jpg');
  background-position:0 -260px;
}
