@media (max-width: 575px) {
  %searchHelperClass {
    font-size: px-to-rem(10px);
  }

  #smallHeader3 {
    height: 333px;
  }

  // .legendMap {
  //   top:160px;
  // }

  #bannerDetails {
    display:block;
  }

  .bigNumbers {
    font-size: 40px;
  }

  #keyBenefits {
    background: none;
  }

  .wpwl-group-expiry, .wpwl-group-cvv {
    width: 100%;
  }


  .fileTypes {
    bottom:0px;
  }

  .doctorDetailsInner {
    display: block;
    border-left: none;
    background-color: transparent;
  }

  .interpretationDate {
    font-size: 1.5rem;
    text-align: center;
  }


  .mapTitle {
    font-size: 1.5rem;
  }
  .analizeSearchFilter {
    right:px-to-rem(100px);
  }
  .search {
    font-size: px-to-rem(18px);
  }

  // velicina faq naslova
  #faq h2 {
    font-size: 1.4rem;
  }
  // velicina naslova u faq sekciji
  #accordion > h5 {
    font-size: 1rem;
  }

  .blueOverlay h2 {
    font-size: 1.8rem;
  }

  .logoFull {
    width: 100%;
    
  }

  .logoFullAdmin {
    align-self: center;
    position: absolute;
  }
  
  .logoFullInner {
    width: 80%;
  }

  #sidebarMenu {
    display: none;
  }

  .editorName {
    // float:right;
  }

  .aboutUs {
    width: 240px;
  }

  .searchFieldContainer {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // width: 100%;
    // margin-top: 40px;
    top:20px;
  }

  .navbar-nav {
    // background: radial-gradient(circle, $secondary-color 0%, $primary-color 3%);
    background-color: rgba(29, 136, 229, 1);
    z-index: 20;
    position:relative;
    width: 100%;
    padding: 20px;
    padding-top:10px;
    padding-left: 0;
  }

  .smallPosition {
    position: absolute;
    top:120px;
    z-index: -220;
    pointer-events: none;
  }

  .groupTitle {
    font-size: px-to-rem(38px);
  }

  // footer {
  //   height: px-to-rem(420px);
  //     & > .overlay {
  //     height: px-to-rem(420px);
  //     }
  // }


.linksFooter {
  padding-top: 20px;
  text-align: center;
}

.disclaimer {
  text-align: center;
}

  .social {
    padding-top: 26px;
  }
  .disclaimer {
    position: relative;
    top:0;
  }


  .cityMarker {
  // left:1rem;
  display: none;
  }

  .logoFooter {
    width: px-to-rem(120px);
  }
  .linksFooter {
    margin:6px 0;
    & li {
      float:left;
      margin-right: px-to-rem(16px);
    }
  }
  .fa-twitter,
  .fa-youtube,
  .fa-facebook-f,
  .fa-instagram {
    padding-right: 1rem;
    margin-bottom: px-to-rem(36px);
    font-size: 24px;
  }

  #sideBanner, #groupIcon {
    display: none;
  }
  .smallLogoLogin {
    display: block;
  }

  .smallScrRegister {
    margin-top: 10px;
  }

}// media max-width:575 end


@media (min-width: 170px) and (max-width:375px) {

  #bannerDetails {
    display:block;
  }

  #keyBenefits {
    background: none;
  }

  // .legendMap {
  //   top:160px;
  // }

  .bigNumbers {
    font-size: 40px;
  }

  div.mobile-wrapper {
      position: relative;
      padding-top: 25px;
      padding-bottom: 73.5%;
      height: 0;
  }

  div.mobile-wrapper iframe {
      box-sizing: border-box;
      background: url("/images/imac2.svg") center center no-repeat;
      // background-size: contain;
      padding:4% 4.1% 24.1%;
      position: absolute;
      top: 0;
      left: 0px;
      width:100%;
      height: 100%;
  }



  .priceFromMobile {
    display: block;
    margin: 0 auto;
    margin-bottom: 1.3rem;
  }

  .callToActionNewAcc {
    clear:both;
    margin:0 auto;
    text-align: center;
    display:block;
    width: 100%;
  }

  .doctorDetails {
    display: block;
    background-color: transparent;
    // margin-bottom: 600px;
  }

  .doctorDetailsInner {
    display: block;
    border-left: none;
    background-color: transparent;
  }

  .interpretationDate {
    font-size: 1.5rem;
    text-align: center;
  }

  .logoFull {
    // width: 100%;
    align-self: center;
    position: absolute;
  }
  .logoFullInner {
    width: 80%;
  }

  .altNameResult, .groupNameResult, .hospitalResult {
    display:none
  }

  .priceRange {
    font-size: 10px;
  }

  .addAnalysis, .deleteAnalysis .removeAnalysis {
    width: 70px;
  }

  .aboutUs {
    min-width: 200px;
  }

  #resultsGroupDetails .btn, #resultsLabDetails .btn, #labDetailsInner .btn {
    font-size: 0.8125rem;
    padding: 10px 0;
}

  #results .btn {
    padding: 10px 0;
  }

  #resultsLabDetails .removeAnalysis, #labDetailsInner .removeAnalysis {
    font-size: 0.8125rem;
    padding: 10px 20px;
}



  .analysisDescription > li {
    list-style-type: none;
    margin-bottom: px-to-rem(25px);
    &>h5 {
      color:$fontColorResultsTable;
      font-size: px-to-rem(22px);
    }
    &:nth-child(1) {
      @include liItemImage('../images/opis.svg', 80px, 8px 0, );
      background: none;
      padding-left: 10px;
    }
    &:nth-child(2) {
      // @include liItemImage('../images/uzorak.svg', 84px);
    background: none;
    padding-left: 10px;
    }
    &:nth-child(3) {
      // @include liItemImage('../images/kadaSeIspituje.svg', 80px)
      background: none;
      padding-left: 10px;
    }
    &:nth-child(4) {
      // @include liItemImage('../images/priprema.svg', 80px)
      background: none;
      padding-left: 10px;
    }
    &:nth-child(5) {
      // @include liItemImage('../images/priprema.svg', 80px)
      background: none;
      padding-left: 10px;
    }
    &:nth-child(6) {
      // @include liItemImage('../images/detaljanOpis.svg', 80px)
      background: none;
      padding-left: 10px;
    }
  }

  .editorName {
    float:right;
  }

  .editorImg {
    width: 100%;
  }

  #sidebarMenu {
    display: none;
  }

  .groupTitle {
    font-size: px-to-rem(38px);
  }
  #backToTopBtn {
    right:30px;
  }
  .smallLogoLogin {
    display: block;
  }

  .smallScr {
    margin-top:10px;
  }

  .smallScrRegister {
    margin-top: 10px;
  }

  .searchFieldContainer {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // width: 100%;
    // margin-top:40px;
  }

  .navbar-nav {
    // background: radial-gradient(circle, $secondary-color 0%, $primary-color 3%);
    background-color: rgba(29, 136, 229, .9);
    z-index: 20;
    position:relative;
    width: 100%;
    padding: 20px;
    padding-top:10px;
    padding-left: 10px;
  }

  .smallPosition {
    position: absolute;
    top:120px;
    z-index: 0;
    pointer-events: none;
  }

  .groupTitle {
    font-size: px-to-rem(38px);
  }

  .smallLogoLogin {
    top:10px;
  }

  .loginAndRegisterBtn {
    top:24px;
    right:4px;
  }

  .registerForm {
    margin-top: 60px;
  }

  .smallScr {
    margin-top:10px;
  }
  .smallScrRegister {
    margin-top: 10px;
  }


  .aboutUs {
    width: 240px;
  }


}


@media (min-width: 375px) and (max-width: 574px) {

  .aboutUs {
    max-width: 140px;
  }

  #keyBenefits {
    background: none;
  }

  .bigNumbers {
    font-size: 40px;
  }
  // .legendMap {
  //   top:160px;
  // }

  .logoFull {
    // width: 70%;
    // width: 100%;
    align-self: center;
    position: absolute;
    margin-bottom:px-to-rem(10px);
    // margin:0 auto;
  }
  .logoFullInner {
    width: 80%;
  }
  #bannerDetails {
    display:block;
  }
  #headlineMessage {
    // line-height: 50px;
    font-size: 1rem;
  }

  .fileTypes {
    bottom:0px;
  }

  .interpretationDate {
    font-size: 1.5rem;
    text-align: center;
  }

.editorName {
  // text-align: center;
  // padding:0 px-to-rem(24px);
}

.doctorDetailsInner {
  display: block;
  border-left: none;
  background-color: transparent;
}

    div.mobile-wrapper {
        position: relative;
        padding-top: 25px;
        padding-bottom: 73.5%;
        height: 0;
    }

    div.mobile-wrapper iframe {
        box-sizing: border-box;
        background: url("/images/imac2.svg") center center no-repeat;
        // background-size: contain;
        padding:9% 13.8% 28.1%;
        // padding:4% 4.1% 24.1%;
        position: absolute;
        top: 0;
        left: 0px;
        width:100%;
        height: 100%;
    }

  .priceFromMobile {
    display: block;
    margin: 0 auto;
    margin-bottom: 1.3rem;
  }

  .callToActionNewAcc {
    clear:both;
    margin:0 auto;
    text-align: center;
    display:block;
    width: 100%;
  }

  .doctorDetails {
    display: block;
    background-color: transparent;
    border-left:none;
  }

  .analysisDescription > li {
    list-style-type: none;
    margin-bottom: px-to-rem(25px);
    &>h5 {
      color:$fontColorResultsTable;
      font-size: px-to-rem(22px);
    }
    &:nth-child(1) {
      // @include liItemImage('../images/opis.svg', 80px, 8px 0, )
      background: none;
      padding-left: 0;
      padding-right:0;
    }
    &:nth-child(2) {
      // @include liItemImage('../images/uzorak.svg', 84px);
    background: none;
    padding-left: 0;
    padding-right:0;
    }
    &:nth-child(3) {
      // @include liItemImage('../images/kadaSeIspituje.svg', 80px)
      background: none;
    padding-left: 0;
    padding-right: 0;
    }
    &:nth-child(4) {
      // @include liItemImage('../images/priprema.svg', 80px)
      background: none;
      padding-left: 0;
      padding-right:0;
    }
    &:nth-child(5) {
      // @include liItemImage('../images/priprema.svg', 80px)
      background: none;
      padding-left: 0;
      padding-right:0;
    }
    &:nth-child(6) {
      // @include liItemImage('../images/detaljanOpis.svg', 80px)
      background: none;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .editorImg {
    // width: 60%;
    display: block;
    margin:0 auto;
    float:clear;
    // border:1px solid $primary-color;
    // border-radius: 300px;
  }

  .altNameResult, .groupNameResult, .hospitalResult {
    display:none
  }

  .groupTitle {
    font-size: px-to-rem(38px);
  }

  #sidebarMenu {
    display: none;
  }

  .editorName {
    // float:right;
  }

  #groupIcon {
    display:none;
  }

  .smallScr {
    margin-top:10px;
  }
  .smallScrRegister {
    padding-top: 60px;
  }

  .backgroundImageRegister {
    background-size: auto;
  }

  #backToTopBtn {
    right:30px;
  }
  .smallLogoLogin {
    display: block;
  }
  .labScorePadding {
    padding-left: 15px;
  }

  .labFeatures {
      border-right: none;
      border-radius: 20px;
  }

  .labFeaturesPadding {
    padding-right: 15px;
  }

  .feedback {
    border-radius: 20px;
  }

  .searchFieldContainer {
    position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
      width: 100%;
      margin-top: 10px;
  }

  .navbar-nav {
    // background: radial-gradient(circle, $secondary-color 0%, $primary-color 3%);
    background-color: rgba(29, 136, 229, .9);
    z-index: 20;
    position:relative;
    width: 100%;
    padding: 20px;
    // padding-top:10px;
    // padding-left: 0;
  }

  #smallHeader, #smallHeader2 {
    height: 300px;
  }

  #smallHeader > .overlay {
    height: 300px;
  }

  #smallHeader2 > .overlay {
    height: 300px;
  }

  .searchFieldContainerInner {
    position: absolute;
    top:272px;
    align-self: center;
  }

  .smallPosition {
    position: absolute;
    top:120px;
    z-index: 0;
  }

  .groupTitle {
    font-size: px-to-rem(38px);
  }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {

  div.mobile-wrapper {
      position: relative;
      padding-top: 25px;
      padding-bottom: 73.5%;
      height: 0;
  }

  #keyBenefits {
    background: none;
  }

  .bigNumbers {
    font-size: 40px;
  }

  // .legendMap {
  //   top:160px;
  // }

  .fileTypes {
    bottom:0px;
  }

  .editorName {
    text-align: center;
  }

  .doctorDetailsInner {
    display: block;
    border-left: none;
    background-color: transparent;
  }

  .interpretationDate {
    font-size: 1.5rem;
    text-align: center;
  }

  div.mobile-wrapper iframe {
      box-sizing: border-box;
      background: url("/images/imac2.svg") center center no-repeat;
      // background-size: contain;
      padding:11% 20.3% 29.1%;
      position: absolute;
      top: 0;
      left: 0px;
      width: 113%;
      height: 104%;
  }

  #bannerDetails {
    display:block;
  }

  .priceFromMobile {
    display: block;
    margin: 0 auto;
    margin-bottom: 1.3rem;
  }


  .doctorDetails {
    display: block;
    background-color: transparent;
    border-left:none;
  }

  #sidebarMenu {
    display: none;
  }

  %searchHelperClass {
    font-size: px-to-rem(10px);
  }
  .mapTitle {
    font-size: 1.5rem;
  }
  .analizeSearchFilter {
    right:px-to-rem(100px);
  }
  .search {
    font-size: px-to-rem(18px);
    // margin-top: px-to-rem(20px);
  }

  .searchFieldContainer {
    // position: absolute;
    //    top: 50%;
    //    left: 50%;
    //    transform: translate(-50%, -50%);
    //   width: 100%;
    //     margin-top: 100px;
    padding:0;
  }

  .navbar-nav {
    // background: radial-gradient(circle, $secondary-color 0%, $primary-color 3%);
    background-color: rgba(29, 136, 229, .9);
    z-index: 20;
    position:relative;
    width: 100%;
    padding: 20px;
    // padding-bottom: 10px;
    // padding-top:0;
    // padding-left:10px;
  }

  #smallHeader, #smallHeader2 {
    height: 300px;
  }

  #smallHeader > .overlay {
    height: 300px;
  }

  #smallHeader2 > .overlay {
    height: 300px;
  }

  .searchFieldContainerInner {
    position: absolute;
    top:272px;
    align-self: center;
  }

  .smallPosition {
    position: absolute;
    top:120px;
    z-index: 0;
  }

  .groupTitle {
    font-size: px-to-rem(38px);
  }
 
  .smallLogoLogin {
    display: block;
  }
  #groupIcon {
    display:none;
  }
  .groupTitle {
    font-size: px-to-rem(38px);
  }
  .linksFooter {
    padding-top: 20px;
    text-align: center;
    & li {
      float:left;
      margin-right: px-to-rem(16px);
    }
  }

  .disclaimer {
    position: relative;
    top:0;
  }
  .logoFooter {
    width: px-to-rem(125px);
  }

  #sideBanner {
    display: none;
  }

  .labScorePadding {
    padding-left: 15px;
  }

  .labFeatures {
      border-right: none;
      border-radius: 20px;
  }

  .labFeaturesPadding {
    padding-right: 15px;
  }

  .feedback {
    border-radius: 20px;
  }

  .editorImg {
    // width: 60%;
    display: block;
    margin:0 auto;
    float:clear;
    // border:1px solid $primary-color;
    // border-radius: 300px;
  }
  .logoFull {
    // width: 70%;
    // width: 100%;
    align-self: center;
    position: absolute;
    // margin-bottom:px-to-rem(80px);
    // margin:0 auto;
  }
  .logoFullInner {
    width: 80%;
  }

}// query end

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width:991px) {
  // footer {
  //   height: px-to-rem(470px);
  //     & > .overlay {
  //     height: px-to-rem(470px);
  //     }
  // }
  #bannerDetails {
    display:block;
  }

  .bigNumbers {
    font-size: 40px;
  }

  #keyBenefits {
    background: none;
  }

  // .legendMap {
  //   top:160px;
  // }

  .doctorDetailsInner {
    display: block;
    border-left: none;
    background-color: transparent;
  }


  .interpretationDate {
    font-size: 1.5rem;
    text-align: center;
  }
  
  div.mobile-wrapper {
      position: relative;
      padding-top: 25px;
      padding-bottom: 73.5%;
      height: 0;
  }

  div.mobile-wrapper iframe {
      box-sizing: border-box;
      background: url("/images/imac2.svg") center center no-repeat;
      // background-size: contain;
      padding:18% 30% 31.1%;
      position: absolute;
      top: 0;
      left: 0px;
      width: 113%;
      height: 104%;
  }

  .doctorDetails {
    display: block;
    background-color: transparent;
    border-left:none;
  }

  .editorImg {
    // width: 60%;
    display: block;
    margin:0 auto;
    float:clear;

    // border:1px solid $primary-color;
    // border-radius: 300px;
  }



  .disclaimer {
    position: relative;
    top:0;
  }

  #sidebarMenu {
    display: none;
  }

  .social {
    float:right;
  }

  .linksFooter  li {
      float:left;
      margin-right: px-to-rem(16px);
    }

  .logoFooter {
    width: px-to-rem(181px);
  }

  #sideBanner {
    display: none;
  }

 }// query end

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width:1200px) {
  .disclaimer {
    top:100px;
  }

  div.mobile-wrapper {
      position: relative;
      padding-top: 25px;
      padding-bottom: 73.5%;
      height: 0;
  }

  .searchFieldContainer {
    margin-top:0;
  }

  div.mobile-wrapper iframe {
      box-sizing: border-box;
      background: url("/images/imac2.svg") center center no-repeat;
      // background-size: contain;
      padding:8% 15% 28.1%;
      position: absolute;
      top: 0;
      left: 0px;
      width: 113%;
      height: 104%;
  }

  // footer {
  //   height: px-to-rem(590px);
  //     & > .overlay {
  //     height: px-to-rem(590px);
  //     }
  // }
  .logoFooter {
    width: px-to-rem(181px);
  }

}// query end

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .disclaimer {
    top:80px;
  }
.logoFooter {
  width:px-to-rem(181px);
}

// footer {
//   height: px-to-rem(550px);
//     & > .overlay {
//     height: px-to-rem(550px);
//     }
// }

}// query


// Large devices (desktops, 992px and up) MD
@media (max-width: 992px) {
  // footer {
  //   height: 320px;
  //     & > .overlay {
  //     height: 320px;
  //   }
  // }
  //
  // .linksFooter {
  //   margin:0 auto;
  //   & li {
  //     float:left;
  //     margin-right: px-to-rem(16px);
  //   }
  // }
  #keyBenefits {
    background: none;
  }
}

// Medium devices (tablets, 768px and down) SM
@media (max-width: 768px) {
  // .analizeSearchFilter,
  // .laboratorijeSearchFilter  {
  //   font-size: .8rem;
  // }
  // .analizeSearchFilter {
  //   right:px-to-rem(120px);
  // }
  // #labDetailsLabSelected {
  //   position:relative;
  //   display: flex;
  //   flex-direction: row;
  //   width: auto;
  //   top:0px;
  //   left:0px;
  //   flex-wrap: nowrap;
  // }
  // .labSelectedWrapper {
  //   height: auto;
  // }
  // .lab-card {
  //   margin-right: 8px;
  // }
}
