@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin-ext');

$font: 'Roboto', sans-serif;
$accordionHover: #f7f8fb;
$primary-color:#1D88E5;
$secondary-color: #5B8EE8;
$button-green: #55D159;
$button-grey: #8F8F8F;
$white-color: #FFF;
$line-color: #E0E4EC;
$infoWindowContactColor: #1F1F1F;
$tableHover: #FAFAFA;
$fontColorResultsTable: #3B3B3B;
$smallDisabled: #9C9C9C;
$cardHeader: #4B4B4B;
$tooltipBorder: #005AFA;
$labBoxBorder: #E6E6E6;
$labDetailsTitleBckg: #F5F8FB;
$labDetailsTitle: #042A37;
$border: #e1e1e1;
$orange: #FF9600;
$danger: #FF6F6F;
